<div class="field-section" <% if(data.dataName){ %> data-name="<%= data.dataName %>" <% } %>>
	<% if(data.label){ %><div class="input-label"><%= data.label %></div><% } %>
	<div class="input-wrapper">
		<% if(!data.textArea){ %>
		<input 
			type="text" 
			class="input-text <% if(data.inputClass) { %><%= data.inputClass %> <% } %>" 
			<% if(data.placeholder){ %>placeholder="<%= data.placeholder %>" <% } %> 
			<%= sb.setTemplate('attributes', {data: data}) %>

		></input>
		<% } else { %>
		<textarea  class="<% if(data.inputClass) { %><%= data.inputClass %> <% } %>" 
		<% if(data.placeholder){ %>placeholder="<%= data.placeholder %>" <% } %> 
		<%= sb.setTemplate('attributes', {data: data}) %>
		 ></textarea>
		<% } %>
	</div>
	<% if(data.enableSuggestions){ %>
	<div class="field-suggestions"></div>
	<div class="field-suggestions-viewer"></div>
	<% } %>
</div>