<div class="field-section" <% if(data.dataName){ %> data-name="<%= data.dataName %>" <% } %>>
	<% if(data.label){ %><div class="input-label <% if(data.labelClass){ %><%= data.labelClass %><% } %> <% if(data.required){ %> required<% } %>"><%= data.label %></div><% } %>
	<div class="input-wrapper">
		<% if(!data.textArea){ %>
		<input
			type="text"
			class="field-section-wrapper input-text <% if(data.inputClass) { %><%= data.inputClass %> <% } %><% if(data.required){ %> k-required<% } %>"
			<% if(data.placeholder){ %>
			placeholder="<%= data.placeholder %>"
			<% } %>
			<%= sb.setTemplate('attributes', {data: data.attr}) %>
		></input>
		<% } else { %>
		<textarea class="field-section-wrapper <% if(data.inputClass) { %><%= data.inputClass %> <% } %><% if(data.required){ %> k-required<% } %>"
			<% if(data.placeholder){ %>
			placeholder="<%= data.placeholder %>"
			<% } %>
			<%= sb.setTemplate('attributes', {data: data.attr}) %>
		 ><%= data.value %></textarea>
		<% } %>
		<div class="field-section-error-messages">
			<% for(var key in data.fieldSectionErrorMessages) { %>
				<div class="hide message-display" trigger="<%=key%>"><%= data.fieldSectionErrorMessages[key] %></div>
			<% } %>
		</div>
	</div>
	<% if(data.enableSuggestions){ %>
	<div class="field-suggestions"></div>
	<div class="field-suggestions-viewer"></div>
	<% } %>
</div>
