<% var dump = sb.getPopupData() %>
<div class="popup popup-large">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-left-section">
		<%= 
			_.template(templates['popup-meta-content'])({
				'data': {
					project: true,
					file: true,
					'dump': sb.getPopupData()
				},
			}) 
		%>
		
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper popup-right-section">
			<form>
				<%
				var fields = {
					comboBoxOne: sb.toolbox.comboBox({
						"label": "References",
						"class": "xm reference-combobox",
						"dataName": "references",
						"placeholder": "References"
					}),
					textBoxTwo: sb.toolbox.textBox({
						"label": "Tags",
						"inputClass": "tags-input-txt",
						"dataName": "tags",
						"placeholder": "Tags"
					}),
					comboBoxThree: sb.toolbox.comboBox({
						"label": "Links",
						"class": "xm links-combobox",
						"dataName": "links",
						"placeholder": "Links"
					}),
					comboBoxFour: sb.toolbox.comboBox({
						'label': 'Document Type',
						'class': 'xm doctype-combobox',
						'dataName': 'doctype',
						'placeholder': 'Document Type',
						required: true
					})
				}

				%>

				

				<%= fields.comboBoxFour %>
				<%= fields.comboBoxOne %>
				<%= fields.textBoxTwo %>
				<%= fields.comboBoxThree %>
				
				
				
			</form>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>