<% var dump = sb.getPopupData() %>
<div class="popup popup-large k-form">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-left-section">
		<div class="meta-item">
			<div class="meta-heading">Under</div>
			<div class="meta-text"><% if(dump.project_name){ %> <%= dump.project_name %><% } else if(dump.name){ %><%= dump.name %><% } else{ %><%= Kenseo.page.data.project.name %><% } %></div>
		</div>
		<div class="meta-item">
			<div class="meta-heading">File</div>
			<div class="meta-text" title="<%= dump.fileName %>"><%= dump.fileName %></div>
		</div>
		<div class="meta-item">
			<div class="meta-heading">Type</div>
			<% if(dump.doctype){ %>
					<div class="meta-text"><%= Kenseo.settings.doctype[dump.doctype[0]['data-name']] %></div>
			<% } %>
		</div>
		<div class="meta-item">
			<div class="meta-heading">References</div>
			<% if(dump.references){ %>
				<% var references = dump.references.map(function(e){return e.name}).join(", ") %>
				<div class="meta-text" title="<%= references %>"><%= references %></div>
			<% } %>
		</div>
		<div class="meta-item">
			<div class="meta-heading">Tags</div>
			<div class="meta-text">
				<% if(dump.tags){ %>
					<%= dump.tags.value %>
				<% } %>
			</div>
		</div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper popup-right-section">
			<div class="your-team-section">
				<div class="your-team-heading">Your Team</div>
				<form class="your-team-body">
					<div class="field-section your-team-field" data-name="new-people">
						<form>
							<%
							var fields = {
								shareCombo: sb.toolbox.comboBox({
									"label": "Add People",
									"class": "xm people-combobox",
									"dataName": "otherMembers",
									"placeholder": "Add People"
								})
							}
							%>
							<%= fields.shareCombo %>
						</form>
					</div>
					<div class="share-artefact-people">
						<div class="share-artefact-people-wrapper k-field" data-xtype="share-permissions" data-xtype-key="shared_members">
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>