<% var dump = sb.getPopupData() %>
<div class="popup popup-large">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-left-section">
		<%=
			sb.setTemplate('popup-meta-content', {
				'data': {
					project: true,
					file: true,
					type: true,
					references: true,
					tags: true,
					'dump': sb.getPopupData()
				},
			})
		%>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper popup-right-section padding-zero">
			<div class="add-artefact-section">
      	<span>This artefact will be share with the people in this project</span>
      </div>
			<div class="files-section" id="drop-zone">
				<label class="upload-file-section">
					<input type="file" class="upload-files-input" <% if(!data.single_file_selector){ %>multiple=""<% } %>></input>
					<div class="uploader-section">
						<div class="uploader-section-img">
							<svg><use xlink:href="#pdfnpng"></use></svg>
						</div>
						<div class="uploader-section-file">
							<span>Drag & Drop your artefacts here</span>
						</div>
					</div>
				</label>
			</div>
			<div class="uploaded-file-display">
				<div class="files-list display-none">
					<div class="create-file-item">
						<div class="notification-item S-type">
							<svg class="notification-s-type-icon"><use xlink:href="#file"></use></svg>
							<div class="notification-title">
								Balfour: Image Share
							</div>
							<div class="notification-time">
								@ 11:20 AM by Rakesh
							</div>
						</div>
						<div class="create-file-close-icon">
							<svg><use xlink:href="#close"></use></svg>
						</div>
					</div>
				</div>
				<% if(data.allow_artefact_selection){ %>
					<label class="checkbox display-none">
						<input type="checkbox" disabled="true" class="existing-files-chk"></input>
						<span>This is a new version of an existing file</span>
					</label>
					<div class="artefact-combobox display-none">
						<%=
							sb.toolbox.comboBox({
								"class": "xm existing-files-combobox",
								"dataName": "choose-file"
							})
						%>
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>
