<% var dataObj = Kenseo.popup.info[index] %>
<%
	var fields = {
		projectsCombo: sb.toolbox.comboBox({
			"label": "Project",
			"class": "xm project-combobox",
			"dataName": "meetingProject"
		}),
		artefactsCombo: sb.toolbox.comboBox({
			"label": "Artefact",
			"class": "xm artefact-combobox",
			"dataName": "meetingArtefact"
		}),
		peopleCombo: sb.toolbox.comboBox({
			"label": "Recipients List",
			fieldClass: "recipients-field-section",
			"class": "xm people-name tags-combobox",
			"dataName": "attendees"
		}),
		textarea: sb.toolbox.textBox({
			"label": "Agenda",
			textArea: true,
			dataName: "agenda",
			"inputClass": "input-meeting-textarea meeting-agenda"
		}),
		location: sb.toolbox.textBox({
			"label": "Venue",
			inputClass: "meeting-location",
			dataName: "location"
		})
	}
%>
<div class="popup popup-meeting">
	<div class="popup-header">
		<div class="popup-title">Create meeting invitation</div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<form class="meeting-invite-form">
				
				<%= fields.projectsCombo %>
				<%= fields.artefactsCombo %>
				<%= fields.textarea %>

				<div class="field-section in-line" data-name="date" data-ignore="1">
					<div class="input-label">Scheduled on</div>
					<div class="input-wrapper float-left mini-datepicker">
						<input type="text" class="input-meeting-date float-left"></input>
						<div class="datepicker-icon-holder float-left">
							<div class="datepicker-icon"></div>
						</div>
					</div>
				</div>
				<div class="field-section in-line" data-name="fromTime">
					<div class="input-wrapper float-left">
						<div class="time-label float-left">From</div>
						<select class="projects-dropdown dropdown mini-dropdown no-margin fromTime">
						    <option value="00:00">12:00 AM</option>
						    <option value="01:00">01:00 AM</option>
						    <option value="02:00">02:00 AM</option>
						    <option value="03:00">03:00 AM</option>
						    <option value="04:00">04:00 AM</option>
						    <option value="05:00">05:00 AM</option>
						    <option value="06:00">06:00 AM</option>
						    <option value="07:00">07:00 AM</option>
						    <option value="08:00">08:00 AM</option>
						    <option value="09:00">09:00 AM</option>
						    <option value="10:00">10:00 AM</option>
						    <option value="11:00">11:00 AM</option>
						    <option value="12:00">12:00 PM</option>
						    <option value="13:00">01:00 PM</option>
						    <option value="14:00">02:00 PM</option>
						    <option value="15:00">03:00 PM</option>
						    <option value="16:00">04:00 PM</option>
						    <option value="17:00">05:00 PM</option>
						    <option value="18:00">06:00 PM</option>
						    <option value="19:00">07:00 PM</option>
						    <option value="20:00">08:00 PM</option>
						    <option value="21:00">09:00 PM</option>
						    <option value="22:00">10:00 PM</option>
						    <option value="23:00">11:00 PM</option>
						</select>
					</div>
				</div>
				<div class="field-section in-line" data-name="toTime">
					<div class="input-wrapper float-left">
						<div class="time-label float-left">To</div>
						<select class="projects-dropdown dropdown no-margin mini-dropdown toTime">
						    <option value="00:00">12:00 AM</option>
						    <option value="01:00">01:00 AM</option>
						    <option value="02:00">02:00 AM</option>
						    <option value="03:00">03:00 AM</option>
						    <option value="04:00">04:00 AM</option>
						    <option value="05:00">05:00 AM</option>
						    <option value="06:00">06:00 AM</option>
						    <option value="07:00">07:00 AM</option>
						    <option value="08:00">08:00 AM</option>
						    <option value="09:00">09:00 AM</option>
						    <option value="10:00">10:00 AM</option>
						    <option value="11:00">11:00 AM</option>
						    <option value="12:00">12:00 PM</option>
						    <option value="13:00">01:00 PM</option>
						    <option value="14:00">02:00 PM</option>
						    <option value="15:00">03:00 PM</option>
						    <option value="16:00">04:00 PM</option>
						    <option value="17:00">05:00 PM</option>
						    <option value="18:00">06:00 PM</option>
						    <option value="19:00">07:00 PM</option>
						    <option value="20:00">08:00 PM</option>
						    <option value="21:00">09:00 PM</option>
						    <option value="22:00">10:00 PM</option>
						    <option value="23:00">11:00 PM</option>
						</select>
					</div>	
				</div>
				<%= fields.location %>
				<%= fields.peopleCombo %>
			</form>
		</div>
	</div>
	<div class="buttons-section">
		<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
	</div>
</div>
