<% var toolbox = sb.toolbox %>
<div class="popup popup-meeting k-form">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<form class="meeting-invite-form">
				<% if(data.populateType === "update-meeting"){ %>
					<input class="k-field" type="hidden" data-xtype="text" data-xtype-key="meeting_id" value="<%= sb.getPopulateValue(data.populateType, 'meeting_id') %>"></input>
				<% } %>

				<%=
					toolbox.comboBox({
						"label": "Project",
						required: true,
						"class": "xm project-combobox blur-field",
						"dataName": "meetingProject",
						"placeholder": "Choose Project",
						"inputAttr": {
							"value": sb.getPopulateValue(data.populateType, 'project_name')
						},
						"fieldSectionErrorMessages": {
							'empty': 'Please select project name',
						}
					})
				%>
				<%=
					toolbox.comboBox({
						"label": "Artefact",
						required: true,
						"class": "xm artefact-combobox blur-field",
						"dataName": "meetingArtefact",
						"placeholder": "Choose Project",
						"inputAttr": {
							"value": sb.getPopulateValue(data.populateType, 'artefact_name')
						},
						"fieldSectionErrorMessages": {
								'empty': 'Please select project name',
						}
					})
				%>
				<%=
					toolbox.textBox({
						"label": "Agenda",
						required: true,
						textArea: true,
						dataName: "agenda",
						"inputClass": "input-meeting-textarea meeting-agenda blur-field",
						'attr': {
							'data-validate-this': 'empty'
						},
						'value': sb.getPopulateValue(data.populateType, 'agenda'),
						"fieldSectionErrorMessages": {
								'empty': ' Please provide meeting agenda',
						}
					})
				%>
				<div style="clear: both; padding-top: 20px;">
					<div class="field-section in-line" data-name="date">
						<%
							var dateValue = sb.getPopulateValue(data.populateType, 'meeting_date');
							if(dateValue){
								dateValueTokens = new Date(dateValue).toDateString().split(" ");
								dateValue = dateValueTokens[2] + " " + dateValueTokens[1] + " " + dateValueTokens[3];
							}
							else{
								dateValue = "";
							}
						%>
						<div class="input-label required">Scheduled on</div>
						<div class="input-wrapper float-left mini-datepicker">
							<input type="text" value="<%= dateValue %>" class="input-meeting-date float-left"></input>
							<div class="datepicker-icon-holder float-left">
								<div class="datepicker-icon">
									<svg><use xlink:href="#calendar"></use></svg>
								</div>
							</div>
						</div>
					</div>
					<%
						var timeValues = [
											"12:30 AM","01:00 AM","01:30 AM","02:00 AM","02:30 AM","03:00 AM",
											"03:30 AM","04:00 AM","04:30 AM","05:00 AM","05:30 AM","06:00 AM",
											"06:30 AM","07:00 AM","07:30 AM","08:00 AM","08:30 AM","09:00 AM",
											"09:30 AM","10:00 AM","10:30 AM","11:00 AM","11:30 AM","12:00 PM",
											"12:30 PM","01:00 PM","01:30 PM","02:00 PM","02:30 PM","03:00 PM",
											"03:30 PM","04:00 PM","04:30 PM","05:00 PM","05:30 PM","06:00 PM",
											"06:30 PM","07:00 PM","07:30 PM","08:00 PM","08:30 PM","09:00 PM",
											"09:30 PM","10:00 PM","10:30 PM","11:00 PM","11:30 PM","11:30 PM"
										]
					%>
					<div class="field-section in-line" data-name="fromTime">
						<div class="input-wrapper float-left">
							<div class="time-label">From</div>
							<select class="projects-dropdown dropdown mini-dropdown no-margin fromTime">
								<% var fromTime = sb.getPopulateValue(data.populateType, 'meeting_date_from_time') %>
								<% var fromTimeSelectIndex = 0 %>
								<%
									if(fromTime){
										fromTimeSelectIndex = timeValues.indexOf(sb.getTime(new Date(fromTime).toString())) + 1;
									}
									else{
										var newSelectValue = new Date();
										newSelectValue.setMinutes(Math.ceil(newSelectValue.getMinutes() / 30) * 30);
										var diffSelectValue = new Date();
										diffSelectValue.setHours(0);
										diffSelectValue.setMinutes(0);
										diffSelectValue.setSeconds(0);
										fromTimeSelectIndex = Math.floor((newSelectValue.getTime() - diffSelectValue.getTime()) / (30 * 60 * 1000));
									}
								%>
								<% _.each(timeValues, function(time, i){ %>
									<option <% if(i === fromTimeSelectIndex - 1){ %>selected<% } %> value="<%= sb.getHHTime(time) %>"><%= time %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="field-section in-line" data-name="toTime">
						<div class="input-wrapper float-left">
							<div class="time-label">To</div>
							<select class="projects-dropdown dropdown no-margin mini-dropdown toTime">
								<% var toTime = sb.getPopulateValue(data.populateType, 'meeting_date_to_time') %>
								<% var toTimeSelectIndex = 0 %>
								<%
									if(toTime){
										toTimeSelectIndex = timeValues.indexOf(sb.getTime(new Date(toTime).toString())) + 1;
									}
								%>
								<% _.each(timeValues, function(time, i){ %>
									<option <% if(i === toTimeSelectIndex - 1){ %>selected<% } %> value="<%= sb.getHHTime(time) %>"><%= time %></option>
								<% }) %>
							</select>
						</div>
					</div>
				</div>
				<%=
					toolbox.textBox({
						"label": "Venue",
						inputClass: "meeting-location",
						dataName: "location",
						'attr': {
							'data-validate-this': 'empty',
							'value': sb.getPopulateValue(data.populateType, 'venue')
						}
					})
				%>

				<%=
					sb.setTemplate('select', {
						data: {
							"label": "Recipients List",
							required: true,
							inputClass: "recipients-meeting blur-field",
							"dataName": "attendees",
							"selectAttr": {
								"multiple": ""
							},
							"fieldSectionErrorMessages": {
								'empty': ' Please select at least one recipient',
							}
						}
					})
				%>
			</form>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>
