<% var toolbox = sb.toolbox %>
<div class="popup popup-meeting k-form">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<form class="meeting-invite-form">
				
				<%= 
					toolbox.comboBox({
						"label": "Project",
						"class": "xm project-combobox",
						"dataName": "meetingProject",
						"placeholder": "Choose Project"
					}) 
				%>
				<%= 
					toolbox.comboBox({
						"label": "Artefact",
						"class": "xm artefact-combobox",
						"dataName": "meetingArtefact",
						"placeholder": "Choose Artefact"
					})
				%>
				<%= 
					toolbox.textBox({
						"label": "Agenda",
						textArea: true,
						dataName: "agenda",
						"inputClass": "input-meeting-textarea meeting-agenda"
					})
				%>
				<div style="clear: both; padding-top: 20px;">
					<div class="field-section in-line" data-name="date" data-ignore="1">
						<div class="input-label">Scheduled on</div>
						<div class="input-wrapper float-left mini-datepicker">
							<input type="text" class="input-meeting-date float-left"></input>
							<div class="datepicker-icon-holder float-left">
								<div class="datepicker-icon"></div>
							</div>
						</div>
					</div>
					<div class="field-section in-line" data-name="fromTime">
						<div class="input-wrapper float-left">
							<div class="time-label">From</div>
							<select class="projects-dropdown dropdown mini-dropdown no-margin fromTime">
							    <option value="00:00">12:00 AM</option>
							    <option value="01:00">01:00 AM</option>
							    <option value="02:00">02:00 AM</option>
							    <option value="03:00">03:00 AM</option>
							    <option value="04:00">04:00 AM</option>
							    <option value="05:00">05:00 AM</option>
							    <option value="06:00">06:00 AM</option>
							    <option value="07:00">07:00 AM</option>
							    <option value="08:00">08:00 AM</option>
							    <option value="09:00">09:00 AM</option>
							    <option value="10:00">10:00 AM</option>
							    <option value="11:00">11:00 AM</option>
							    <option value="12:00">12:00 PM</option>
							    <option value="13:00">01:00 PM</option>
							    <option value="14:00">02:00 PM</option>
							    <option value="15:00">03:00 PM</option>
							    <option value="16:00">04:00 PM</option>
							    <option value="17:00">05:00 PM</option>
							    <option value="18:00">06:00 PM</option>
							    <option value="19:00">07:00 PM</option>
							    <option value="20:00">08:00 PM</option>
							    <option value="21:00">09:00 PM</option>
							    <option value="22:00">10:00 PM</option>
							    <option value="23:00">11:00 PM</option>
							</select>
						</div>
					</div>
					<div class="field-section in-line" data-name="toTime">
						<div class="input-wrapper float-left">
							<div class="time-label">To</div>
							<select class="projects-dropdown dropdown no-margin mini-dropdown toTime">
							    <option value="00:00">12:00 AM</option>
							    <option value="01:00">01:00 AM</option>
							    <option value="02:00">02:00 AM</option>
							    <option value="03:00">03:00 AM</option>
							    <option value="04:00">04:00 AM</option>
							    <option value="05:00">05:00 AM</option>
							    <option value="06:00">06:00 AM</option>
							    <option value="07:00">07:00 AM</option>
							    <option value="08:00">08:00 AM</option>
							    <option value="09:00">09:00 AM</option>
							    <option value="10:00">10:00 AM</option>
							    <option value="11:00">11:00 AM</option>
							    <option value="12:00">12:00 PM</option>
							    <option value="13:00">01:00 PM</option>
							    <option value="14:00">02:00 PM</option>
							    <option value="15:00">03:00 PM</option>
							    <option value="16:00">04:00 PM</option>
							    <option value="17:00">05:00 PM</option>
							    <option value="18:00">06:00 PM</option>
							    <option value="19:00">07:00 PM</option>
							    <option value="20:00">08:00 PM</option>
							    <option value="21:00">09:00 PM</option>
							    <option value="22:00">10:00 PM</option>
							    <option value="23:00">11:00 PM</option>
							</select>
						</div>	
					</div>
				</div>
				<%= 
					toolbox.textBox({
						"label": "Venue",
						inputClass: "meeting-location",
						dataName: "location"
					})
				%>
				<%= 
					toolbox.comboBox({
						"label": "Recipients List",
						fieldClass: "recipients-field-section",
						"class": "xm people-name tags-combobox",
						"dataName": "attendees"
					})
				%>
			</form>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>
