<div class="popup popup-small">
	<%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<%= sb.setTemplate('textbox', {
                data: {
                    fieldClass: "field-section--stretch",
                    attr: {
                        "data-xtype": "getData",
                        "data-xtype-key": "message"
                    },
                    textArea: true
                }
            }) %>
		</div>
	</div>
	<div class="buttons-section">
		<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>