<div class="projects-selection-section-content">
  <% if(data){ %>
    <% _.each(data.data, function(p){ %>
      <label class="toggle-project-radio">
        <input type="radio" name="projectSection"></input>
        <div class="project-selection-block">
          <img src="http://placeimg.com/280/200/arch">
          <div class="project-selection-block-overlay">
            <div class="project-selection-block-overlay-wrapper">
              <div class="project-selection-block-title k-field" data-k-project_id="<%= p.id %>" data-xtype="project-selection" data-xtype-key="selected_project">
                <%= p.name %>
              </div>
            </div>
          </div>
        </div>
      </label>
    <% }); %>
  <% } else{ %>
    <div class="no-items">No projects to show</div>
  <% } %>
</div>
