<div class="popup popup-small k-form">
    <%= sb.setTemplate('popup-header', { title: data.title, close: true }) %>
    <div class="popup-body">
        <div class="popup-body-wrapper">
            <% var title = Kenseo.popup.data.artefact_name;
                title = _.initial(title.split('.')).join('.');
            %>
            <%=
                sb.toolbox.textBox({
                    inputClass: "project-input required k-field blur-field",
                    dataName : "artefactName",
                    required: true,
                    attr: {
                        'data-validate-this': 'empty',
                        'data-v-label': 'Artefact',
                        'data-xtype': 'text',
                        'data-xtype-key': 'artefact_new_name',
                         value: title
                    },
                    "fieldSectionErrorMessages": {
                        'empty': ' Please enter artefact name',
                    }
                })
            %>
        </div>
    </div>
    <div class="buttons-section">
    	<%= sb.toolbox.buttons({"data": data}) %>
	</div>
</div>


