<div class="meeting-section">
    <div class="project-heading">       
        <div class="projects-heading-icon"></div>       
        <span class="heading-text-project">Projects &gt; </span>
        <span class="heading-text-project-name"><%= data.projectName %></span>  
        <span class="heading-date">(12 Mar 2015)</span>
    </div>
    <div class="meeting-wrapper">
        <div class="meeting-left-section">
            <div class="meta-item">
                <div class="meta-heading">Under</div>
                <div class="meta-text"><%= data.projectName %></div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Artefact</div>
                <div class="meta-text"><%= data.artefactName %></div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Sender</div>
                <div class="meta-text"><%= data.createdBy %></div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Agenda</div>
                <div class="meta-text"><%= data.agenda %></div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Scheduled On</div>
                <div class="meta-text">
                    <div>Dec 04, 2014</div>
                    <div>11:00 am to 12:00 pm</div>
                </div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Venue</div>
                <div class="meta-text"><%= data.venue %></div>
            </div>
            <div class="meta-item">
                <div class="meta-heading">Recipients</div>
                <% _.each(data.participants, function(p){ %>
                <div class="meta-text"><%= p.participentName %></div>
				<% }); %>
            </div>
        </div>
        <div class="meeting-right-section">
            <div class="meeting-people-section">
                <div class="meeting-people-active">
                    <div class="people-img-wrapper">
                        <img src="https://lh6.googleusercontent.com/-4KVMvFaXHy0/AAAAAAAAAAI/AAAAAAAAAGs/zKQltuN13t4/photo.jpg" />
                    </div>
                    <span class="meeting-people-name">
                        Anurag
                    </span>
                </div>
                <div class="meeting-people-other">
                    <div class="people-img-wrapper">
                        <img src="https://lh6.googleusercontent.com/-4KVMvFaXHy0/AAAAAAAAAAI/AAAAAAAAAGs/zKQltuN13t4/photo.jpg" />
                    </div>
                    <div class="v-separator"></div>
                    <div class="people-img-wrapper active">
                        <img src="https://lh6.googleusercontent.com/-4KVMvFaXHy0/AAAAAAAAAAI/AAAAAAAAAGs/zKQltuN13t4/photo.jpg" />
                    </div>
                    <div class="people-img-wrapper">
                        <img src="https://lh6.googleusercontent.com/-4KVMvFaXHy0/AAAAAAAAAAI/AAAAAAAAAGs/zKQltuN13t4/photo.jpg" />
                    </div>
                </div>
            </div>
            <div class="text-editor-section">
                <div class="text-editor-section">
                <div class="text-actions-section">
                    <div class="text-action-bold" name="text-b" text-name="bold">Bold</div>
                    <div class="text-action-italic" name="text-i" text-name="italic">Italic</div>
                    <div class="text-action-underline" name="text-u" text-name="underline">Underline</div>
                </div>
                <div class="text-editor" contenteditable=true>
                	rtrtrrtr
                </div>
            </div>
            </div>
            <label class="checkbox">
                <input class="existing-files-chk" type="checkbox">
                <span>Let others see my notes</span>
            </label>
        </div>
    </div>
</div>