@import "../sass-utilities/variables";
@import "header";
@import "miscellaneous";
@import "menu";
@import "sections";
@import "dashboard";
@import "projectpage";

//variables
$viewPortWidth: 1346px;

body{
	font-family: $normalFont;
}
.page{
	max-width: $viewPortWidth;
	min-width: 1180px;
	margin: 0 auto;
}