<%
	var svgicons = {
		"add-user": "#icon11",
		"share-artefact": "#icon11",
		"approve-artefact": "#file12",
		"add-artefact": "#addfile",
		"comment-artefact": "#icon15",
		"add-meeting": "#icon4",
		"remove-user": "#icon2"
	}
%>
<% var activityTypeX = data['notification_type'].toLowerCase() + "-" + data['notification_on'].toLowerCase() %>
<div class="activity-left">
    <div class="activity-icon">
        <svg><use xlink:href="<%= svgicons[activityTypeX] %>"></use></svg>
    </div>
</div>
<div class="activity-right">
    <div class="activity-title ellipsis" title="<%= data['notification_name'] %>"><% if(data['notification_on'].toLowerCase() === "removed" && data['notification_name'].toLowerCase() === "user"){ %>
            <%= data['notification_on'] %> <%= data['notification_name'] %>
        <% } else { %>
            <%= data['notification_name'] %>
        <% } %>
    </div>
    <div class="activity-details ellipsis" title="<%= data['notifier_name'] %>">
        <div class="activity-time"><%= sb.timeFormat(sb.addTimeZoneToDate(data.time)) %></div>
        <div class="activity-sender"> by <%= data['notifier_name'] %></div>
    </div>
</div>
