<% var dataComparer = -1; %>
<% var isSupportedFile = data.MIME_type.indexOf('pdf') > -1 || data.MIME_type.indexOf('image') > -1 %>
<a <% if(isSupportedFile){ %>href="#documentview/<%= data.masked_artefact_version_id %>"<% } else{ %> style="cursor:default;" <% } %> data-pass="<% (function () {
            if (dataComparer == data.linkedId) {
                dataComparer = data.linkedId;
                return 1;
            } else {
                dataComparer = data.linkedId;
                return 0;
            }
        })() %>">
	<div class="rr-left">
		<div class="rr-status rr-status-<%= data.status %>">
			<span class="rr-doc-type"><% if(data['document_type']){  %><%= Kenseo.settings.docTypeShort[data['document_type']] %><% } %></span>
			<!-- based on the type of document svg changes accrodingly.. -->
			<svg><use xlink:href="#<%=data['document_type']%>"></use></svg>
		</div>
        <% if(data.image !== "assets/imgs/avatar.svg"){ %>
            <img class="rr-owner-image" title="<%= data['person_name'] %>" src="<%= data.image %>"/>
        <% } else { %>
            <svg class="rr-owner-image" title="<%= data['person_name'] %>"><use xlink:href="#avatar"></use></svg>
        <% } %>
	</div>
	<div class="rr-right">
		<div class="rr-title ellipsis" title="<%= data.title %><% if(!isSupportedFile){ %> - Unsupported format<% } %>" data-id= "<%=data.id%>"><%= data.title %></div>
        <% if(!data['is_project_page']){ %>
        <div class="rr-project-name ellipsis"><%= data['project_name'] %></div>
        <% } %>
        <% var time = sb.timeFormat(sb.addTimeZoneToDate(data['artefact_time'])) %>
		<div class="rr-details ellipsis" title="<%= time %> by <%= data['person_name'] %>"><%= time %> by <%= data['person_name'] %></div>
		<div class="rr-state-details">
			<div class="rr-state">
				<span class="artefact-cur-version">v<%= data.version %></span>
				<div class="rr-other-versions"></div>
				<div class="rr-comment">
					<svg><use xlink:href="#baloon"></use></svg>
					<div class="rr-comment-count"><%= data.comment_count %></div>
				</div>
			</div>
		</div>
	</div>
	<div class="requests-dropdown html-click prevent-default" data-html-class="active">
		<div class="requests-dropdown-icon">
			<svg><use xlink:href="#dropdown"></use></svg>
		</div>
		<div class="requests-dropdown-items sub-menu-holder small">
			<div class="sub-menu-item" data-url="archive-artefact">
				<div class="item-icon">
					<svg><use xlink:href="#archive1"></use></svg>
				</div>
				<div class="sub-menu-item-text">Archive</div>
			</div>
			<div class="sub-menu-item" data-url="replace-artefact">
				<div class="item-icon">
					<svg><use xlink:href="#replace"></use></svg>
				</div>
				<div class="sub-menu-item-text">Replace</div>
			</div>
			<div class="sub-menu-item" data-url="add-version">
				<div class="item-icon">
					<svg><use xlink:href="#addversion"></use></svg>
				</div>
				<div class="sub-menu-item-text">Add Version</div>
			</div>
			<div class="sub-menu-item" data-url="share-artefact" data-index="2">
				<div class="item-icon">
					<svg><use xlink:href="#share"></use></svg>
				</div>
				<div class="sub-menu-item-text">Share</div>
			</div>
			<div class="sub-menu-item" data-url="review-comments">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#submit-review"></use></svg>
				</div>
				<div class="sub-menu-item-text">Submit Review Comments</div>
			</div>
			<div class="sub-menu-item" data-url="private-message">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#meeting"></use></svg>
				</div>
				<div class="sub-menu-item-text">Send Private Message</div>
			</div>
            <div class="sub-menu-item popup-click" data-url="create-meeting" data-others="populate">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#meeting"></use></svg>
				</div>
				<div class="sub-menu-item-text">Create a Meeting</div>
			</div>
			<div class="sub-menu-item" data-url="edit-artefact-info">
				<div class="item-icon">
					<svg><use xlink:href="#editartifact"></use></svg>
				</div>
				<div class="sub-menu-item-text">Edit Info</div>
			</div>
			<div class="sub-menu-item" data-url="rename-artefact">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#renameartifact"></use></svg>
				</div>
				<div class="sub-menu-item-text">Rename</div>
			</div>
			<div class="sub-menu-item" data-url="download-artefact">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#renameartifact"></use></svg>
				</div>
				<div class="sub-menu-item-text"> <a class="stop-propagate" href="<%=sb.getRelativePath('download.php?command=downloadArtefact&artefact_id='+data.id)%>" target="_blank" > Download </a> </div>
			</div>
			<div class="sub-menu-item" data-url="delete-artefact">
				<div class="item-icon">
					<svg fill="#DBDCE0"><use xlink:href="#delete"></use></svg>
				</div>
				<div class="sub-menu-item-text">Delete </div>
			</div>
		</div>
	</div>
</a>
