<div class="people-item-left">
	<% if(data.picture !== "assets/imgs/avatar.svg"){ %>
		<img class="people-icon" src="<%= data.picture %>" />
	<% } else { %>
		<svg class="people-icon"><use xlink:href="#avatar"></use></svg>
	<% } %>
</div>
<div class="people-item-right">
	<div class="people-name-section data-holder" data-k-project_id="<%= data['proj_id'] %>" data-key="people" data-id="<%= data.id %>">
		<div class="people-name inlineBlockTop"><%= data.name %></div>
		<div class="people-request-holder html-click sub-menu-nav inlineBlockTop">
			<div class="requests-dropdown-icon">
				<svg><use xlink:href="#dropdown"></use></svg>
			</div>
			<div class="sub-menu-holder left-nav bottom-nav">
				<% if(data['is_owner'] != "1") {%>
				<div class="sub-menu-item popup-click" data-url="removePeople" data-id="<%= data.id %>" >
					<div class="people-remove-icon">
						<svg><use xlink:href="#delete"></use></svg>
					</div>
					<div class="sub-menu-item-text">Remove</div>
				</div>
				<%}%>
				<div class="sub-menu-item">
					<div class="people-manage-icon">
						<svg><use xlink:href="#lock1"></use></svg>
					</div>
					<div class="sub-menu-item-text">Manage Permissions</div>
				</div>
			</div>
		</div>
	</div>
	<div class="people-access-text"><% if(data['access_type']=="X"){%>
	Can Edit & Share <%} else if(data['access_type']=='S'){%>
	Can Share <%} else {%> Can Edit<%}%></div>
</div>
