<div class="people-item-left">
	<% if(data.picture !== "assets/imgs/avatar.svg"){ %>
		<img class="people-icon" src="<%= data.picture %>" />
	<% } else { %>
		<svg class="people-icon"><use xlink:href="#avatar"></use></svg>
	<% } %>
</div>
<div class="people-item-right">
	<div class="people-name-section data-holder" data-k-project_id="<%= data['proj_id'] %>" data-key="people" data-id="<%= data.id %>">
		<div class="people-name inlineBlockTop"><%= data.name %></div>
		<div class="people-request-holder html-click sub-menu-nav inlineBlockTop">
			<div class="requests-dropdown-icon">
				<svg><use xlink:href="#dropdown"></use></svg>
			</div>
			<% var key;
			   for (var k in Kenseo.settings.accesstype) {
				    if (Kenseo.settings.accesstype[k] == data.access_type) {
	                    key = k;
	                }
	            }
            var permission = key.split(""); %>

			<div class="sub-menu-holder left-nav bottom-nav">
				<div class="sub-menu-item">
					<div class="sub-menu-item-text">Share</div>
					<div class="checkbox-holder sub-menu-checkbox">
						<label class="toggle-checkbox" >
							<input type="checkbox" class="global-permissions" person-permissions="share-permissions" trigger-chk=".add-comments-chk" data-subtype="comments" <% if(permission[1] == 1){%> checked <%}%> ></input><span></span>
						</label>
					</div>
				</div>
				<div class="sub-menu-item">
					<div class="sub-menu-item-text">Comment</div>
					<div class="checkbox-holder sub-menu-checkbox">
						<label class="toggle-checkbox" >
							<input type="checkbox" class="global-permissions" person-permissions="comment-permissions" trigger-chk=".others-chk" data-subtype="share" <% if(permission[0] == 1){%> checked <%}%> ></input><span></span>
						</label>
					</div>
				</div>
				<% if(data['is_owner'] != "1") {%>
				<div class="sub-menu-item" data-url="removePeople" data-id="<%= data.id %>" >
					<div class="sub-menu-item-text">Remove</div>
				</div>
				<%}%>
			</div>
		</div>
	</div>
	<div class="people-access-text"><% if(data['access_type']=="X"){%>
	Can Edit &amp; Share <%} else if(data['access_type']=='S'){%>
	Can Share <%} else {%> Can Edit<%}%></div>
</div>
