<% var dump = data.dump %>
<% var metaInfo = sb.getPopupMetaInfo(dump) %>
<% if(data.project){ %>
	<div class="meta-item">	
		<div class="meta-heading">Under</div>
		<div class="meta-text popup-meta-project-name-txt title-txt" title="<%= metaInfo.getProjectName() %>"></div>
	</div>
<% } %>
<% if(data.file){ %>
	<div class="meta-item">	
		<div class="meta-heading">File</div>	
		<div class="meta-text popup-meta-file-name title-txt" title="<%= metaInfo.getFileName() %>">
		</div>
	</div>
<% } %>
<% if(data.type){ %>
	<div class="meta-item">	
		<div class="meta-heading">Type</div>	
		<% if(dump.doctype){ %>			
		<div class="meta-text popup-meta-type title-txt" title="<%= metaInfo.getType() %>"></div>	
		<% } %>
	</div>
<% } %>
<% if(data.references){ %>
	<div class="meta-item">	
		<div class="meta-heading">References</div>	
		<% if(dump.references){ %>		
		<div class="meta-text title-txt popup-meta-references" title="<%= metaInfo.getReferences() %>"></div>	
		<% } %>
	</div>
<% } %>
<% if(data.tags){ %>
	<div class="meta-item">	
		<div class="meta-heading">Tags</div>	
		<% if(dump.tags){ %>			
		<div class="meta-text popup-meta-tags title-txt" title="<%= metaInfo.getTags() %>"></div>
		<% } %>	
	</div>
<% } %>