<%
var accessType = sb.getAccessType(data['access_type'])
%>
<div class="share-artefact-people-item" data-k-user_id="<%= data.id %>" data-access_type="<%= data['access_type'] %>">
	<div class="share-artefacts-img-holder">
		<% if(data.picture !== "assets/imgs/avatar.svg"){ %>
			<img class="share-artefacts-img" src=<%= data.picture%> />
		<% } else { %>
			<svg class="share-artefacts-img"><use xlink:href="#avatar"></use></svg>
		<% } %>
	</div>
	<span class="share-artefacts-text" title="<%= data.name %>"><%= data.name %></span>
	<% if(data['is_owner'] != "1"){ %>
		<div class="share-artefact-people-item-section">
			<div class="share-artefact-right-panel">
				<%=
					sb.toolbox.checkbox({
						class: "add-comments-chk",
						toggle: true,
						dataName: "sharedTo",
						checked: !!+accessType[0],
						"data-array": "1"
					})
				%>
				<div class="sarp-text">Comment</div>
			</div>
			<div class="share-artefact-right-panel">
				<%=
					sb.toolbox.checkbox({
						class: "others-chk",
						toggle: true,
						dataName: "sharedTo",
						checked: !!+accessType[1],
						"data-array": "1"
					})
				%>
				<div class="sarp-text">Share</div>
			</div>

		</div>
		<div class="close-people-icon">
			<svg>
				<use xlink:href="#close"></use>
			</svg>
		</div>
	<% } %>
</div>
