
<div class="share-artefact-people-item" data-id="<%= data.user_id %>">
	<div class="share-artefacts-img-holder">
		<img class="share-artefacts-img" src=<%= data.picture%> />
	</div>
	<span class="share-artefacts-text"><%= data.name %></span>
	<div class="share-artefact-people-item-section">
		<div class="share-artefact-right-panel">
			<div class="sarp-text">Can Add comments</div>
			<%= 
				sb.toolbox.checkbox({
					class: "add-comments-chk",
					toggle: true,
					dataName: "sharedTo",
					"data-array": "1",
					attribs: {
						userId: data.user_id,
						permission: "c"
					}
				}) 
			%>
		</div>
		<div class="share-artefact-right-panel">
			<div class="sarp-text">Share with others</div>
			<%= 
				sb.toolbox.checkbox({
					class: "others-chk",
					toggle: true,
					dataName: "sharedTo",
					"data-array": "1",
					attribs: {
						userId: data.user_id,
						permission: "s"
					}
				}) 
			%>
		</div>
		<div class="sarp-checkbox-holder">
			<%= 
				sb.toolbox.checkbox({
					class: "apply-to-all",
					text: "Apply to all users in this group",
					ignore: 1
				}) 
			%>
		</div>
	</div>
</div>