<div class="overlay summary-section-overlay view">
    <div class="summary-section-header">
        <div class="summary-header-left">
            <div class="review-request-item" >
                <div class="rr-left">
                    <div class="rr-status status-c">IXD</div>
                    <img class="rr-owner-image" title="<%=data.basicDetails.authorName %>" src="<%= data.basicDetails.authorImage %>"/>
                </div>
                <div class="rr-right">
                    <div class="rr-title ellipsis" title="<%= data.basicDetails.title %>"><%= data.basicDetails.title %></div>
                    <div class="rr-details ellipsis" title="Version <%=data.basicDetails.versionNo%>.0">Version <%=data.basicDetails.versionNo%>.0</div>
                    <div class="rr-state-details">
                        <div class="rr-state-x">
                            <div class="rr-comment"><%=data.basicDetails.commentCount%></div>
                            <div class="status-c secondary-status-rr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-header-right">
            <div class="summary-header-actions">
                <div class="summary-header-action-item submit-action-icon">Submit</div>
                <div class="summary-header-action-item archive-action-icon">Archive</div>
                <div class="summary-header-action-item delete-action-icon">Delete</div>
            </div>
        </div>
    </div>
    <div class="summary-section-body unselectable">
        <div class="close-icon"></div>
        <div class="time-frame-section">
            <div class="time-frame-extended mg-parent">
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="version-type top-viewer">v1</div>
                            <div class="time-frame-date">8 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="meeting-type top-viewer"></div>
                            <div class="time-frame-date">9 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="version-type top-viewer">v1
                                <div class="meeting-type top-viewer">
                                    <div class="version-type-viewer top-hover-viewer">
                                        <div class="meeting-type-content">Conflux Mapping editor @ 9 Feb 10 am</div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-frame-date">10 Feb</div>
                        </div>

                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"><span class="version-type">v5</span></div>
                            <div class="time-frame-date">11 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="meeting-type top-viewer"></div>
                            <div class="time-frame-date">12 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="time-frame-date">13 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="comment-type top-viewer">
                                <div class="comment-type-viewer top-hover-viewer">
                                    <div class="comment-type-content">
                                        <div class="tf-images">
                                            <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" />
                                            <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" />
                                        </div>
                                        <div class="tf-more-people">+ 2 More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-frame-date">14 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="time-frame-date">15 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-frame-item mg-item">
                        <div class="time-frame">
                            <div class="user-type top-viewer">
                                <div class="user-type-viewer top-hover-viewer">
                                    <div class="user-type-content">
                                        <div class="tf-images">
                                            <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" />
                                        </div>
                                        <div class="tf-more-people">16 Feb @6pm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-frame-date">16 Feb</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-frame-selector mg-parent">
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">8 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">16 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">24 Feb</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">4 Mar</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">12 Mar</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">20 Mar</div>
                        </div>
                    </div>
                </div>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="file-type top-viewer"></div>
                            <div class="time-frame-date">26 Mar</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-component">
                <div class="slider-left"></div>
                <div class="slider-right"></div>
            </div>
        </div>
    </div>
    <div class="summary-section-footer">
        <div class="summary-footer-item">Summary</div>
        <div class="summary-footer-item">Notes</div>
    </div>



    <div class="summary-section-below-content">
        <div class="summary-people-section">
            <div class="sub-heading-section">
                <div class="artifacts-heading sub-heading">
                    <div class="sub-heading-label">Shared with</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
                 <% _.each(data.sharedTo, function(d){ %>
	                 <div class="summary-people-item">
	                    <div class="sp-left">
	                        <img title"<%= d.name%>" src="<%= d.userImage%>" />
	                    </div>
	                    <div class="sp-right">
	                        <div class="sp-name" title"<%= d.name%>"><%= d.name%></div>
	                        <div class="sp-below-section">
	                            <div class="rr-comment"><%= d.commentCount%></div>
	                            <div class="status-c secondary-status-rr"></div>
	                        </div>
	                    </div>
	                </div>
                <% }); %>
            </div>
        </div>
        <div class="summary-versions-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">Versions</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
                <a class="summary-compare-btn" href="">Compare selected</a>
                
                <% _.each(data.versions, function(d){ %>
	                <div class="summary-version-item">
	                    <label class="checkbox">
	                        <input type="checkbox"></input>
	                        <span>
	                            <span class="version-type">v<%=d.version_no %></span>
	                            <span class="doc-type"><%= data.basicDetails.title %></span>
	                        </span>
	                    </label>
	                    <div class="summary-version-date"><%= sb.timeFormat(d.created_date, true)%></div>
	                </div>
	               <br/>
         		<% }); %>
            </div>
        </div>
        <div class="summary-references-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">References</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
            	<% _.each(data.references, function(d){ %>
	                <div class="summary-reference-item ellipsis" title=" <%= d.title %>">
	                    <%= d.title %>
	                </div>
                <% }); %>
            </div>
        </div>
        <div class="summary-linked-artefacts-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">Linked Artefacts</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                    <div class="sub-section-content">
                        <% _.each(data.links, function(d){ %>
			                <div class="summary-reference-item ellipsis" title=" <%= d.title %>">
			                    <%= d.artefact_title %>
			                </div>
		                <% }); %>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>
