<div class="overlay summary-section-overlay view">
    <div class="summary-section-header">
        <div class="summary-header-left">
            <div class="review-request-item" >
                <div class="rr-left">
                    <div class="rr-status status-c">IXD</div>
                    <img class="rr-owner-image" title="<%=data.basicDetails.authorName %>" src="<%= data.basicDetails.authorImage %>"/>
                </div>
                <div class="rr-right">
                    <div class="rr-title ellipsis" title="<%= data.basicDetails.title %>"><%= data.basicDetails.title %></div>
                    <div class="rr-details ellipsis" title="Version <%=data.basicDetails.versionNo%>.0">Version <%=data.basicDetails.versionNo%>.0</div>
                    <div class="rr-state-details">
                        <div class="rr-state-x">
                            <div class="rr-comment"><%=data.basicDetails.commentCount%></div>
                            <div class="status-c secondary-status-rr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-header-right">
            <div class="summary-header-actions">
                <div class="summary-header-action-item submit-action-icon">Submit</div>
                <div class="summary-header-action-item archive-action-icon">Archive</div>
                <div class="summary-header-action-item delete-action-icon">Delete</div>
            </div>
        </div>
    </div>
    <div class="summary-section-body unselectable">
        <div class="close-icon"></div>
        <div class="time-frame-section">
            <div class="time-frame-extended mg-parent">
            	<% for(var v in data.timeline){ %>
	                <div class="time-frame-holder mg-holder">
	                    <div class="time-frame-item mg-item">
	                        <div class="time-frame">
	                            <%_.each(data.timeline[v], function(item) {%>
                            		
                            			<% if(item.type === "links") {%>
                        					 <div class="file-type top-viewer">
                        				<% } else if(item.type === "shared") {%>
                        					<div class="user-type top-viewer">
                        					<div class="user-type-viewer top-hover-viewer">
			                                    <div class="user-type-content">
			                                        <div class="tf-images">
			                                            <img src=<%= item.profPic %> />
			                                        </div>
			                                        <div class="tf-more-people"><%= sb.timeFormat(item.shared_date,true,true)%> @<%= sb.getTime(item.shared_date) %></div>
			                                    </div>
		                                    </div>
                        				<% } else if(item.type === "versions") {%>
                        					<div class="version-type top-viewer">v <%= item.version_no %>
                        				<% } else if(item.type === "meetings") {%>
                        					<div class="meeting-type top-viewer">
                        				<% } else if(item.type === "references") {%>
                        					 <div class="file-type top-viewer">
                					 	<% } else if(item.type === "comments") {%>
                        				<div class="comment-type top-viewer">
                        				<% }%>
                            		<% }) %></%>
                            	<%_.each(data.timeline[v], function(item) {%>
                            		</div>
                            	<% }) %></%>
	                            <div class="time-frame-date"><%= sb.timeFormat(v+" 00:00:00", true, true)%></div>
	                        </div>
	                    </div>
	                </div>
                <% } %>
            </div>
            <div class="time-frame-selector mg-parent">
                <% _.each(data.versions, function(v){ %>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="version-type top-viewer">v<%= v.version_no %></div>
                            <div class="time-frame-date"><%= sb.timeFormat(v.created_date, true)%></div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="current-type top-viewer"></div>
                            <div class="time-frame-date"><%= sb.timeFormat(new Date(), true, true)%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-component">
                <div class="slider-left"></div>
                <div class="slider-right"></div>
            </div>
        </div>
    </div>
    <div class="summary-section-footer">
        <div class="summary-footer-item">Summary</div>
        <div class="summary-footer-item">Notes</div>
    </div>



    <div class="summary-section-below-content">
        <div class="summary-people-section">
            <div class="sub-heading-section">
                <div class="artifacts-heading sub-heading">
                    <div class="sub-heading-label">Shared with</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
                 <% _.each(data.sharedTo, function(d){ %>
	                 <div class="summary-people-item">
	                    <div class="sp-left">
	                        <img title"<%= d.name%>" src="<%= d.userImage%>" />
	                    </div>
	                    <div class="sp-right">
	                        <div class="sp-name" title"<%= d.name%>"><%= d.name%></div>
	                        <div class="sp-below-section">
	                            <div class="rr-comment"><%= d.commentCount%></div>
	                            <div class="status-c secondary-status-rr"></div>
	                        </div>
	                    </div>
	                </div>
                <% }); %>
            </div>
        </div>
        <div class="summary-versions-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">Versions</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
                <a class="summary-compare-btn" href="">Compare selected</a>
                
                <% _.each(data.versions, function(d){ %>
                    <% if(d.artefact_ver_id !== data.basicDetails.versionId){ %>
	                <div class="summary-version-item">
	                    <label class="checkbox">
	                        <input type="checkbox"></input>
	                        <span>
	                            <span class="version-type">v<%=d.version_no %></span>
	                            <div class="doc-type" title="<%= data.basicDetails.title %>"><%= data.basicDetails.title %></div>
	                        </span>
	                    </label>
	                    <div class="summary-version-date">
                            <span><%= sb.timeFormat(d.created_date, true)%></span>
                            <a class="page-click" href="#documentview/<%= d.artefact_ver_id %>">Open</a>
                        </div>
	                </div>
                    <% } %>
         		<% }); %>
            </div>
        </div>
        <div class="summary-references-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">References</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                </div>
            </div>
            <div class="sub-section-content">
            	<% _.each(data.references, function(d){ %>
	                <div class="summary-reference-item ellipsis" title="<%= d.title %>">
	                    <%= d.title %>
	                </div>
                <% }); %>
            </div>
        </div>
        <div class="summary-linked-artefacts-section">
            <div class="sub-heading-section">
                <div class="sub-heading">
                    <div class="sub-heading-label">Linked Artefacts</div>
                    <div class="sub-heading-add-wrapper">
                        <div class="sub-heading-add-icon"></div>
                    </div>
                    <div class="sub-section-content">
                        <% _.each(data.links, function(d){ %>
			                <div class="linked-item" title="<%= d.artefact_title %>">
			                    <%= d.artefact_title %>
			                </div>
		                <% }); %>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>
