<div class="toolbar-slider summary-section-overlay view">
    <div class="summary-section-header">
        <div class="summary-header-left">
            <div class="review-request-item" >
                <div class="rr-left">
                    <%var categories = Kenseo.settings.docTypeShort %>
                    <div class="rr-status ellipsis status-<%= data.basicDetails.status %>"><%=categories[data.basicDetails.artefact_type]%></div>
                    <img class="rr-owner-image" title="<%=data.basicDetails.authorName %>" src="<%= data.basicDetails.authorImage %>"/>
                </div>
                <div class="rr-right">
                    <div class="rr-title ellipsis" title="<%= data.basicDetails.artefact_title %>"><%= data.basicDetails.artefact_title %></div>
                    <div class="rr-details ellipsis" title="Version <%=data.basicDetails.versionNo%>.0">Version <%=data.basicDetails.versionNo%>.0</div>
                    <div class="rr-state-details">
                        <div class="rr-state-x">
                            <div class="rr-comment">
                                <svg><use xlink:href="#baloon"></use></svg>
                                <div class="rr-comment-count"><%= data.basicDetails['comment_count'] %></div>
                            </div>
                            <div class="status-c secondary-status-rr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-header-right">
            <div class="summary-header-actions">
                <div class="summary-header-action-item submit-action-icon popup-click" data-url="share-artefact" data-index="2" >
                    <svg class="summary-header-icon"><use xlink:href="#share-artefact"></use></svg>
                    Share
                </div>
                <div class="summary-header-action-item delete-action-icon" data-url="delete-artefact">
                    <svg fill="#6A6F82" class="summary-header-icon"><use xlink:href="#renameartifact"></use></svg>
                    <div> <a class="stop-propagate" href="<%=sb.getRelativePath('download.php?command=downloadArtefact&artefact_id='+data.basicDetails.artefact_id)%>" target="_blank" > Download </a> </div>
                </div>
                <div class="summary-header-action-item archive-action-icon">
                    <svg class="summary-header-icon" fill="#6A6F82"><use xlink:href="#archive-icn"></use></svg>
                    Archive
                </div>

            </div>
        </div>
    </div>
    <div class="summary-section-body unselectable">
        <div class="close-icon"><svg><use xlink:href="#close"></use></svg></div>
        <div class="time-frame-section">
            <div class="time-frame-extended mg-parent">
                <%=sb.setTemplate('timeline',{data: data})%>
            </div>
            <div class="time-frame-selector mg-parent">
                <% _.each(data.versions, function(v){ %>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="version-type top-viewer">v<%= v.version_no %></div>
                            <div class="time-frame-date"><%= sb.timeFormat(v.created_date, true, true)%></div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <div class="time-frame-holder mg-holder">
                    <div class="time-selector-item mg-item">
                        <div class="time-frame">
                            <div class="current-type top-viewer">
                                <svg><use xlink:href="#currentdate"></use></svg>
                            </div>
                            <div class="time-frame-date"><%= sb.timeFormat(new Date(), true, true)%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-component">
                <div class="slider-left"></div>
                <div class="slider-right"></div>
            </div>
        </div>
    </div>
    <div class="summary-section-footer">
        <div class="summary-footer-item selected-tab">Summary</div>
        <div class="summary-footer-item">Notes</div>
    </div>


    <div class="summary-and-notes-section">
        <div class="summary-section-below-content  data-holder" data-url= "Summary">
            <div class="summary-people-section">
                <div class="sub-heading-section">
                    <div class="artifacts-heading sub-heading">
                        <div class="sub-heading-label">Shared with</div>
                        <div class="sub-heading-add-wrapper">
                            <div class="sub-heading-add-icon popup-click" data-url="share-artefact" data-index="2">
                                <svg><use xlink:href="#add"></use></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-section-content">
                     <% _.each(data.sharedTo, function(d){ %>
    	                 <div class="summary-people-item">
    	                    <div class="sp-left">
                                <% if(d.userImage !== "ui/assets/imgs/avatar.svg"){ %>
                                    <img title="<%= d.name%>" src="<%= d.userImage %>" />
                        		<% } else { %>
                        			<svg><use xlink:href="#avatar"></use></svg>
                        		<% } %>
    	                    </div>
    	                    <div class="sp-right">
    	                        <div class="sp-name ellipsis" title"<%= d.name%>"><%= d.name%></div>
    	                        <div class="sp-below-section">
    	                            <div class="rr-comment">
                                        <svg><use xlink:href="#baloon"></use></svg>
                                        <div class="rr-comment-count"><%= d['comment_count'] %></div>
                                    </div>
    	                            <div class="status-c secondary-status-rr"></div>
    	                        </div>
    	                    </div>
    	                </div>
                    <% }); %>
                </div>
            </div>
            <div class="summary-versions-section">
                <div class="sub-heading-section">
                    <div class="sub-heading">
                        <div class="sub-heading-label">Versions</div>
                        <div class="sub-heading-add-wrapper">
                            <div class="sub-heading-add-icon popup-click" data-url="add-version">
                                <svg><use xlink:href="#add"></use></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-section-content versions-content">
                    <a class="summary-compare-btn" href="">Compare selected</a>

                    <!-- <% _.each(data.versions, function(d){ %>
                        <% if(d.artefact_ver_id !== data.basicDetails.versionId){ %>
    	                <div class="summary-version-item">
    	                    <label class="checkbox">
    	                        <input type="checkbox"></input>
    	                        <span>
    	                            <span class="version-type">v<%=d.version_no %></span>
    	                            <div class="doc-type" title="<%= data.basicDetails.title %>"><%= data.basicDetails.title %></div>
    	                        </span>
    	                    </label>
    	                    <div class="summary-version-date">
                                <span><%= sb.timeFormat(d.created_date, true)%></span>
                                <a class="page-click" href="#documentview/<%= d['masked_artefact_version_id'] %>">Open</a>
                            </div>
    	                </div>
                        <% } %>
             		<% }); %> -->
                </div>
            </div>
            <div class="summary-references-section">
                <div class="sub-heading-section">
                    <div class="sub-heading">
                        <div class="sub-heading-label">References</div>
                        <div class="sub-heading-add-wrapper">
                            <div class="sub-heading-add-icon popup-click" data-url="edit-artefact-info">
                                <svg><use xlink:href="#add"></use></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-section-content">
                	<% _.each(data.references, function(d){ %>
    	                <div class="summary-reference-item ellipsis" title="<%= d.title %>">
                            <svg class="ref-item-icon"><use xlink:href="#refFile"></use></svg>
    	                    <%= d.title %>
    	                </div>
                    <% }); %>
                </div>
                <div class="summary-linked-artefacts-section">
                    <div class="sub-heading-section">
                        <div class="sub-heading">
                            <div class="sub-heading-label">Linked Artefacts</div>
                            <div class="sub-heading-add-wrapper">
                                <div class="sub-heading-add-icon popup-click" data-url="edit-artefact-info">
                                    <svg><use xlink:href="#add"></use></svg>
                                </div>
                            </div>
                            <div class="sub-section-content">
                                <% _.each(data.links, function(d){ %>
        			                <div class="linked-item" title="<%= d.artefact_title %>">
                                        <svg class="linked-item-icon"><use xlink:href="#linkIcon"></use></svg>
        			                    <%= d.artefact_title %>
        			                </div>
        		                <% }); %>
        	                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-tags-section">
                <div class="sub-heading-section">
                    <div class="sub-heading">
                        <div class="sub-heading-label">Tags</div>
                        <div class="sub-heading-add-wrapper">
                            <div class="sub-heading-add-icon popup-click" data-url="edit-artefact-info">
                                <svg><use xlink:href="#add"></use></svg>
                            </div>
                        </div>
                        <div class="sub-section-content tags-content">
                            <!-- <% _.each(data.tags, function(d){ %>
                                <div class="tag-item" title="<%= d.tag_name %>" tag-id="<%= d.tag_id %>">
                                    <%= d.tag_name %>
                                    <div class="close-tag-icon">
                            			<svg>
                            				<use xlink:href="#close"></use>
                            			</svg>
                            		</div>
                                </div>
                            <% }); %> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Notes" data-url="Notes">
            No notes to show
        </div>
    </div>
</div>
