// display type styles
.inlineBlockMid{
	display: inline-block;
	vertical-align: middle;
}

.inlineBlockTop{
	display: inline-block;
	vertical-align: top;
}

// Profile styles
.profile-image-black{
	@extend .circle;
    background-color: white;
    border: 2px solid #EBECEE;
}
.profile-image-white{
	@extend .circle;
	background-color: white;
	border: 2px solid white;
}

// Version related styles
.version-num{
	@include border-radius(20px);
	height: 20px;
	min-width: 10px;
	padding: 0 4px;
	display: inline-block;
	background-color: $colorJ;
	text-align: center;
	font-family: $boldFont;
	line-height: 20px;
	@include text(12px, #ffffff);
	&:first-letter{
		font-family: $normalFont;
	}
}


// Sub menu
.sub-menu-holder{
	position: absolute;
	background-color: $colorI;
	color: white;
	display: none;
}
.sub-menu-holder.small .sub-menu-item{
	white-space: nowrap;
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	position: relative;
	@include text(12px, $colorL);
	&:hover{
		background-color: $colorSeventeen;
	}
}
.sub-menu-item{
	padding: 10px 20px;
	@include text(14px, $color2);
	white-space: nowrap;
	&:hover{
		background-color: $colorSeventeen;
	}
	// &:first-child{
	// 	padding-top: 15px;
	// }
	// &:last-child{
	// 	padding-bottom: 15px;
	// }
}
.active .sub-menu-holder{
	display: block;
}
// positioning of submenu holder
.right-nav{
	right: 0px;
}
.bottom-nav{
	top: 100%;
}
.left-nav{
	left: 0px;
}
.top-nav{
	bottom: 100%;
}

// Separator
.separator{
	border-bottom: 1px solid $colorH;
	padding-top: 10px;
}

.flt-none.flt-none.flt-none{
	float: none;
}