// display type styles
.inlineBlockMid{
	display: inline-block;
	vertical-align: middle;
}

.inlineBlockTop{
	display: inline-block;
	vertical-align: top;
}

// Profile styles
.profile-image-black{
	@extend .circle;
    background-color: white;
    border: 2px solid #EBECEE;
}
.profile-image-white{
	@extend .circle;
	background-color: white;
	border: 2px solid white;
}
.profile-image-red{
	@extend .circle;
	background-color: #F7535F;
	border: 2px solid #F7535F;
}
.profile-image-blue{
	@extend .circle;
	background-color: #26B7FB;
	border: 2px solid #26B7FB;
}
.profile-image-grey{
	@extend .circle;
	background-color: grey;
	border: 2px solid grey;
}

.profile-image-comment{
	@extend .circle;
	background-color: whitesmoke;
	border: 2px solid $colorEight;
}
// Version related styles
.version-num{
	@include border-radius(20px);
	height: 20px;
	min-width: 10px;
	padding: 0 4px;
	display: inline-block;
	background-color: $colorJ;
	text-align: center;
	font-family: $boldFont;
	line-height: 20px;
	@include text(12px, #ffffff);
	&:first-letter{
		font-family: $normalFont;
	}
}


// Sub menu
.sub-menu-holder{
	position: absolute;
	background-color: $colorI;
	color: white;
	display: none;
}
.sub-menu-holder.small .sub-menu-item{
	white-space: nowrap;
	/*padding-left: 35px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	position: relative;
	@include text(12px, $colorL);
	&:hover{
		background-color: $colorSeventeen;
	}
}
.sub-menu-item{
	padding: 10px 20px;
	@include text(14px, $color2);
	white-space: nowrap;
	&:hover{
		background-color: $colorSeventeen;
	}
	// &:first-child{
	// 	padding-top: 15px;
	// }
	// &:last-child{
	// 	padding-bottom: 15px;
	// }
}
.people-request-holder {
	.sub-menu-holder {
		.sub-menu-item {
			padding: 10px;
		}
	}
}
.active .sub-menu-holder{
	display: block;
}
// positioning of submenu holder
.right-nav{
	right: 0px;
}
.bottom-nav{
	top: 100%;
}
.left-nav{
	left: 0px;
}
.top-nav{
	bottom: 100%;
}

// Separator
.separator{
	border-bottom: 1px solid $colorH;
	padding-top: 10px;
}

.flt-none.flt-none.flt-none{
	float: none;
}

// Button stylings
.buttons-section button{
	border: none;
    // float: right;
    height: 35px;
    margin-left: 25px;
    &:last-child{
    	margin-right: 0;
    }
}
.buttons-section{
	position: absolute;
	bottom: 30px;
	right: 30px;
	left: 30px;
	text-align: right;
}
.buttons-left-section, .buttons-right-section{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.buttons-left-section{
	width: 100%;
}
.buttons-right-section{
	white-space: nowrap;
	@extend .clearFloat;
}
.main-btn{
	@include text(16px, white);
	background-color: $colorN;
	padding: 5px 25px;
	@extend .a;
}
.lnk-btn{
	@include text(14px, $colorTwo);
	padding: 8px;
	background-color: transparent;
	@extend .a;
}
svg{
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.title-txt{
	&::before{
		content: attr(title);
	}
}
.caps{
	text-transform: uppercase;
}
.tilt{
	transform: rotate(45deg);
}
a{
	text-decoration: none;
}
