.shape {
    $w: 26px;
    width: $w;
    height: $w;
    border-radius: 50%;
    position: relative;
    margin-left: -3px;
    margin-top: -3px;
    z-index: 1;
    cursor: pointer;
    &[data-k-severity="R"]{
        background-color: tomato;
        &::after{
            border-color: transparent transparent transparent tomato;
        }
    }
    &[data-k-severity="B"]{
        background-color: $colorTwenty;
        &::after{
            border-color: transparent transparent transparent $colorTwenty;
        }
    }
    &[data-k-severity="G"]{
        background-color: green;
        &::after{
            border-color: transparent transparent transparent green;
        }
    }
    &::after {
        content: "";
        border-width: ceil($w/3);
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        right: -2px;
        bottom: -8px;
        @include transform(rotate(17deg));
    }
}

.comment-section{
    background-color: white;
    border: 1px solid #ACACAC;
    box-shadow: 0px 0px 5px #E1E1E1;
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
}
.comment-section-header{
    @extend .popup-header;
}

.replies-section{
}
.write-comment-section{
    padding: 5px;
    border: 1px solid #aaacb4;
    textarea.write-comment{
        width: 100%;
        resize: none;
        height: 75px;
        padding: 0px;
        margin: 0;
        @include placeHolder($colorTwo, 14px, $italicFont);
        &:focus{
            outline: none;
        }
    }
}
.pdfViewer{
    .write-comment{
        border: 1px solid #aaacb4;
    }
}
.comment-section-header > * {
  display: inline-block;
  vertical-align: middle;
}
.severity-section > *{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &.selected{
        border: 1px solid black;
    }
}

.new-textlayer{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    .comment-container{
        position: absolute;
        z-index: 1;
    }
    .comment-section-body{
        padding-bottom: 70px;
        .buttons-section{
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }
    .cv-comments-item{
        &:hover{
            background-color: #d1e5fe;
            .cv-comment-actions{
                visibility: visible;
            }
        }
    }
}
.pdfViewer{

    .cv-comments-item {
          padding: 20px 20px 15px 20px;
    }
    .write-comment-section{
        padding: 5px 25px 20px 25px;
        border: none;
    }
}
.type-and-state{
    position: absolute;
    right: 15px;
    font-size: 14px;
    top: 4px;
    div{
        display: inline-block;
    }
}
.more-comments{
    font-size: 14px;
    color: tomato;
    cursor: pointer;
}
.comment-category{
    padding-right: 5px;
    border-right: 2px solid #546879;
}
.comment-severity{
    position: absolute;
    top: 30px;
    left: 30px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}
.severity-High{
    background-color: tomato;
}
.severity-Medium{
    background-color: $colorTwenty;
}
.severity-Low{
    background-color: green;
}
.hide-comments{
    float: right;
    margin-right: 15px;
    background-color: #435383;
    border: none;
    color: white;
    width: 60px;
    display: none;
}
.hide-comment-section{
    & ~ div{
        display: none;
    }
}
.drpdwn-hdg-txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.drpdwn-selected-text{
    white-space: nowrap;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    /*&::after{
        content: "";
        @include backgroundImage('dropdown-icn.svg');
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-left: 8px;
    }*/
}
.drpdwn-selected-text-icn{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
.drpdwn--category{
    z-index: 1;
    .drpdwn-selected-text{
        color: #e18502;
        font-size: 14px;
    }
}
.drpdwn--status{
    z-index: 1;
    .drpdwn-selected-text{
        color: #3e4354;
        font-size: 14px;
    }
}
.cv-main-person{
    @extend .clearFloat;
}
.comment-sec-wrapper{
    max-height: 260px;
    overflow: auto;
    margin-bottom: 10px;
    position: relative;
    @extend .clearFloat;
}
img.image-viewer {
    padding: 90px 0px;
}

.cv-person-right-top{
    position: relative;
    display: flex;
}


.cv-comment-actions{
    display: flex;
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%);
    width: 50px;
    justify-content: space-around;
}

.cv-comment-edit, .cv-comment-delete{
    width: 15px;
    height: 15px;
    cursor: pointer;
    fill: #ccc;
    &:hover{
        fill: #333;
    }
}

// .pdfs-container{
//     .review-request-item{
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         margin: auto;
//         width: 300px;
//         height: 100px;
//         text-align: center;
//     }
// }
