.shape {
    $w: 27px;
    width: $w;
    height: $w;
    border-radius: 50%;
    position: relative;
    margin-left: -3px;
    margin-top: -3px;
    z-index: 1;
    cursor: pointer;
    &[data-k-severity="R"]{
        background-color: tomato;
        &::after{
            border-color: transparent transparent transparent tomato;
        }
    }
    &[data-k-severity="B"]{
        background-color: $colorTwenty;
        &::after{
            border-color: transparent transparent transparent $colorTwenty;
        }
    }
    &[data-k-severity="G"]{
        background-color: green;
        &::after{
            border-color: transparent transparent transparent green;
        }
    }
    &::after {
        content: "";
        border-width: $w/3;
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        right: -4.5px;
        bottom: -5px;
    }
}
.comment-container{
    position: absolute;
    z-index: 1;
}
.comment-section{
    background-color: white;
    border: 1px solid #ACACAC;
    box-shadow: 0px 0px 5px #E1E1E1;
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
}
.comment-section-header{
    @extend .popup-header;
}
.comment-section-body{
    padding: 20px;
    padding-bottom: 70px;
    .buttons-section{
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
}
.replies-section{
}
.write-comment-section{
    padding: 5px;
    border: 1px solid #aaacb4;
    textarea.write-comment{
        width: 100%;
        border: none;
        resize: none;
        height: 75px;
        padding: 0px;
        margin: 0;
        @include placeHolder($colorTwo, 14px, $italicFont);
        &:focus{
            outline: none;
        }
    }
}
.comment-section-header > * {
  display: inline-block;
  vertical-align: middle;
}
.severity-section > *{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &.selected{
        border: 1px solid black;
    }
}

.new-textlayer{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.hide-comment-section{
    & ~ div{
        display: none;
    }
}
.drpdwn-selected-text{
    white-space: nowrap;
    margin-right: 20px;
    &::after{
        content: "";
        @include backgroundImage('dropdown-icn.svg');
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-left: 8px;
    }
}
.drpdwn--category{
    .drpdwn-selected-text{
        color: #e18502;
        font-size: 14px;
    }
}
.drpdwn--status{
    .drpdwn-selected-text{
        color: #3e4354;
        font-size: 14px;
    }
}
.cv-main-person{
    @extend .clearFloat;
}