.shape {
    $w: 27px;
    $c: tomato;
    width: $w;
    height: $w;
    background-color: $c;
    border-radius: 50%;
    position: relative;
    margin-left: -3px;
    margin-top: -3px;
    &::after {
        content: "";
        border-width: $w/3;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $c;
        border-style: solid;
        position: absolute;
        right: -4.5px;
        bottom: -5px;
    }
}
.comment-container{
    position: absolute;
}
.comment-section{
    background-color: white;
    border: 1px solid #ACACAC;
    box-shadow: 0px 0px 5px #E1E1E1;
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
}
.comment-section-header{
    @extend .popup-header;
}
.comment-section-body{
    padding: 15px 30px;
    padding-bottom: 70px;
}
.replies-section{
}
.write-comment-section{
    padding: 5px;
    textarea.write-comment{
        width: 100%;
        border: none;
        resize: none;
        height: 75px;
        padding: 0px;
        margin: 0;
        @include placeHolder(tomato, 14px, $italicFont);
        &:focus{
            outline: none;
        }
    }
}
.comment-section-header > * {
  display: inline-block;
  vertical-align: middle;
}
.severity-section > *{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &.selected{
        border: 1px solid black;
    }
}
.red-severity{
    background-color: $colorTwentyOne;
}
.blue-severity{
    background-color: $colorTwenty;
}