.project-block{
	float: left;
	@include dimensions(45%, 200px);
	background-color: cornflowerblue;
	position: relative;

	&:hover .project-block-hover-content{
		display: block;
	}
}
.project-block:nth-child(2n){
	float: right;
}
.project-block:nth-child(n+3){
	margin-top: 60px;
}
.project-block-hover-content{
	text-align: center;
	display: none;
}
.project-black-out{
	@extend .stretch;
	opacity: 0.7;
	background-color: $colorF;
}
.project-actions-wrapper{
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 1;
	padding-top: 11%;
}
.project-action{
	display: inline-block;
	margin: 0 12px;
	margin-top: 8px;
}
.project-action-icon{
	@include dimensions(28px, 28px);
	display: inline-block;
}
.add-artefact-icon{
	@include backgroundImage('artifacts.svg');
}
.add-user-icon{
	@include backgroundImage('adduser.svg');
}
.archive-icon{
	@include backgroundImage('archive.svg');
}
.project-action-label{
	@include text(13px, white);
}
.project-block-overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #D7D9E0;
	text-align: center;
}
.project-block-overlay-wrapper{
	display: inline-block;
}
.btn-project-open{
	background-color: #e7e7e7;
	border: none;
	@include text(13px, #3e4354);
	position: absolute;
	bottom: 0px;
	margin-bottom: 5%;
	left: 50%;
	@include translate(-50%,0);
	z-index: 1;
	@include dimensions(160px, 40px);
	text-decoration: none;
	line-height: 40px;
}
.project-block-title{
	@include textTwo();
}
.project-block-details{
	@include textThree();
	margin-top: 5px;
	line-height: 16px;
	text-indent: 5px;
}
.fixed-content{
	float: right;
	width: 655px;
}
.project-block-details::before{
	content: "";
	@include elementWithBackground("one1.svg", 15px, 15px);
	float: left;
}

// requests

.review-request-item{
	@include clearFloat();
	position: relative;
}
.review-request-item + .review-request-item{
	margin-top: 50px;
}
.rr-left{
	@include dimensions(50px, 68px);
	float: left;
	position: relative;
	margin-right: 12px;
}
.rr-right{
	margin-left: 50px;
}
.rr-status{
	@include dimensions(37px, 57px);
	@include textFour();
	text-align: right;
	padding-right: 3px;
}
.rr-title{
	@include textFive();
	line-height: 11px;
}
.rr-details{
	@include textSix();
	margin-top: 6px;
	margin-bottom: 5px;
}
.status-critical{
	background-color: $colorCritical;
}
.status-normal{
	background-color: $colorNormal;
}
.status-approved{
	background-color: $colorApproved;
}
.rr-state{
	span{
		@include text(12px, #ffffff);
		@include dimensions(20px, 20px);
		@include border-radius(50%);
		@extend .hand;
		display: inline-block;
		background-color: $colorJ;
		line-height: 20px;
		text-align: center;
		font-family: $boldFont;
		&:first-letter{
			font-family: $normalFont;
		}
		&:nth-of-type(3n + 1):after{
			content: "";
			display: block;
			color: red;
		}
	}
	.rr-other-versions{
		$mr: 28px;
		span{
			margin-top: 20px;
			margin-right: $mr;
			position: relative;
			background-color: $colorY;
			&:after{
				content: "";
				position: absolute;
				background-color: $colorX;
			}
			&:before{
				content: attr(data-date);
				@include text(10px, #798791);
				white-space: nowrap;
				position: absolute;
				top: 100%;
				left: 50%;
				@include translate(-50%, 0);
				margin-top: -2px;
				z-index: 1;
			}
			&:first-child:after{
				width: 1px;
				height: 20px;
				bottom: 100%;
				left: 50%;
				margin-left: -1px;
			}
		}
		& > div{
			@include clearFloat();
		}
		& > div:nth-child(2n+1){
			& > span{
				float: left;
				&:not(:first-child):after{
					width: $mr;
					height: 1px;
					right: 100%;
					top: 50%;
					margin-top: -1px;
				}
			}
		}
		& > div:nth-child(2n){
			& > span{
				float: right;
				&:not(:first-child):after{
					width: $mr;
					height: 1px;
					left: 100%;
					top: 50%;
					margin-top: -1px;
				}
			}
		}
	}
}
.rr-comment{
	@include elementWithBackground("baloon.svg", 40px, 26px);
	line-height: 21px;
	text-align: center;
	@include textEight();
	position: absolute;
	left: 93px;
  	top: 43px;
}
.rr-comment{
	float: left;
}
.rr-owner-image{
	@include dimensions(32px, 32px);
	position: absolute;
	right: 0;
	bottom: 0;
}
.requests-dropdown{
	//display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	@include dimensions(36px, 28px);
	cursor: pointer;
	z-index: 1;
}
.review-request-item{
	input[type="checkbox"]{
		@extend .disappear;
	}
	.requests-dropdown-icon{
		@include fullMiddle();
	}
	&:hover{
		.requests-dropdown-icon{
			@include elementWithBackground("dropdown.svg", 16px, 16px);
			z-index: 2;	
		}
	}
	.requests-dropdown{
		display: block;
		&:hover{
			background-color: $colorK;
			.requests-dropdown-items{
				display: block;
			}
			.requests-dropdown-icon{
				@include elementWithBackground("dropdown1.svg", 16px, 16px);
				z-index: 2;
			}
		}
	}
}
.requests-dropdown-items{
	display: none;
	position: absolute;
	top: 100%;
	padding-top: 10px;
	background-color: $colorK;
}
.requests-dropdown-items > div{
	white-space: nowrap;
	padding-left: 35px;
	padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
	@include text(12px, $colorL);
}
@mixin requestHoverListType($image){
	@include listTypeWithGap($image, 17px, 17px, 0px, 10px);
}
.requests-archive-item{
	@include requestHoverListType("archive1.svg");
}
.requests-replace-item{
	@include requestHoverListType("replace.svg");	
}
.requests-add-version-item{
	@include requestHoverListType("addversion.svg");
}
.requests-share-item{
	@include requestHoverListType("share.svg");
}
//Notifications
.notifications-content{
	margin-top: 30px;
}
.day-notifications + .day-notifications{
	margin-top: 20px;
}
.day-notifications-label{
	@include textSix();
	border-bottom: 1px solid $colorB;
}
.notification-item{
	@include clearFloat();
}
.notification-title{
	@include textFive();
}
.notification-time{
	@include text(12px, $colorC);
}
.mn-left{
	float: left;
	width: 150px;
	background-color: $colorMeetingOne;
	position: relative;
	@include text(12px, $colorA);
}
.mn-left-title{
	@extend .ellipsis;
}
.mn-right{
	margin-left: 160px;
	background-color: $colorMeetingTwo;
	text-align: center;
	@include text(12px, $colorFour);
	font-family: $semiBoldFont;
	text-transform: uppercase;
}
.mn-left, .mn-right{
	padding: 5px;
}
.notification-item{
	padding-left: 25px;
	position: relative;
	margin-top: 20px;
}
.notification-item.meeting-type{
	@include listTypeImage("one.svg");
}
.notification-item.comment-type{
	@include listTypeImage("baloon1.svg");
}
.notification-item.review-request-type{
	@include listTypeImage("file.svg");
}
.notification-item.meeting-type .mn-left::after{
	content: "";
	@include elementWithBackground("clock.svg", 16px, 16px);
	position: absolute;
	bottom: 0;
	right: 0;
	@include translate(50%, 50%);
}
.meeting-notify-section{
	margin-top: 5px;
}