.project-block{
	float: left;
	@include dimensions(45%, auto);
	position: relative;
	margin-right: 5%;
	margin-bottom: 60px;
	max-width: 500px;
	min-height: 200px;
	&:hover .project-block-hover-content{
		display: block;
	}
	img{
		width: 100%;
	}
}
.sub-menu-nav.active.create-icon-holder{
	position: absolute;
}
//.project-block:nth-child(2n){
	//float: right;
//}
//.project-block:nth-child(n+3){
//	margin-top: 60px;
//}
.project-block-hover-content{
	text-align: center;
	display: none;
}
.project-black-out{
	@extend .stretch;
	opacity: 0.7;
	background-color: $colorF;
}
.project-actions-wrapper{
	display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    @include translate(0, -50%);
    margin-top: -40px;
    z-index: 1;
}
.project-action{
	display: inline-block;
	margin: 0 12px;
	margin-top: 8px;
	cursor: pointer;
}
.project-action-icon{
	@include dimensions(28px, 28px);
	display: inline-block;
}
.add-artefact-icon{
	/*@include backgroundImage('artifacts.svg');*/
}
.add-user-icon{
	/*@include backgroundImage('adduser.svg');*/
}
.archive-icon{
	/*@include backgroundImage('archive.svg');*/
}
.project-action-label{
	@include text(13px, white);
}
.project-block-overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #D7D9E0;
	text-align: center;
}
.project-block-overlay-wrapper{
	display: inline-block;
	width: 100%;
}
.btn-project-open{
	background-color: #e7e7e7;
	border: none;
	@include text(13px, #3e4354);
	position: absolute;
	bottom: 20px;
	left: 50%;
	@include translate(-50%,0);
	z-index: 1;
	@include dimensions(160px, 40px);
	text-decoration: none;
	line-height: 40px;
}
.project-block-title{
	@include textTwo();
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0px 10px;
}
.project-block-details{
	@include textThree();
	margin-top: 5px;
	line-height: 16px;
	/*text-indent: 5px;*/
	display: inline-block;
	max-width: 100%;
}
.fixed-content{
	float: right;
	width: 700px;
}
.project-block-details-icon{
	fill: #9599A7;
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
}
.project-block-details-text{
	white-space: nowrap;
	margin-left: 20px;
}

// requests
.review-request-item{
	@extend .clearFloat;
	position: relative;
	display: block;
	text-decoration: none;
	input[type="checkbox"]{
		@extend .disappear;
	}
	.requests-dropdown-icon{
		left: 10px;
	    position: absolute;
	    top: 10px;
		display: none;
	}
	&:hover{
		.requests-dropdown-icon{
			display: block;
			z-index: 2;
		}
	}
	.requests-dropdown{
		display: block;
		&.active{
			background-color: $colorK;
			z-index: 1;
			.requests-dropdown-items{
				display: block;
			}
			.requests-dropdown-icon{
				display: block;
				z-index: 2;
				fill: #ECECEC;
			}
		}
	}
}
.review-request-item + .review-request-item{
	margin-top: 50px;
}
.rr-left{
	@include dimensions(50px, 68px);
	float: left;
	position: relative;
	margin-right: 12px;
}
.rr-right{
	margin-left: 62px;
}
.rr-status{
	line-height: 0;
	@include dimensions(37px, 57px);
	color: #425282;
	font-size: 14px;
	text-align: center;
	padding-right: 3px;
	&-N{  /* New artefact */
		fill: #9db0c0;
	}
	&-R{  /* Artefact under review */
		fill: #f68d3d;  
	}
	&-O{  /* Artefact review over */
		fill: #415081; 
	}
}
.rr-doc-type {
	position: absolute;
    top: 16px;
    left: 50%;
    transform: translate(-75%);
}
.rr-title{
	@include textFive();
	line-height: 11px;
	height: 14px;
	text-transform: capitalize;
}
.rr-details{
	@include textSix();
	margin-top: 5px;
	margin-bottom: 5px;
	@extend .ellipsis;
}
.rr-project-name{
	color: $colorFive;
	font-size: 14px;
	margin-top: 3px;
	// margin-bottom: 5px;
	@extend .ellipsis;
}
.rr-state{
	position: relative;
}
.status-C{ /* critical */
	background-color: $colorCritical;
}
.status-N{ /* normal */
	background-color: $colorNormal;
}
.status-A{ /* approved */
	background-color: $colorApproved;
}
.rr-other-versions{
	display: none;
}
.artefact-cur-version.active + .rr-other-versions {
	display: block;
}
.version-summary-section{
	display: inline-block;
}
.version-summary{
	&:not(:last-child) {
	    display: flex;
	    justify-content: space-around;
	}
}
.rr-state{
	.artefact-cur-version{
		@extend .hand;
		@extend .version-num;
		&:nth-of-type(3n + 1):after{
			content: "";
			display: block;
			color: red;
		}
	}
	.rr-other-versions{
		$mr: 28px;
		.version-summary{
			a{
				margin-right: 28px;
				span{
					@extend .hand;
					@extend .version-num;
					margin-top: 20px;
					//margin-right: $mr;
					position: relative;
					background-color: $colorY;
					&:after{
						content: "";
						position: absolute;
						background-color: $colorX;
						width: 32px;
					    height: 1px;
					    top: 50%;
					    right: 100%;
					    z-index: -1;
					}
					&:before{
						content: attr(data-date);
						@include text(10px, #798791);
						white-space: nowrap;
						position: absolute;
						top: 100%;
						left: 50%;
						@include translate(-50%, 0);
						margin-top: -2px;
						z-index: 1;
					}
				}
				&:first-child span:after{
					width: 1px;
					height: 20px;
					bottom: 100%;
					top: -80%;
					left: 50%;
					margin-left: -1px;
				}
			}
			&:nth-of-type(2n){
				display: flex;
				flex-direction: row-reverse;
				a{
					&:not(:first-child) span:after{
					    left: 100% !important;
					}
				}
			}
			&:nth-child(odd) span:last-child {
			margin-right: 0;
			}
			&:nth-child(even) span:first-child {
			margin-right: 0;
			}
		}
		
	}
}
.rr-comment{
	/*@include elementWithBackground("baloon.svg", 40px, 26px);*/
	width: 40px;
	height: 26px;
	@include textEight();
	text-align: center;
	line-height: 21px;
	position: relative;
}
.rr-comment-count{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.rr-state .rr-comment{
	position: absolute;
	left: 35px;
  	top: 2px;
}
.rr-state .rr-comment{
	float: left;
}
.rr-owner-image{
	@include dimensions(28px, 28px);
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
}
.requests-dropdown{
	//display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	@include dimensions(36px, 28px);
	cursor: pointer;
	z-index: 0;
}
.requests-dropdown-icon{
	@include dimensions(16px, 16px);
	fill: #B9BBC4;
}

.requests-dropdown-items{
	display: none;
	position: absolute;
	top: 100%;
	padding-top: 10px;
	background-color: $colorK;
}
@mixin requestHoverListType($image){
	@include listImage($image, 17px, 17px);
}
.requests-dropdown-items{
	.item-icon{
		width: 17px;
		height: 17px;
		margin-right: 5px;
	}
	.item-icon, .sub-menu-item-text{
		display: inline-block;
		vertical-align: middle;
	}
}
/*.requests-archive-item{
	@include requestHoverListType("archive1.svg");
}
.requests-replace-item{
	@include requestHoverListType("replace.svg");
}
.requests-add-version-item{
	@include requestHoverListType("addversion.svg");
}
.requests-share-item{
	@include requestHoverListType("share.svg");
}
.requests-delete-item{
	@include requestHoverListType("delete.svg");
}*/
//Notifications
.notifications-content{
	margin-top: 30px;
	.day-activity-label{
		border-bottom: 1px solid #aaacb4;
	}
}
.day-notifications + .day-notifications{
	margin-top: 20px;
}
.day-notifications-label{
	@include textSix();
	border-bottom: 1px solid $colorB;
}
.notification-title{
	@include textFive();
	@extend .ellipsis;
}
.notification-time{
	@include text(12px, $colorC);
	@extend .ellipsis;
}
.mn-left{
	display: table-cell;
	background-color: $colorMeetingOne;
	position: relative;
	@include text(12px, $colorA);
	max-width: 140px;
}
.mn-left-title{
	@extend .ellipsis;
}
.mn-right{
	display: table-cell;
	background-color: $colorMeetingTwo;
	text-align: center;
	@include text(12px, $colorFour);
	font-family: $semiBoldFont;
	text-transform: uppercase;
}
.mn-left, .mn-right{
	padding: 5px;
}
.notification-item{
	padding-left: 25px;
	position: relative;
	// margin-top: 20px;
	@extend .clearFloat;
	display: block;
	text-decoration: none;
}
.notification-item{
	.notification-meeting-icon, .notification-comment-icon, .notification-file-icon{
		/*@include listTypeImage("one.svg");*/
		width: 15px;
		height: 15px;
	}

}
.notification-meeting-icon{
	fill: #00AEEF;
	float: left;
	margin-left: -25px;
}
.notification-item.C-type{
	/*@include listTypeImage("baloon1.svg");*/
}
.notification-item.S-type{
	/*@include listTypeImage("file.svg");*/
}
.clock-icon{
	@include square(16px);
	position: absolute;
	bottom: 0;
	right: 0;
	@include translate(50%, 50%);
}
.meeting-notify-section{
	margin-top: 5px;
}
.notification-file-icon{
	width: 15px;
	height: 15px;
	position: absolute;
    left: 0;
    top: 2px;
}
.menu-recent-notifications {
	.mn-left {
		background-color: #00aeef;
		color: #ffffff;
		padding-right: 10px;
	}
	.clock-icon {
		bottom: 13px;
	}
}