
.messages-wrapper {
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 0px 0px 4px 4px;
  line-height: 100px;
  width: 425px;
  min-height: 86px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.error-messages-wrapper{
  background-color: #ef989c;
  border: 1px solid #f26d7d;
}
.success-messages-wrapper{
  background-color: #6cbf5d;
  border: 1px solid #3d9176;
}
.messages-wrapper.show-messages ,.messages-wrapper.show-messages{
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.error-or-success-img{
  width: 70px;
  height: 70px;
  min-width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.messages {
  line-height: normal;
  padding: 0px;
  padding-left: 15px;
  font-size: 14px;
  display: block;
  float: left;
  clear: both;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "OpenSansRegular";
}
.error-field {
    border: 1px solid #ff0011 !important;
}
