.error-messages-wrapper{
	text-align: center;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	transform: translate(0, -100%);
	transition: transform 0.5s;
	&.show-errors{
		transform: translate(0, 0);
	}
	background-color: rgba(163, 84, 88, 0.5);
	border-radius: 0px 0px 4px 4px;
}
.error-messages{
	display: inline-block;
	text-align: left;
	padding: 0px;
	& > li{
		display: block;
		float: left;
		clear: both;
		color: red;
	}
}
.error-field {
    border: 1px solid tomato !important;
}