//Header section
$headerHeight: 64px;
.header{
	position: relative;
	@include clearFloat();
}
.hamburger{
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.hamburger-notify{
	@include dimensions(16px, 16px);
	display: none;
	background-color: #ee603a;
	@include text(10px, white);
	@include border-radius(50%);
	@include translate(-30%, 32%);
	border: 1px solid white;
	text-align: center;
	line-height: 15px;
	font-family: $boldFont;
}
.hamburger-icon{
	@include backgroundImage("hamburger.svg");
	@include dimensions(20px, 15px);
	left: 50%;
    margin-left: -10px;
    margin-top: -9.5px;
    position: absolute;
    top: 50%;
}
.logo{
	@include elementWithBackground("logo.svg", 138px, 32px);
	left: 42px;
}
.logo{
	@include verticalMiddle();
	display: block;
}

.create-plus-icon{
	@include elementWithBackground("add.svg", 24px, 24px);
	@include fullMiddle();
}

.search-icon{
	@include elementWithBackground("search.svg", 24px, 24px);
	right: 86px;
	@extend .hand;
}

.profile-pic-holder{
	float: right;
	padding: 0 10px;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	width: 58px;
	height: 60px;
	img{
		@include border-radius(50%);
		background-color: white;
		border: 2px solid white;
	}
	.sub-menu-holder{
		min-width: 150px;
	}
}
.create-icon-holder{
	position: absolute;
	right: 122px;
	height: 70px;
	width: 40px;
	@extend .hand;
	@extend .unselectable;
	&.active{
		.create-plus-icon{
			@include backgroundImage("Add1.svg");
		}
		.create-plus-nav{
			display: block;
		}
	}
}
.create-plus-nav{
	position: absolute;
	top: 100%;
	background-color: $colorI;
	right: 0;
	z-index: 1;
	width: 180px;
	padding: 10px;
	display: none;
}
.create-plus-nav-item{
	white-space: nowrap;
	padding: 10px;
	@include text(14px, $color2);
}
.search-icon{
	@include verticalMiddle();
}
