.input-meeting-text{
	@include placeHolder($colorTwo, 14px, $normalFont);
	@include dimensions(366px, 18px);
	border: 1px solid $colorB;
	padding: 7px;
	&:focus{
		outline: none;
	}
}

.field-section.in-line {
	clear: none;
	display: inline-block;
	float: none;
	vertical-align: bottom;
}

.mini-dropdown {
	@include dimensions(105px, 38px);
	display: inline-block;
	vertical-align: middle;
}

.mini-datepicker {
	width: 160px;
}

.input-meeting-date {
	@include dimensions(115px, 30px);
}
.datepicker-icon {
	/*@include backgroundImage('calendar.svg');*/
	fill: #435383;
	@include dimensions(17px, 17px);
	margin: 8px 8px;
}

.datepicker-icon-holder {
	@include dimensions(35px, 34px);
	background-color: $colorNine;
	border: 1px solid $colorB;
 	border-left: 0px;
}

.float-left {
	float: left;
}

.time-label {
	line-height: 38px;
	margin: 0px 10px;
	display: inline-block;
	vertical-align: middle;
}

.no-margin {
	margin: 0px;
}

.input-meeting-textarea{
	@include placeHolder($colorTwo, 14px, $normalFont);
	@include dimensions(360px, 58px);
	border: 1px solid $colorB;
	padding: 5px;
	resize: none;
	&:focus{
		outline: none;
	}
	vertical-align: top;
}


//Venkateshwar
.meeting-section{
	.checkbox{
		margin: 10px 0 20px 0;
	}
}
.heading-date{
	@include text(20px, $colorTen);
	@extend .inlineBlockMid;
}
.meeting-wrapper{
	position: relative;
	margin-top: 20px;
	@extend .clearFloat;
	padding-bottom: 35px;
}
.meeting-people-section{
	padding-top: 20px;
	position: relative;
}
.meeting-left-section{
	border-right: 1px dashed $colorP;
	background-color: $colorQ;
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
}
.meeting-right-section{
	margin-left: 220px;
	@extend .clearFloat;
}
.people-img-wrapper{
	img{
		@extend .profile-image-white;
	    height: 28px;
	    width: 28px;
	    display: inline-block;
		vertical-align: middle;
	}
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}
.meeting-people-other{
	position: absolute;
	right: 0;
	top: 20px;
}
.meeting-people-name{
	@include text(14px, $colorTwo);
}
.v-separator{
	@extend .inlineBlockMid;
	height: 30px;
	border-left: 1px solid $colorTwo;
}
.text-editor-section{
	border: 1px solid $color8;
	margin-top: 20px;
	@include border-radius(4px);
	margin-bottom: 10px;
	overflow: hidden;
}
[name="text-b"], [name="text-i"], [name="text-u"]{
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.text-actions-section{
	background-color: $colorQ;
	padding: 10px;
	height: 30px;
	& > button{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		@include text(14px, $colorTwo);
		@extend .hand;
	}
	& > button + button{
		padding-left: 10px;
		border-left: 1px solid $colorTwo;
	}
}
[name="text-b"].active{
	font-family: $boldFont;
}
[name="text-i"].active{
	font-family: $italicFont;
}
[name="text-u"].active{
	text-decoration: underline;
}

.view-notes {
	padding: 10px 20px;
	@include text(13px, $colorTwo);
	min-height: 260px;
	display: none;
}

.selectedNotes {
	display: block;
}

.currentPersonNotes {
	display: none;
}

.acitiveNotesPartcipant {
	display: block;
}

.people-img-wrapper.active{
	background-color: $colorEleven;
}
.meeting-section .buttons-section{
	right: 0;
}

.people-suggestions {
	display: none;
	top: 110px;
}
.people-name {
	border : 0px;
}

.names-holder {
	float: left;
	margin-right: 10px;
} 
.meeting-section .project-heading{
	@extend .clearFloat;
	line-height: 40px;
}
.meeting-update-btn-holder{
	float: right;
}
.meeting-update-button{
	background-color: $colorN;
	display: inline-block;
	padding: 0px 20px;
	@include border-radius(3px);
	@include text(16px, white);
}