.popup-meeting{
	@include dimensions(565px, 700px);
}

.input-meeting-text{
	@include placeHolder($colorTwo, 14px $normalFont);
	@include dimensions(365px, 18px);
	border: 1px solid $colorB;
	padding: 10px;
	&:focus{
		outline: none;
	}
}

.mini-dropdown {
	@include dimensions(105px, 38px);
}

.mini-datepicker {
	@include dimensions(155px, 40px);
}

.input-meeting-date {
	@include dimensions(115px, 36px);
}
.datepicker-icon {
	@include backgroundImage('calendar.svg');
	@include dimensions(17px, 17px);
	margin: 10px 8px;
}

.datepicker-icon-holder {
	@include dimensions(35px, 40px);
	background-color: $colorNine;
	border: 1px solid $colorB;
 	border-left: 0px;
}

.float-left {
	float: left;
}

.time-label {
	line-height: 38px;
	margin: 0px 10px;
}

.no-margin {
	margin: 0px;
}

.input-meeting-textarea{
	@include placeHolder($colorTwo, 14px $normalFont);
	@include dimensions(365px, 58px);
	border: 1px solid $colorB;
	padding: 10px;
	margin-bottom: 20px;
	resize: none;
	&:focus{
		outline: none;
	}
	vertical-align: top;
}


//Venkateshwar
.meeting-section{
	.checkbox{
		margin: 10px 0 20px 0;
	}
}
.heading-date{
	@include text(20px, $colorTen);
	@extend .inlineBlockMid;
}
.meeting-wrapper{
	position: relative;
	margin-top: 20px;
	@include clearFloat();
	padding-bottom: 35px;
}
.meeting-people-section{
	padding-top: 20px;
	position: relative;
}
.meeting-left-section{
	border-right: 1px dashed $colorP;
	background-color: $colorQ;
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
}
.meeting-right-section{
	margin-left: 220px;
	@include clearFloat();
}
.people-img-wrapper{
	img{
		@extend .profile-image-white;
	    height: 28px;
	    width: 28px;
	    display: inline-block;
		vertical-align: middle;
	}
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}
.meeting-people-other{
	position: absolute;
	right: 0;
	top: 20px;
}
.meeting-people-name{
	@include text(14px, $colorTwo);
}
.v-separator{
	@extend .inlineBlockMid;
	height: 30px;
	border-left: 1px solid $colorTwo;
}
.text-editor-section{
	border: 1px solid $color8;
	margin-top: 20px;
	@include border-radius(4px);
	margin-bottom: 10px;
	overflow: hidden;
}
.text-actions-section{
	background-color: $colorQ;
	padding: 10px;
	height: 30px;
	& > div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		@include text(14px, $colorTwo);
		@extend .hand;
	}
	& > div + div{
		padding-left: 10px;
		border-left: 1px solid $colorTwo;
	}
}
.text-action-bold{
	font-family: $boldFont;
}
.text-action-italic{
	font-family: $italicFont;
}
.text-action-underline{
	text-decoration: underline;
}
.text-editor{
	padding: 10px 20px;
	@include text(13px, $colorTwo);
	min-height: 260px;
}
.people-img-wrapper.active{
	background-color: $colorEleven;
}
