.profile-pic-nav{
	position: absolute;
	background-color: $colorI;
	color: white;
	right: 0;
	width: 100px;
	padding: 5px 10px;
	width: 145px;
	display: none;
}
.active .profile-pic-nav{
	display: block;
}
.profile-pic-nav-item{
	padding: 10px;
	@include text(14px, $color2);
}
.profile-pic-nav-item:first-child + .profile-pic-nav-item{
	padding-top: 15px;
}
.profile-pic-holder.active{
	background-color: $colorI;
}
.separator{
	border-bottom: 1px solid $colorH;
	padding-top: 10px;
}
.timer-overlay{
	position: absolute;
	width: 250px;
	padding: 20px;
	background-color: $colorZ;
	top: 100%;
	margin-top: 18px;
  	left: -12px;
	border: 1px solid $color0;
	cursor: default;
	&::after, &::before{
		content: "";
		border-style: solid;
		position: absolute;
		top: 0px;
		left: 5px;
		@include translate(0, -100%);
	}
	&::after{
		border-width: 10px;
		border-color: transparent transparent $color0 transparent;
	}
	&::before{
		border-width: 9px;
		border-color: transparent transparent $colorZ transparent;	
		z-index: 1;
		margin-left: 1px;
	}
	.notification-item{
		margin-top: 0;
	}
}

.notification-close-icon{
	@include closeIcon(10px);
	position: absolute;
	right: 10px;
	top: 10px;
}