.timer-overlay{
	position: absolute;
	width: 250px;
	padding: 20px;
	background-color: $colorZ;
	top: 100%;
	margin-top: 18px;
  	left: -12px;
	border: 1px solid $color0;
	cursor: default;
	&::after, &::before{
		content: "";
		border-style: solid;
		position: absolute;
		top: 0px;
		left: 5px;
		@include translate(0, -100%);
	}
	&::after{
		border-width: 10px;
		border-color: transparent transparent $color0 transparent;
	}
	&::before{
		border-width: 9px;
		border-color: transparent transparent $colorZ transparent;	
		z-index: 1;
		margin-left: 1px;
	}
	.notification-item{
		margin-top: 0;
	}
}

.notification-close-icon{
	@include closeIcon(10px);
	position: absolute;
	right: 10px;
	top: 10px;
}

.throbber{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 4px;
	left: 50%;
	top: 45%;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
