.sub-menu-holder{
	position: absolute;
	background-color: $colorI;
	color: white;
	display: none;
}
.active .sub-menu-holder{
	display: block;
}
.right-nav{
	right: 0px;
}
.bottom-nav{
	top: 100%;
}
.left-nav{
	left: 0px;
}
.top-nav{
	bottom: 100%;
}
.sub-menu-item{
	padding: 10px 20px;
	@include text(14px, $color2);
	white-space: nowrap;
	&:hover{
		background-color: #293447;
	}
	&:first-child{
		padding-top: 15px;
	}
	&:last-child{
		padding-bottom: 15px;
	}
}
.separator{
	border-bottom: 1px solid $colorH;
	padding-top: 10px;
}
.timer-overlay{
	position: absolute;
	width: 250px;
	padding: 20px;
	background-color: $colorZ;
	top: 100%;
	margin-top: 18px;
  	left: -12px;
	border: 1px solid $color0;
	cursor: default;
	&::after, &::before{
		content: "";
		border-style: solid;
		position: absolute;
		top: 0px;
		left: 5px;
		@include translate(0, -100%);
	}
	&::after{
		border-width: 10px;
		border-color: transparent transparent $color0 transparent;
	}
	&::before{
		border-width: 9px;
		border-color: transparent transparent $colorZ transparent;	
		z-index: 1;
		margin-left: 1px;
	}
	.notification-item{
		margin-top: 0;
	}
}

.notification-close-icon{
	@include closeIcon(10px);
	position: absolute;
	right: 10px;
	top: 10px;
}