.overlay{
	border: 1px solid $colorTwo;
}
.summary-section-overlay{
	background-color: white;
	height: 614px;
	max-height: 100%;
	width: 1000px;
}
.sliders{
	.rr-comment{
		@extend .inlineBlockTop;
	}
	.rr-status{
		line-height: normal;
		color: white;
	}
	&.slider-large{
		min-width: 1000px;

	}
	&.slider-medium{
		min-width: 440px;
		max-height: 620px;
	}
	position: relative;
	// transform: translate(-100%,0);
	// transition: transform 1s,margin 1s;
	height: 100%;
	//left: 80px;
	padding-left: 80px;
	top: 80px;
}
.slider-container{
	// padding-left: 80px;
	// padding-top: : 80px;
	 transition: min-width .5s linear;
	 width: 0px;
	 min-width: 0px;
	 text-align: left;
	 position: relative;
	 height: calc(100% - 138px);
	top: 80px;
	//  padding: 80px;
}
.sliders{
	position: absolute;
	right: 80px;
	top: 0px;
}
.secondary-status-rr{
	padding: 10px;
	@extend .circle;
	width: 0;
	height: 0;
	@extend .inlineBlockTop;
}
.summary-section-header{
	padding: 30px;
	height: 100px
}

.summary-header-left, .summary-header-right{
	float: left;
	width: 50%;
}
.summary-header-right{
	text-align: right;
	direction: rtl;
	.summary-header-action-item{
		text-align: left;
		width: 60px;
		margin-bottom: 15px;
		@include text(12px, $colorFive);
		cursor: pointer;
		position: relative;
	}
}

.submit-action-icon{
	/*@include listImage($iconSubmit, 20px, 20px);*/
	width: 20px;
	height: 20px;
	// padding-left: 40px;
}
.archive-action-icon{
	/*@include listImage($iconArchive, 20px, 20px);*/
	width: 20px;
	height: 20px;
	// padding-left: 40px;
}
.delete-action-icon{
	/*@include listImage($iconDelete, 20px, 20px);*/
	width: 20px;
	height: 20px;
	// padding-left: 40px;
}

.summary-section-body{
	background-color: $color6;
	padding: 205px 35px 95px 35px;
	position: relative;
}
.time-frame-extended{
	position: absolute;
	top: -4px;
	left: 0;
	right: 0;
}
.time-frame-section{
	margin: 0 auto;
	background-color: white;
	height: 69px;
	border: 1px solid rgba(141, 143, 150, 0.7);
	position: relative;
	.time-frame-extended{
		@include middleSetter(6px);
	}
}
.time-frame-item{
	$w: 4px;
	width: $w;
	height: $w;
	border: 1px solid black;
	margin-left: -6px;
	background-color: white;
	.version-type{
		@extend .version-num;
	}

	.meeting-type{
		@include elementWithBackground("calendar1.svg", 23px, 25px);
	}
	.file-type{
		@include elementWithBackground("file_1.svg", 24px, 26px);
	}
	.comment-type{
		@include elementWithBackground("chat.svg", 30px, 27px);
	}
	.user-type{
		@include elementWithBackground("user.svg", 23px, 26px);
	}
	.file-replaced{
		@include elementWithBackground("replaced.svg", 20px, 20px);
	}
	.top-hover-viewer{
		background-color: $colorI;
		bottom: 100%;
		margin-bottom: 15px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		&:after{
			content: "";
			border-width: 8px 5px;
			border-color: $colorI transparent transparent transparent;
			border-style: solid;
			position: absolute;
			top: 100%;
			left: 5px;
		}
	}
	.meeting-type-content{
		@include listImage("calendar1.svg", 23px, 25px);
		width: 140px;
		text-align: left;
		@include text(13px, $color2);
		font-family: $normalFont;
	}
}
.time-frame-holder{
	position: relative;
	z-index: 1;
}
.time-frame{
	position: relative;
}
.top-viewer{
	position: absolute;
    @include transform(translate(-50%, 0));
	margin-bottom: 5px;
	bottom: 100%;
	left: 50%;
	&:hover > .top-hover-viewer{
		display: block;
	}
}
.top-hover-viewer{
	display: none;
}
.time-frame-date{
	position: absolute;
	top: 100%;
	margin-top: 10px;
	left: 50%;
	@include transform(translate(-50%, 0));
	@include textSix();
	white-space: nowrap;
	pointer-events: none;
}
.tf-images{
	@extend .inlineBlockMid;
	img{
		background-color: white;
	    border: 2px solid transparent;
	    @extend .circle;
	    height: 28px;
	    width: 28px;
	}
}
.comment-type-viewer{
	width: 140px;
}
.tf-more-people{
	@extend .inlineBlockMid;
	width: 66px;
	@include text(13px, $color2);
	font-family: $normalFont;
}
.user-type-content {
    width: 110px;
}
.time-frame-selector{
	position: absolute;
	bottom: -4px;
	margin: 0;
	left: 0;
	right: 0;
	@include middleSetter(6px);
	.time-selector-item{
		width: 6px;
		height: 6px;
		background-color: black;
	}
}
.summary-footer-item{
	padding-right:15px;
	cursor: pointer;
	@extend .inlineBlockMid;
	& + &{
		border-left: 1px solid black;
		padding-left: 15px;
	}
}

.summary-section-footer {
    padding: 10px 10px 10px 30px;
}
.close-icon{
	@include closeIcon(10px);
	position: absolute;
	right: 10px;
	top: 10px;
}

.slider-component{
	background-color: white;
	height: 40px;
	position: absolute;
	top: 100%;
	margin-top: 1px;
	max-width: 100% !important;
	.slider-left, .slider-right{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background-color: rgba(141, 143, 150, 0.7);
		@extend .hand;
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			height: 14px;
			width: 14px;
			// margin-top: 4px;
			// border-width: 10px;
			// border-color: rgba(141, 143, 150, 1) transparent transparent transparent;
			// border-style: solid;
		}
	}
	.slider-left{
		left: 0;
		&:after{
			background-image: linear-gradient(-45deg,#8d8f96 51%,#ececed 49%);
			left: -13px;
			// @include transform(rotate(-45deg));
		}
	}
	.slider-right{
		right: 0;
		&:after{
			background-image: linear-gradient(45deg,#8d8f96 51%,#ececed 49%);
			// right: -9px;
			// @include transform(rotate(45deg));
		}
	}
}
.selected-tab{
	font-family: "OpenSansBold";
	text-decoration: underline;
}
.summary-section-below-content{
	display: none;
	//overflow: auto;
	white-space: nowrap;
}
.summary-section-overlay.view{
	.summary-section-header{
		background-color: $color6;
	}
	.summary-section-body{
		padding: 30px 30px 55px 35px;
		.close-icon{
			display: none;
		}
	}
	.time-frame-section{
		height: auto;
		border-top: none;
	}
	.time-frame-extended{
		display: none;
	}
	.slider-component{
		display: none;
	}
	.summary-section-below-content{
		display: block;
	}
}
.summary-and-notes-section{
	.Notes{
		display: none;
		margin-left: 30px;
		margin-top: 30px;
	}
}
.summary-section-below-content{
	@extend .clearFloat;
	& > div{
		float: left;
		width: calc(25% - 60px);
		margin-right: 30px;
		&:first-child{
			margin-left: 30px;
		}
	}
}
.summary-people-item{

}
.sp-left{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	img, svg{
		@extend .profile-image-black;
		@include square(28px);
	}
}
.sp-right{
	display: inline-block;
	@include withSuffix(max-width, calc(100% - 48px));
	vertical-align: middle;
}
.sp-name{
	@include text(14px, $color7);
	margin-bottom: 6px;
}
.version-type{
	@extend .version-num;
	@include square(20px);
	line-height: 20px;
}
.summary-version-date{
	margin-left: 28px;
	@include text(14px, $colorTwo);
	text-align: left;
	clear: both;
	margin-left: 30px;
	margin-top: 5px;
	span + a{
		margin-left: 40px;
		@extend .a;
		@include text(14px, $colorTwo);
	}
}
.summary-compare-btn{
	@extend .a;
	display: block;
    margin-top: -20px;
    @include text(12px, #9ABACC);
    margin-bottom: 5px;
}
.summary-reference-item{
	//@include listImage("one.svg", 15px, 17px);
	@include text(14px, $colorTwo);
	margin-bottom: 10px;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
	.ref-item-icon{
		@include dimensions(18px, 18px);
	}
}

.linked-item,.tag-item{
	/*@include listImage("linkIcon.svg", 18px, 18px);*/
	.linked-item-icon{
		@include dimensions(18px, 18px);
	}
	@include text(14px, $colorTwo);
	margin-bottom: 10px;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
}
.tag-item{
	background-color: #a0e3ff;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.tag-close-icon{
	display: inline-block;
	vertical-align: middle;
	height: 8px;
	width: 8px;
	padding-left: 3px;
	color: $colorTwo;
}
.filter-icon{
	width: 45px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
	.filter-commentList-dropdown{
		width: 22px;
		height: 22px;
	}
	&.enable-filter-list{
		background-color: #e8e8e9;
	}
}
.comments-view-filter-section{
	position: absolute;
	background: #e8e8e9;
	display: none;
	width: 440px;
	top: 50px;
	//white-space: nowrap;
	z-index: 1;
    bottom: 0;
    right: 1px;
    overflow: auto;
	.apply-filter-btn{
		margin-top: 30px;
	    margin-bottom: 20px;
	    float: right;
	    margin-right: 20px;
		.main-btn{
			border: none;
		}
	}
	.field-section{
		float: none;
	}

}
.enable-filter-list{
	.comments-view-filter-section{
		display: block;
	}
}
.filter-checkboxes{
	//display: table-cell;
	padding-left: 20px;
	padding-top: 20px;
	.filter-checkboxes-heading{
		margin-bottom: 10px;
	}
	.field-section {
		float: left;
		clear: none;
		width: 126px;
		padding-bottom: 10px;
	}
	& ~ .filter-checkboxes{
		padding-top: 10px;
	}
	.field-section ~ .field-section{
		padding-top: 0px;
	}
	.checkbox:after{
		background-color: white;
	}
	span:after{
		z-index: 1;
	}
}
.filter-checkboxes-heading{
	@include text(16px, $color7);
	font-family: $semiBoldFont;
}
.filter-checkboxes-content{
	overflow: auto;
}
.comment-members-list{
	padding-left: 20px;
	padding-top: 10px;
	.input-label,.comment-dates-heading{
		font-size: 16px;
		color: #464c5f;
		font-family: "OpenSansSemibold";
	}
}
.comment-dates{
	padding-top: 10px;
	padding-left: 20px;
	overflow: auto;
	.comment-dates-heading{
		padding-bottom: 10px;
	}
	.input-wrapper{
		width: 350px;
	}
}
.input-comments-date{
	width: 220px;
	height: 30px;
}
.comment-members{
	& ~ .chosen-container{
		.chosen-choices,.chosen-drop{
			width: 350px;
		}

	}
}
.cv-comments-section{
	padding-top: 25px;
	overflow: auto;
	padding-left: 20px;
}
.cv-person-right-top > *{
	display: table-cell;
	vertical-align: middle;
}
.cv-person-time, .cv-person-meta{
	@include textSix();
}
.cv-person-meta {
	padding-right: 15px;
	& > span + span{
		border-left: 1px solid #ACACAC;
		padding-left: 10px;
	}
	& > span:first-child{
		padding-right: 10px;
	}
	& > * {
		display: table-cell;
		vertical-align: middle;
	}
}
.cv-person-name-holder{
	width: 100%;
}
.cv-person-name{
	@include text(16px, $color7);
	font-family: $semiBoldFont;
}
.cv-comment-detail{
	@include text(14px, $colorTwo);
}
.cv-more-replys > a{
	@include text(15px, $colorN);
}
.cv-person-left{
	float: left;
	/*width: 75px;*/
	width: 40px;
	height: 40px;
	text-align: left;
	& > img{
		@include square(37px);
	}
}
.cv-person-right{
	margin-left: 75px;
}
.cv-comments-item{
	padding-bottom: 15px;
	& + &{
		padding-top: 10px;
		border-top: 1px solid #E1E1E1;
	}
}
.summary-header-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 10px;
    @include withPrefix(transform, translate(0, -50%));
}