.popup-container{
	//@include backgroundImage("semi-bg.png");
	background-color: rgba(82,85,104, 0.48);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	text-align:center;
	@extend .beforeMiddle;
	& > *{
		text-align: left;
	}
}
.popup-click{
	@extend .hand;
}
.popup, .overlay{
	// @include absoluter(0,0,0,0);
	position: relative;
	// margin: auto;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid $color8;
	background-color: white;
	height: 100%;
	&.hide{
		display: none;
	}
}
.hide{
	display: none;
}
.popup-meeting{
	@include popupDimensions(585px, 690px);
}
.popup-message{
	@include popupDimensions(425px, 200px);
}
.popup-small{
	@include popupDimensions(425px, 243px);
}
.popup-large{
	@include popupDimensions(740px, 570px);
}
.popup-large-df{
	@include popupDimensions(730px, 590px)
}
.popup-header{
	height: 55px;
	position: relative;
	background-color: $color6;
	@include text(18px, $color7);
	padding-left: 25px;
	vertical-align: middle;
	@extend .beforeMiddle;
}
.files-section ~ .dropdown{
	margin-left: 30px;
}
.popup-close-icon{
	@include closeIcon(14px);
	position: absolute;
	right: 30px;
	top: 20px;
	fill: #425182;
}
.dropdown{
	@include dimensions(250px, 38px);
}
.popup-body{
	@include absoluter(55px, 0, 0, 80px);
	overflow: auto;
}
.popup-body-wrapper{
	padding: 30px;
	/*padding-left: 50px;*/
	@extend .clearFloat;
}
.popup-message .buttons-section{
	left: 50%;
	@include transform(translate(-50%,0));
	right: auto;
	white-space: nowrap;
	button:first-child{
		margin-left: 0px;
	}
}

/* second artefact popup*/
.meta-heading{
	@include text(13px, $colorO);
}
.meta-text{
	@include text(15px, $colorTwo);
	@extend .ellipsis;
	div{
		@extend .ellipsis;
	}
}
.meta-item{
	padding-left:30px;
	margin-top: 20px;
}
$popup-content-space: 175px;
.popup-left-section{
	width: $popup-content-space;
	position: absolute;
	left: 0;
	top: 55px;
	bottom: 0;
	border-right: 1px dashed $colorP;
	background-color: $colorQ;
}
.popup-right-section{
	margin-left: $popup-content-space;
}
.uploader-section{
	padding: 50px 0px;
}
.uploader-section-img{
	/*@include elementWithBackground("pdfnpng.svg", 125px, 200px);*/
	// @include dimensions(125px, 200px);
	// margin-top: 70px;
	display: table-cell;
}
.uploader-section-file{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}
.file-heading{
	@include text(16px, $colorTwo);
	font-family: $boldFont;
	white-space: nowrap;
}
.files-section{
	@extend .clearFloat;
	margin-bottom: 10px;
	display: flex;
}
.upload-file-section{
	@extend .hand;
	flex: auto;
	input[type="file"]{
		opacity: 0;
		position: absolute;
	}
}
.uploader-img-limited{
	width: 150px;
}
.uploaded-file-display{
	padding-left: 30px;
}
.create-file-section{
	padding-left: 60px;
	width: 210px;
}
.create-file-item{
	position: relative;
	width: 195px;
	margin-bottom: 10px;
	.notification-item{
		margin-top: 10px;
	}
	.notification-title{
		margin-right: 15px;
	}
}
.create-file-close-icon{
	@include closeIcon(10px);
	position: absolute;
	top: 6px;
	right: 2px;
}
.coming-soon-text{
	@include text(14px, $colorTwo);
	font-family: $italicFont;
	margin-top: 30px;
}
.or-btn{
	@include text(20px, white);
	@include dimensions(55px, 35px);
	@include border-radius(5px);
	font-family: $semiBoldFont;
	text-align: center;
	line-height: 35px;
	background-color: $colorS;
	@extend .a;
	display: block;
	position: absolute;
	left: 370px;
	top: 160px;
	cursor: default;
}

// Share an artefact
.your-team-heading{
	@extend .file-heading;
	border-bottom: 1px solid black;
	display: inline;
}
.your-team-body{
	padding-top: 25px;
	@extend .clearFloat;
}
.your-team-section .input-text{
	width: 460px;
}
.your-team-field{
	margin-top: 30px;
}
.share-artefact-people{
	position: relative;
	float: left;
    margin-top: 15px;
    position: relative;
    width: 100%;
}
.share-artefact-people-wrapper{
    height: 186px;
    //overflow-x: hidden;
    //overflow-y: auto;
}
.share-artefact-people-item{
	@extend .clearFloat;
	$w: 200px;
	$x: 22px;
	& + &{
		margin-top: 5px;
	}
	margin-top: 2px;
	//margin-left: $x + 3px;
	display: flex;
	align-items: center;
	width: 100%;
  height: 58px;
	//width: $w - $x;
	&:hover{
		background-color: #d1e5fe;
		box-shadow: -30px 0px 0px 0px #d1e5fe,30px 0px 0px 0px #d1e5fe;
		.close-people-icon{
			visibility: visible;
		}
	}
	@extend .hand;
	.share-artefacts-text{
	    line-height: 40px;
	    white-space: nowrap;
	    overflow: hidden;
	    display: inline-block;
			flex: auto;
	    vertical-align: middle;
			margin-left: 10px;
	    //@include withSuffix(width, calc(100% - 50px));
	    text-overflow: ellipsis;
  		@include text(14px, $colorTwo);
	}
	.share-artefact-right-panel{
		margin-left: 20px;
		@extend .clearFloat;
		display: inline-block;
		vertical-align: middle;
	}
	.sarp-text{
		@include text(12px, $colorTwo);
		//margin-bottom: 10px;
		//margin-top: 15px;
		text-align: center;
	}
	.share-artefacts-img {
		height: 38px;
		width: 38px;
		@extend .circle;
	}
	.share-artefacts-img-holder{
		@extend .circle;
	    //margin-left: -22px;
	    //border: 5px solid transparent;
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
		img{
			display: block;
			position: relative;
			z-index: 2;
		}
		&:after{
			$v: -2px;
			content: "";
			@include absoluter($v,$v,$v,$v);
			border: 2px solid $colorU;
			@extend .circle;
			z-index: 1;
		}
	}
	// &:hover{
	// 	background-color: $colorR;
	// 	.share-artefacts-text{
	// 		font-family: $boldFont;
	// 	}
	// 	.share-artefacts-img-holder:after{
	// 		$v: -6px;
	// 		content: "";
	// 		@include absoluter($v,$v,$v,$v);
	// 		border: 2px solid $colorT;
	// 		@extend .circle;
	// 		box-shadow: inset 0px 0px 0px 4px white;
	// 		z-index: 1;
	// 	}
	// 	.share-artefact-people-item-section{
	// 		display: block;
	// 	}
	// }
	.share-artefact-people-item-section{
		display: inline-block;
		vertical-align: middle;
		float: right;

		// position: absolute;
		// left: $w - 1;
		// right: 0px;
		// top: 2px;
		// bottom: 2px;
		// background-color: $colorR;
	}
}
input:disabled{
	opacity: 0.5;
}
.sarp-checkbox-holder{
	//margin-top: 10px;
	//margin-left: 10px;
	flex: auto;
}
.suggestion-item {
    padding: 5px;
    background-color: $colorFour;
    border: 1px solid #fff;
    @extend .hand;
    @include text(14px, $colorTwo);
}
.close-people-icon{
	width: 10px;
  height: 10px;
	visibility: hidden;
  display: inline-block;;
  vertical-align: top;
  padding-left: 40px;
	padding-right: 20px;
}
.field-suggestions{
    background-color: white;
    border: 1px solid #ccc;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
}
//Add people
.popup-add-people{
	@include popupDimensions(468px, 406px);
}

.permission-item{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
.add-people-text-project{
	@include text(14px, $colorOne);
	margin-bottom: 15px;
}
.permissions-header{
	@include text(16px, $colorOne);
	margin-bottom: 15px;
}
.permission-item-text{
	@include text(12px, $colorOne);
	//margin-bottom: 5px;
}
.people-permissions-section{
	display: none;;
  float: right;
	clear: both;
}
.permissions-section{
	position: relative;
  padding-top: 14px;
  clear: both;
	display: flex;
	align-items: center;
  width: 89%;
	height: 35px;
}

.combobox.existing-files-combobox {
    margin-top: 10px;
    width: 250px;
}

.choose-existing-file-holder{
	float: left;
	width: 100%;
	padding-top: 10px;
	.close-icon{
		@include closeIcon(10px);
		position: absolute;
	    right: 32px;
	    top: 3px;
	}
	.notification-title{
		margin-right: 15px;
	}
	.active{
		background-color: #d1e5fe;
	}
}

.popup-message .popup-body-wrapper {
  padding-bottom: 0px;
  /*padding-left: 50px;*/
  padding-top: 10px;
  /*padding-right: 10px;*/
}

.combobox.xm.artefact-combobox.comboTree{
	width: 382px;
}

.image-cover-section {
	text-align: center;
	.upload-file-section{
		float: none;
		display: inline-block;
		border: none;
	}
	.uploader-section-img{
		margin: 45px auto 0px;
	}
}
.cover-image-viewer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: skyblue;
	display: none;
	padding: 10px;
	.cover-image{
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	}
	.img-wrapper {
	    background-color: skyblue;
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    right: 20px;
	    bottom: 20px;
	    user-select: none;
	    -ms-user-select: none;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -o-user-select: none;
	    overflow: hidden;
	}
	.img-content {
	    max-width: 100%;
	    max-height: 100%;
	    transform: translate(50%, 50%);
	    position: absolute;
	    bottom: 50%;
	    right: 50%;
	}
	.pan-img {
	    box-shadow: 0 0 0 1500px rgba(50, 50, 50, 0.7), inset 0px 0px 0px 2px #acacac;
	    position: absolute;
	    cursor: pointer;
	    max-height: 100%;
	    max-width: 100%;
	}
	.animate {
	    transition: 0.2s all ease-in-out;
	}
}
// .dummy-image{
// 	visibility: hidden;
// 	max-width: 100%;
// 	max-height: 100%;
// }

.tags-input-txt{
	width: 298px;
}
.notification-s-type-icon{
	width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}

.recipients-meeting-txt-section{
	width: 360px;
	resize: none;
}

.templates-viewer{
	display: flex;
}

.template-item{
	width: 200px;
	height: 200px;
	position: relative;
	box-shadow: inset 0px 0px 1px #7f7f7f;
	margin: 20px;
	&:hover{
		background-color: #676767;
	}
	&::after{
		content: attr(template-type);
		position: absolute;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
	}
}

.add-people-to-project{
	width: 390px;
	height: 40px;
}
.projects-selection-section-wrapper {
	padding-top: 20px;
	padding-left: 20px;
}
.projects-selection-heading-text {
	font-size: 16px;
	font-family: "OpenSansRegular";
	padding-bottom: 20px;
}
.project-selection-block {
	float: left;
	width: 220px;
	height: 80px;
	position: relative;
  min-height: 120px;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 20px;
}
.project-selection-block-overlay {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 40px;
	background-color: #D7D9E0;
	text-align: center;
}
.project-selection-block-overlay-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.project-selection-block-title {
	font-size: 17px;
  color: #3e4354;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0px 10px;
  line-height: 40px;
}
.toggle-project-radio input[type="radio"] {
	position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.toggle-project-radio input[type="radio"]:checked + div::after {
	content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: white;
  display: block;
  box-shadow: 0px 0px 0px 200px rgba(99, 173, 236, .6);
}
.toggle-project-radio input[type="radio"]:checked + div::before {
	content: "";
  width: 12px;
  height: 6px;
  border-left: 3px solid #63adec;
  border-bottom: 3px solid #63adec;
  display: block;
  position: absolute;
  left: 1px;
  right: 0;
  bottom: 6px;
  top: 0;
  margin: auto;
  z-index: 1;
  transform: rotate(-45deg);
  opacity: 0.6;
}
.project-selection-block img {
	width: 100%;
}
.overflowx-hidden {
	overflow-x: hidden;
}
.to-share-file{
	margin-bottom: 3px;
	height: 40px;
	display: flex;
  align-items: center;
  padding-right: 35px;
  padding-left: 30px;
	.to-share-filetype{
		float: left;
	    width: 50px;
	    text-align: center;
	    background-color: #9db0c0;
	    margin-right: 5px;
	    border-radius: 2px;
	}
	.to-share-filename{
		width: 100%;
	}
	.to-share-fileversion{
		float: right;
	}
	.is-shared{
		visibility: hidden;
	}
	

}
.version-filter-data:hover{
	background-color: #293447;
}
.mouse-over {
	background-color : #63a0ec;
	opacity: 0.6;
}