.project-section-content{
	@include clearFloat();
}
.sub-section{
	width: 255px;
	float: left;
}
.sub-section + .sub-section{
	margin-left: 80px;
}
.sub-heading-section{
	border-bottom: 1px solid $colorB;
}
.sub-heading{
	@include clearFloat();
	margin-top: 30px;
	position: relative;
	display: inline-block;
}
.sub-heading-label, .sub-heading-add-icon{
	float: left;
}
.sub-heading-label{
	@include textOne();
}
.sub-heading-add-icon{
	@include elementWithBackground("add.svg", 16px, 16px);
	@include verticalMiddle();
	left: 100%;
	margin-left: 10px;
}
.sub-section-content{
	padding-top: 20px;
}
// review request

.sub-section-content .review-request-item + .review-request-item{
	margin-top: 45px;
}

//People section

.people-icon{
	@include dimensions(34px, 34px);
    @include border-radius(50%);
    background-color: white;
    border: 2px solid #EBECEE;
}
.people-item-left{
	float: left;
}
.people-item-right{
	margin-left: 44px;
}
.people-name{
	@include text(14px, $colorTwo);
}
.people-access-text{
	@include text(12px, $colorE);
}
.people-item-holder + .people-item-holder{
	margin-top: 30px;
}

// Activity

.activity-left{
	float: left;
}
.activity-holder.review-activity-type .activity-icon{
	@include elementWithBackground("file12.svg", 34px, 38px);
}
.activity-holder.comment-activity-type .activity-icon{
	@include elementWithBackground("file14.svg", 34px, 38px);
}
.activity-holder.create-activity-type .activity-icon{
	@include elementWithBackground("addfile.svg", 34px, 38px);
}
.activity-right{
	margin-left: 44px;
}
.day-activity + .day-activity{
	margin-top: 20px;
}
.day-activity-label{
	@include text(12px, $colorD);
}
.day-activity-section{
	padding-top: 20px;
}

.activity-title{
	@include text(14px, $colorTwo);
}
.activity-time{
	@include text(12px, $colorC);
}
.activity-sender{
	@include text(12px, $colorE);
	margin-left: 5px;
}
.activity-time, .activity-sender{
	float: left;
}
.activity-holder{
	@include clearFloat();
}
.activity-holder + .activity-holder{
	margin-top: 30px;
}

//Linked artefacts
.artifacts-content.sub-section-content .review-request-item {
    $b: 1px solid #cbd0d3;
    $s: 10px;
    $h: 57px;    
    $mT: 55px;
    $xlMT: 92px;
    $xxlMT: 130px;
    .rr-status{
    	position: relative;
    }
    & + .review-request-item .rr-status:after {
        content:"";
        position: absolute;
        right: 100%;
        width: $s;
        height: $h + $mT;
        border-top: $b;
        border-left: $b;
        bottom: 50%;
        margin-top: 1px;
    }
    &[data-pass="0"] .rr-status:after,&[data-pass="0"] .rr-status:before{
        display: none !important;
    }       
    &[data-pass="1"] .rr-status:after{
        border-bottom: $b;
    }
    & + .review-request-item .rr-status:before{
        content: "";
        @include elementWithBackground("link.svg", 8px, 21px);
        background-color: white;
        position: absolute;
        bottom: 100%;
        right: 100%;
        margin-right: $s;
        transform: translate(50%, 50%);
        margin-bottom: $mT/2;
        z-index: 1;
    }
    &.xl .rr-status:after{
        height: $h + $xlMT;
    }
    &.xl .rr-status:before{
        margin-bottom: $xlMT/2;
    }
    &.xxl .rr-status:after{
        height: $h + $xxlMT;
    }
    &.xxl .rr-status:before{
        margin-bottom: $xxlMT/2;
    }
}