.project-section-content{
	@extend .clearFloat;
}
.sub-section{
	width: 255px;
	float: left;
}
.sub-section + .sub-section{
	margin-left: 80px;
}
.sub-heading-section{
	border-bottom: 1px solid $colorB;
}
.sub-heading{
	@extend .clearFloat;
	margin-top: 30px;
    height: 30px;
	position: relative;
}
.sub-heading-label, .sub-heading-add-wrapper, .sub-heading-more-options{
	display: inline-block;
    vertical-align: middle;
}
.sub-heading-label{
	@include textOne();
}
.sub-heading-add-icon{
	/*@include elementWithBackground("add.svg", 20px, 20px);*/
    width: 20px;
    height: 20px;
    fill: #454C62;
}
.add-icon.big{
    @include elementWithBackground("add.svg", 28px, 28px);
}
.sub-section-content{
	padding-top: 20px;
}
// review request

.sub-section-content .review-request-item + .review-request-item{
	margin-top: 45px;
}

//People section

.people-icon{
	@include dimensions(34px, 34px);
    @extend .profile-image-black;
}
.people-item-left{
	float: left;
}
.people-item-right{
	margin-left: 44px;
}
.people-item-holder:hover .people-request-holder{
    display: inline-block;
}
.people-name{
	@include text(14px, $colorTwo);
}
.people-access-text{
	@include text(12px, $colorE);
}
.people-item-holder + .people-item-holder{
	margin-top: 30px;
}

// Activity

.activity-left{
	float: left;
}
//.activity-holder.review-activity-type .activity-icon{
//	@include elementWithBackground("file12.svg", 34px, 38px);
//}
//.activity-holder.comment-activity-type .activity-icon{
//	@include elementWithBackground("file14.svg", 34px, 38px);
//}
//.activity-holder.create-activity-type .activity-icon{
//	@include elementWithBackground("addfile.svg", 34px, 38px);
//}
.activity-right{
	margin-left: 44px;
}
.day-activity + .day-activity{
	margin-top: 20px;
}
.day-activity-label{
	@include text(12px, $colorD);
}
.day-activity-section{
	padding-top: 20px;
}
.activity-details{
    @include text(12px, $colorE);
}
.activity-title{
	@include text(14px, $colorTwo);
}
.activity-time{
	@include text(12px, $colorC);
}
.sort-view{
    @include text(12px, $colorC);
    padding-bottom: 20px;
    margin-top: -20px;
}
.activity-sender{
	@include text(12px, $colorE);
	margin-left: 5px;
}
.activity-time, .activity-sender{
	display: inline;
}
.activity-holder{
	@extend .clearFloat;
}
.activity-holder + .activity-holder{
	margin-top: 30px;
}

//Linked artefacts
.artifacts-content.sub-section-content.linked-artefacts .review-request-item {
    $b: 1px solid #cbd0d3;
    $s: 10px;
    $h: 57px;
    $mT: 55px;
    $xlMT: 92px;
    $xxlMT: 130px;
    .rr-status{
    	position: relative;
    }
    & + .review-request-item .rr-status:after {
        content:"";
        position: absolute;
        right: 100%;
        width: $s;
        height: $h + $mT;
        border-top: $b;
        border-left: $b;
        bottom: 50%;
        margin-top: 1px;
    }
    &[data-pass="0"] .rr-status:after,&[data-pass="0"] .rr-status:before{
        display: none !important;
    }
    &[data-pass="1"] .rr-status:after{
        border-bottom: $b;
    }
    & + .review-request-item .rr-status:before{
        content: "";
        /*@include elementWithBackground("link.svg", 8px, 21px);*/
        @include dimensions(8px, 21px);
        position: absolute;
        bottom: 100%;
        right: 100%;
        margin-right: $s;
        transform: translate(50%, 50%);
        margin-bottom: $mT/2;
        z-index: 1;
		@include backgroundImage('link.svg');
		background-color: white;
    }
    &.xl .rr-status:after{
        height: $h + $xlMT;
    }
    &.xl .rr-status:before{
        margin-bottom: $xlMT/2;
    }
    &.xxl .rr-status:after{
        height: $h + $xxlMT;
    }
    &.xxl .rr-status:before{
        margin-bottom: $xxlMT/2;
    }
}
.sub-heading-add-wrapper{
    padding: 5px;
}
.sub-heading-more-options{
    position: relative;
    padding: 5px;
}
.sub-menu-nav.active {
    background-color: $colorI;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.sub-heading-more-icon{
    /*@include elementWithBackground("more1.svg", 20px, 20px);*/
    fill: #454C62;
    width: 20px;
    height: 20px;
}
.active .sub-heading-more-icon{
    /*@include backgroundImage("more.svg");*/
    fill: white;
}

.people-name-section{
    position: relative;
}

.people-request-holder{
    padding: 10px 10px 0 10px;
    margin-top: -7px;
    display: none;
}
.main-section-project-icon-holder{
    padding: 5px 5px 0;
    position: relative;
}
.people-remove-icon{
    /*@include listImage('delete.svg', 15px, 15px);*/
    width: 15px;
    height: 15px;
    // padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
}
.people-remove-icon, .people-manage-icon{
	fill: #efeff0;
    margin-left: -8px;
    margin-right: 8px;
}
.people-manage-icon{
    /*@include listImage('lock1.svg', 15px, 15px);*/
    width: 15px;
    height: 15px;
    // padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
}
.sub-menu-item-text{
    display: inline-block;
    vertical-align: top;
}
.sub-menu-checkbox {
    display: inline-block;
    float: right;
}
.no-items{
    @include text(14px, $colorOne);
}

.activity-section-content{
    /*.user-added-activity-type{
        .activity-icon{
            @include elementWithBackground("icon11.svg", 34px, 38px);
        }
    }
    .artefact-approved-activity-type{
        .activity-icon{
            @include elementWithBackground("file12.svg", 34px, 38px);
        }
    }
    .artefact-added-activity-type{
        .activity-icon{
            @include elementWithBackground("addfile.svg", 34px, 38px);
        }
    }
    .artefact-comment-activity-type{
        .activity-icon{
            @include elementWithBackground("icon15.svg", 34px, 38px);
        }
    }
    .artefact-share-activity-type{
        .activity-icon{
            @include elementWithBackground("icon11.svg", 34px, 38px);
        }
    }
    .meeting-added-activity-type{
        .activity-icon{
            @include elementWithBackground("icon4.svg", 34px, 38px);
        }
    }
    .user-removed-activity-type{
        .activity-icon{
            @include elementWithBackground("icon2.svg", 34px, 38px);
        }
    }*/
}
.activity-icon{
	@include dimensions(34px, 38px);
}

.current-type{
    /*@include elementWithBackground("currentdate.svg", 20px, 20px);*/
    @include dimensions(20px, 20px);
}
.summary-version-item .checkbox{
    & + span{
        display: block;
    }
    display: block;
    @extend .clearFloat;
    .version-type{
        float: left;
    }
    .doc-type{
        @extend .ellipsis;
        margin-left: 35px;
    }
}
