.search-section{
	position: absolute;
	top: 80px;
	@include translate(-50%, 0);
	left: 50%;
}

.input-field {
	position: relative;
}

.custom-search-field {
    @include dimensions(472px, 55px);
    @include text(16px, $colorTwo);
    @include placeHolder($color5, 16px, $italicFont);
    position: relative;
    display: block;
	padding-left: 46px;
    /*@include backgroundImage("search.svg");*/
    background-size: 25px 25px;
    background-position: 12px center;
    line-height: 55px;
    border: 1px solid $colorFour;
    background-color: $color6;
}

.input-field > label {
    position: absolute;
    @include text(16px, $color5);
    font-style:italic;
    left: 46px;
    top: 50%;
    margin-top: -0.7em;
    padding-right:5px;
    opacity: 0.5;
}

.input-field > input[type=text]:focus + label {
    display: none;
}
.search-results {
    background-color: $colorFour;
    border: 1px solid #fff;
    margin:0 auto;
    padding-top: 10px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.search-row {
    height:28px;
    padding:10px 20px;
    @extend .hand;
    @include text(16px, $colorTwo);
}
.search-row-img {
	@include dimensions(27px, 27px);
	float:left;
}
.search-row-txt {
    line-height:28px;
    margin-left:37px;
}
.search-img-type-file {
	@include backgroundImage("search-file.svg");
}
.search-img-type-folder {
	@include backgroundImage("search-folder.svg");
}
.search-img-type-pic {
	@include backgroundImage("search-pic.svg");
}
.search-result {
    & > a {
        width: 100%;
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .result-icon svg {
        width: 30px;
        height: 30px;
    }
    .search-title {
        padding: 20px;
    }
}
