// content
.content-wrapper{
	padding-left: 37px;
	padding-top: 55px;
	padding-right: 38px;
}
.projects-heading, .review-requests-heading, .notifications-heading{
	position: relative;
}
.review-requests-heading{
	margin-bottom: 30px;
}
.heading-text{
	@include textOne();
	line-height: 24px;
	margin-left: 13px;
	@extend .inlineBlockTop;	
}
.heading-text-project{
	@include textOne();
	line-height: 24px;
	margin-left: 13px;
	@extend .inlineBlockMid;
}
.heading-text-project-name{
	@include text(20px, $colorOne);
	@extend .inlineBlockMid;
}
.projects-heading-icon, .review-requests-icon, .notifications-heading-icon{
	// float: left;
	display: inline-block;
	vertical-align: middle;
}
.projects-heading-icon{
	@include square(24px);
}

.review-requests-icon{
	@include square(24px);
}

.notifications-heading-icon{
	@include square(24px);	
}

.review-requests-section, .notifications-section{
	float: left;
}
.projects-section{
	margin-right: 700px;
}
.review-requests-section{
	width: 255px;
	margin-left: 43px;
}
.notifications-section{
	width: 250px;
	margin-left: 68px;
}
.projects-section-content{
	@extend .clearFloat;
	margin-top: 30px;
}