// Combobox

.combobox-wrapper{
	$h: 35px;
	position: relative;
	$borderWidth: 10px;
	height: $h;
	padding: 5px 40px 5px 15px;
	border: 1px solid $colorB;
	&:after, &:before{
	    content: "";
	    border-width: $borderWidth;
	    border-style: solid;
	    position: absolute;
	    right: 15px;
	    top: 50%;
	    margin-top: $borderWidth/2;
	    @include transform(translate(0px, -50%));
	}
	&:after{
		border-color: white transparent transparent transparent;
		margin-top: 0px;
	}
	&:before{
	    border-color: $colorB transparent transparent transparent;
	}
	input{
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    @include placeHolder($colorTwo, 18px, $italicFont);
	    @include text(18px, black);
	    border: none;
	    &:focus{
	    	outline: none;
	    }
	    &:disabled{
	    	background-color: white;
	    }
	}
	.suggestionsContainer{
		background-color: white;
	    border: 1px solid #aaacb4;
	    display: none;
	    line-height: 20px;
	    max-height: 160px;
	    overflow: auto;
	    position: fixed;
	    z-index: 3;
	}
	& ul, & li{
    	padding: 0;
    	margin: 0;
		display: block;
	}
	.selectable{
		padding: 10px;
		margin: 0;
		display: block;
		cursor: pointer;
		@extend .ellipsis;
		&.active{
			background-color: $colorB;
		}
	}


}
.combobox.xm{
	$h: 28px;
	width: 320px;
	.combobox-wrapper{
		height: $h;
	}

	input{
		@include placeHolder($colorTwo, 18px, $italicFont);
	}
}
.sv-item{
	position: relative;
	.sv-close{
		@include closeIcon(10px);
	}
}
// .choose-file-combobox.xm.combobox{
// 	width: auto;
// }

.combobox.xm.people-combobox{
	width: 505px;
	.suggestions-viewer{
		display: none;
	}
}
.combobox.xm.project-combobox {
	width: 382px;
}

.combobox.xm.people-name.tags-combobox{
	width: 380px;
	height: 65px;
	border: 1px solid $colorB;
	.combobox-wrapper{
		width: 150px;
		height: 20px;
		border: none;
		&:before, &:after{
			border: none;
		}
	}
}
.input-label{
	@include text(16px, $colorTwo);
	margin-bottom: 10px;
}
.field-section{
	position: relative;
	float: left;
	clear: both;
}
.checkbox-section{
	float: left;
	clear: both;
	padding-top: 20px;
}
.input-wrapper{
	@extend .wrap;
}
.field-section ~ .field-section{
	padding-top: 20px;
}
.field-section{
	.input-text, textarea{
		border: 1px solid $colorB;
		padding: 10px;
	}
	input[type="text"], textarea{
		@include placeHolder(#9599a3, 14px, $italicFont);
		&:focus{
			outline: none;
		}
	}
	.input-text{
		height: 18px;
	}
}
.reference-combobox, .links-combobox{
	.sv-item{
		@include text(14px, $colorTwo);
		padding: 15px 10px;
	}
	.sv-close{
	    position: absolute;
	    right: 5px;
	    top: 20px;
	}
}

//tags
.tags-combobox{
	.sv-item{
		display: inline-block;
		padding: 3px;
		padding-right: 25px;
		background-color: $colorR;
		position: relative;
		@include text(14px, $colorTwo);
		.sv-close{
			@include absoluter(8px, auto, 5px, auto);
		}
	}
	.sv-item + .sv-item{
		margin-left: 10px;
	}
}
.meeting-location {
  width: 360px;
}

input[type="text"].xm{
	width: 365px;
}
.project-input{
	width: 343px;
}

.nav-btn:disabled, .main-btn:disabled, .share-btn:disabled, .done-btn:disabled {
	background-color: #B3BDD8;
}
.drpdwn{
	position: relative;
}
.drpdwn--severity{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 8px;
    z-index: 1;
    /*background-image: url("../../imgs/severity-drpdwn-icn.svg");
    background-size: contain;
    background-repeat: no-repeat;*/
}
.drpdwn-items{
	display: none;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	padding: 5px 10px;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
	position: absolute;
	top: 100%;
	left: 0;
}
.drpdwn-items.show{
	display: inline-block;
}
.drpdwn-item{
	white-space: nowrap;
	&::before{
		content: "";
		height: 100%;
		width: 0px;
		display: inline-block;
		vertical-align: middle;
	}
}
.drpdwn-item-icon{
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.drpdwn-item-icon__R{
	background-color: tomato;
}
.drpdwn-item-icon__B{
	background-color: $colorTwenty;
}
.drpdwn-item-icon__G{
	background-color: green;
}
.drpdwn-item-text{
	display: inline-block;
	vertical-align: middle;
}
.required{
	&::after{
		content: "*";
		color: tomato;
		margin-left: 2px;
	}
}
.display-none {
	display: none;
}
.add-artefact-section {
	width: 565px;
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  background-color: #c1dafd;
}
.padding-zero {
	padding: 0px;
}
.share-artefact-container {
	padding: 20px 0 0 15px;
}
.heading {
	font-size: 16px;
	font-family: "OpenSansRegular";
	color: #3e4354;
	padding-bottom: 5px;
}
