.fixed-header.header{
	background-color: rgba(232, 232, 233, 0.6);
	position: absolute;
	left: 0;
	right: 0;
	z-index: 11;
}
.dv-status-bar{
	height: 55px;
	background-color: $colorTwelve;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 50%;
	z-index: 10;
	& > div + div{
		margin: 0px 20px;
	}
}
.pdf-container {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	text-align: center;
	background-color: $colorThirteen;
	a {
		display: block;
	}
}
.dv-tab-panel-section{
	height: 100%;
	float: left;
	.tab-item{
		width: 50px;
		height: 55px;
		float: left;
	}
}
.left-slider, .right-slider{
	position: absolute;
	top: 15.5px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.left-slider{
	left: 2px;
	fill: #464F6B;
	&.active{
		fill: #222F38;
	}
	/*@include backgroundImage('icon_14.svg');
	&.active{
		@include backgroundImage('icon_15.svg');
	}*/
}
.right-slider{
	right: 2px;
	fill: #464F6B;
	&.active{
		fill: #222F38;
	}
	/*@include backgroundImage('icon_17.svg');
	&.active{
		@include backgroundImage('icon_16.svg');
	}*/
}
.dv-tb-people-section{
	height: 100%;
	float: left;
	position: relative;
}
.dv-tb-people-wrapper{
	@extend .clearFloat;
	height: 100%;
	width: 132px;
	overflow: hidden;
	margin: 0 20px;
	font-size: 0px;
}
.dv-tb-people {
	float: left;
	text-align: center;
	white-space: nowrap;
	height: 100%;
	position: relative;
	left: 0;
	@include transition(left 1s ease-in-out);
	img, svg{
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 0px 5px;
		margin-top: 7.5px;
	}
}
.dv-toolbox{
	padding: 10px;
	@include border-radius(0px 5px 5px 0px);
	background-color: $colorThirteen;
	@include verticalMiddle();
	left: 0;
	z-index: 1;
	display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-around;
}
.dvt-item{
	@include square(27px);
	// margin: 15px 0px;
	cursor: pointer;
	fill: #7E878E;
	&.active{
		fill: #304075;
	}
}
/*.document-info-icon{
	@include backgroundImage('document-info.svg');
}
.add-comment-icon{
	@include backgroundImage('add-comment.svg');
}
.toggle-annotations-icon{
	@include backgroundImage('toggle-annotations.svg');
}
.comment-summary-icon{
	@include backgroundImage('comment-summary.svg');
}
.share-artefact-icon{
	@include backgroundImage('share-artefact.svg');
}
.submit-review-icon{
	@include backgroundImage('submit-review.svg');
}
.more-menu-icon{
	@include backgroundImage('more-menu.svg');
}*/
.more-menu-icon{
	width: 33px;
	height: 33px;
}
.pagination-section{
	position: relative;
	height: 100%;
	width: 75px;
	padding: 0 30px;
	line-height: 50px;
	float: right;
	.range{
		width: 28px;
		text-align: center;
		border: 1px solid $colorSixteen;
		height: 24px;
		float: left;
		background-color: white;
		margin-top: 12px;
		margin-right: 6px;
		line-height: 24px;
	}
	span{
		color: white;
	}
	.previous-page, .next-page{
		@include square(14px);
		position: absolute;
		cursor: pointer;
	}
	.previous-page{
		/*@include backgroundImage('previous-page-icon.svg');*/
		left: 0;
		@include verticalMiddle();
	}
	.next-page{
		/*@include backgroundImage('next-page-icon.svg');*/
		right: 0;
		@include verticalMiddle();
	}
}
#toolbarViewerRight{
	// height: 100%;
	// position: relative;
	// padding: 0 30px;
	// float: right;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
    & > *{
      // float: left;
      display: inline-block !important;
      vertical-align: middle !important;
    }
	.slider {
	    width: 100px;
	    background-color: $colorFourteen;
	    border-radius: 3px;
	    height: 4px;
	    position: relative;
	    // margin-top: 21.5px;
	}
	.thumb {
	    height: 12px;
	    width: 12px;
	    margin-left: -6px;
	    cursor: pointer;
	    border-radius: 6px;
	    background-color: $colorFifteen;
	    position: absolute;
	    margin-top: -4px;
	    &:after{
	    }
	    &:hover:after{
	    	content: attr(range-value);
	    	position: absolute;
	    	bottom: 100%;
	    	margin-bottom: 5px;
	    	border: 1px solid #E1E1E1;
	    	background-color: white;
	    	left: 50%;
	    	transform: translateX(-50%);
	    	@include text(8px, $colorTwo);
	    	padding: 3px;
	    	@include border-radius(5px);
	    }
	}
	.zoom-in, .zoom-out{
		position: absolute;
		top: 14.5px;
		@include square(18px);
	}
	.zoom-in{
		/*@include backgroundImage('zoom-in.svg');*/
		right: 0;
	}
	.zoom-out{
		/*@include backgroundImage('zoom-out.svg');*/
		left: 0;
	}
}
.each-tab{
	display: inline-block;
	position: relative;
	border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #414a62;
	float: left;
}
.current-artefact-info{
	position: fixed;
	left: 0;
	bottom: 55px;
	z-index: 3;
	// height: 35px;
	display: flex;
	align-items: center;
	padding-right: 15px;
	border: 2px solid $colorTwo;
  	z-index: 3;
  	background-color: rgba(255, 255, 255, 0.6);
  	@include text(18px, $colorOne);
  	a{
  		color: inherit;
  		text-decoration: none;
  	}
  	& > div{
  		display: table-cell;
  		padding: 5px;
  	}
  	.show-all-versions{
  		position: relative;
  		padding: 5px 20px 5px 20px;
  		.sub-menu-item{
  			width: 100px;
  		}
  		&.active{
  			background-color: $colorI;
  			color: #FFF;
  		}
  		& > span:after{
  			content: "";
  			/*@include backgroundImage('icon_12.svg');*/
  			@include square(16px);
  			display: inline-block;
  			margin-left: 10px;
  		}
  		.sub-menu-item{
  			text-align: left;
  		}
  	}
	.actions{
		float: right;
		/* width: 50px; */
		margin-top: 2px;
	}
}
.tab-artefact-info{
	position: absolute;
  left: 0;
  background-color: #637097;
  border: 1px solid #414a62;
  top: -38px;
  white-space: nowrap;
  font-size: 14px;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  color: #e8e8e9;
	display: none;
	a{
		color: inherit;
		text-decoration: none;
	}
	& > div{
		display: table-cell;
	}
}
.each-tab:hover{
	.tab-item:not(.selectedTab){
		+ .tab-artefact-info{
			display: block;
		}
	 .imageTab,.fileTab{
			margin-top: 3px;
		}
	}
	.tab-artefact-info::after{
		content: "";
		display: block;
		height:1px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		background-image: linear-gradient(to right,#637097 49px,#414a62 49px);
	}


}
.close-tab-icon,.active-close-icon{
	width:10px;
	height: 10px;
	display: inline-block;
	padding-right: 15px;
}
.close-tab{
	padding-top: 5px;
}
.info-bar-dropdown-version-no-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	fill: #68749B;
}
.active .info-bar-dropdown-version-no-icon{
	fill: white;
}
.v-compare-icon, .v-open-icon{
	@include square(15px);
	float: left;
}
.v-compare-icon{
	/*@include backgroundImage('v_compare.svg');*/
}

.v-open-icon{
	/*@include backgroundImage('v_open.svg');*/
	margin-left: 10px;
}