@import "../sass-utilities/fonts";
@import "../sass-utilities/colors";
@import "../sass-utilities/variables";
@import "../sass-utilities/common";
@import "../sass-utilities/icons";
@import "header";
@import "miscellaneous";
@import "search";
@import "menu";
@import "sections";
@import "dashboard";
@import "projectpage";
@import "popup";
@import "meeting";
@import "overlays";

//variables
$viewPortWidth: 1346px;

body{
	font-family: $normalFont;
}
.page{
    height: 100%;
    margin: 0 auto;
    //max-width: $viewPortWidth;
    min-width: 1180px;
}

.toggle-click{
	@extend .hand;
}




// Combobox

.combobox-wrapper{
	$h: 35px;
	position: relative;
	$borderWidth: 10px;
	height: $h;
	padding: 5px 40px 5px 15px;
	border: 1px solid $colorB;
	&:after, &:before{
	    content: "";
	    border-width: $borderWidth;
	    border-style: solid;
	    position: absolute;
	    right: 15px;
	    top: 50%;
	    margin-top: $borderWidth/2;
	    @include transform(translate(0px, -50%));
	}
	&:after{
		border-color: white transparent transparent transparent;
		margin-top: 0px;
	}
	&:before{
	    border-color: $colorB transparent transparent transparent;
	}
	input{
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    @include placeHolder($colorTwo, 18px/#{$h} $italicFont);
	    @include text(18px, black);
	    border: none;
	    &:focus{
	    	outline: none;
	    }
	    &:disabled{
	    	background-color: white;
	    }
	}
	.suggestionsContainer{
		background-color: white;
	    border: 1px solid #aaacb4;
	    display: none;
	    left: -1px;
	    line-height: 20px;
	    max-height: 160px;
	    overflow: auto;
	    position: absolute;
	    right: -1px;
	    top: 100%;
	    z-index: 1;
	}
	& ul, & li{
    	padding: 0;
    	margin: 0;
		display: block;
	}
	.selectable{
		padding: 10px;
		margin: 0;
		display: block;
		cursor: pointer;
		&.active{
			background-color: $colorB;
		}
	}


	&.xm{
		$h: 28px;
		width: 320px;
		height: $h;

		input{
			@include placeHolder($colorTwo, 18px/#{$h} $italicFont);
		}
	}
}
.sv-item{
	position: relative;
	.sv-close{
		position: absolute;
		top: 0;
		right: 0;
		@include closeIcon(12px);
	}
}