@import "../sass-utilities/fonts";
@import "../sass-utilities/colors";
@import "../sass-utilities/variables";
@import "header";
@import "miscellaneous";
@import "search";
@import "menu";
@import "sections";
@import "dashboard";
@import "projectpage";
@import "popup";

//variables
$viewPortWidth: 1346px;

body{
	font-family: $normalFont;
}
.page{
    height: 100%;
    margin: 0 auto;
    max-width: $viewPortWidth;
    min-width: 1180px;
}