@import "../sass-utilities/fonts";
@import "../sass-utilities/colors";
@import "../sass-utilities/variables";
@import "../sass-utilities/common";
@import "../sass-utilities/icons";
@import "header";
@import "miscellaneous";
@import "search";
@import "menu";
@import "sections";
@import "dashboard";
@import "projectpage";
@import "popup";
@import "meeting";
@import "overlays";
@import "toolbox";
@import "view";
@import "viewer";
@import "annotate";

//variables
$viewPortWidth: 1346px;

body{
	font-family: $normalFont;
}
.page{
    @include absoluter(0,0,0,0);
    overflow: auto;
    margin: 0 auto;
    //max-width: $viewPortWidth;
    min-width: 1180px;
}
.page-wrapper{
	min-height:100%;
	@extend .clearFloat;
}
.toggle-click{
	@extend .hand;
}

.Zebra_DatePicker.dp_visible{
	left: 0 !important;
	top: 100% !important;
}