@import "../sass-utilities/fonts";
@import "../sass-utilities/colors";
@import "../sass-utilities/variables";
@import "../sass-utilities/common";
@import "../sass-utilities/icons";
@import "header";
@import "miscellaneous";
@import "search";
@import "menu";
@import "sections";
@import "dashboard";
@import "projectpage";
@import "popup";
@import "meeting";
@import "overlays";
@import "toolbox";
@import "view";
@import "viewer";
@import "annotate";
@import "errors";

//variables
$viewPortWidth: 1346px;

body{
	font-family: $normalFont;
}
.page{
    @include absoluter(0,0,0,0);
    overflow: auto;
    margin: 0 auto;
    //max-width: $viewPortWidth;
    min-width: 1180px;
}
.page-wrapper{
	min-height:100%;
	@extend .clearFloat;
}
.html-click{
	@extend .hand;
}

.Zebra_DatePicker.dp_visible{
	left: 0 !important;
	top: 100% !important;
}
.projects-page-section{
	text-align: center;
}
.projects-page{
	padding: 0px 40px;
	text-align: left;
	/*display: inline-block;*/
	.project-block{
		max-width: 25%;
	}

}
.active-projects-page-wrapper, .archived-projects-page-wrapper{
	@extend .clearFloat;
	padding-top: 30px;
}
.projects-state{
	padding-top: 20px;
	color: #464c5f;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #464c5f;
}
