<div class="hamburger toggle-click">
    <div class="hamburger-icon">
        <div class="hamburger-notify">4</div>
    </div>                  
    <div class="menu"></div>
</div>
<a href="" class="logo">
    <div class="timer-overlay hide"></div>
</a>
<div class="create-icon-holder toggle-click">
    <div class="create-plus-icon"></div>
    <div class="create-plus-nav">
        <div class="create-plus-nav-item popup-click">Add a Project</div>
        <div class="create-plus-nav-item popup-click" data-url="add-artefact">Add an Artefact</div>
        <div class="create-plus-nav-item popup-click" data-url="share-artefact">Share an Artefact</div>
        <div class="create-plus-nav-item popup-click">Create a Meeting</div>
    </div>
</div>
<div class="search-icon"></div>
<div class="profile-pic-holder toggle-click">
    <img src="<%= data.picture %>"/>
    <div class="profile-pic-nav">
        <div class="profile-pic-nav-item">Profile</div>
        <div class="profile-pic-nav-item">Settings</div>
        <div class="separator"></div>
        <div class="profile-pic-nav-item">Log Out</div>
    </div>
</div>
