<div class="fixed-content">
    <div class="review-requests-section">
        <div class="review-requests-heading">
            <div class="review-requests-icon">
                <svg><use xlink:href="#reviewrequest"></use></svg>
            </div>
            <div class="heading-text">Shared Artefacts</div>
        </div>
        <div class="review-requests-content">
            
        </div>
    </div>
    <div class="notifications-section">
        <div class="notifications-heading">
            <div class="notifications-heading-icon">
                <svg><use xlink:href="#notify"></use></svg>
            </div>
            <div class="heading-text">Notifications</div>
        </div>
        <div class="notifications-content">
            
        </div>
    </div>
</div>
<div class="projects-section">
    <div class="projects-heading">
        <div class="projects-heading-icon">
            <svg><use xlink:href="#projects"></use></svg>
        </div>
        <a href="#projects" class="heading-text">Projects</a>
    </div>
    <div class="projects-section-content">

    </div>
</div>
