<% var newData = sb.getDayWiseData(data) %>
<% if(newData){ %>
<% for(var key in newData){ %>
<div class="day-notifications">
	<div class="day-notifications-label"><%= key %></div>
	<div class="notifications-holder">
		<% _.each(newData[key], function(n){ %>
		<% var mime = n.MIME_type || "" %>
		<% var isSupportedFile = (mime.indexOf('pdf') > -1 || mime.indexOf('image') > -1) %>
		<a <% if(n.type == "M"){ %>href="#meetingnotes/<%= n.refId %>" data-url="meeting-notes"<% } else if(!isSupportedFile){ %>style="cursor: default;"<%} else { %>href="#documentview/<%= n.masked_artefact_version_id %>"<% } %> class="notification-item">
			<% if(n.type == "M"){ %>
				<div class="notification-meeting-icon">
					<svg><use xlink:href="#calendar"></use></svg>
				</div>
			<% } else if(n.type == "C") { %>
				<div class="notification-comment-icon">
					<svg><use xlink:href="#baloon1"></use></svg>
				</div>
			<% } else if(n.type == "S"){ %>
				<div class="notification-file-icon">
					<svg><use xlink:href="#file"></use></svg>
				</div>
			<% } %>
			<div class="notification-title" title="<%= n.title %><% if(!isSupportedFile && !(n.type == "M")){ %> - Unsupported format<% } %>">
				<%= n.title %>
			</div>
			<div class="notification-time">
				<%= sb.timeFormat(n.time) %> by <%= n.notifier %>
			</div>
			<% if(n.meetingDetails){ %>
			<div class="meeting-notify-section">
				<div class="mn-left">
					<div>Meeting @ Conference 2</div>
					<div class="mn-left-title"><%= n.meetingDetails.title %></div>
					<div class="meeting-notify-icon"></div>
					<div class="clock-icon"><svg><use xlink:href="#clock"></use></svg></div>
				</div>
				<div class="mn-right">
					<div><%= sb.timeFormat(n.meetingDetails.time) %></div>
					<div><%= sb.getTime(n.meetingDetails.time) %></div>
				</div>
			</div>
			<% } %>
		</a>
		<% }); %>
	</div>
</div>
<% } %>
<% } else{ %>
<div class="no-items">
	No notifications yet
</div>
<% } %>
