<% var dummyImage = "http://placeimg.com/280/200/arch" %>
<img src="<%= data['intro_image_url'] || dummyImage %>" />
<div class="project-block-overlay">
	<div class="project-block-overlay-wrapper">
		<div class="project-block-title">
			<%= data.name %>
		</div>
		<div class="project-block-details">
			<div class="project-block-details-icon">
				<svg><use xlink:href="#calendar"></use></svg>
			</div>
			<div class="project-block-details-text ellipsis">Last Updated <%= sb.timeFormat(sb.addTimeZoneToDate(data.last_updated_date)) %></div>
		</div>
	</div>
</div>
<div class="project-block-hover-content data-holder" data-key="projects" data-id="<%= data.id %>">
	<div class="project-black-out"></div>
	<div class="project-actions-wrapper">
		<div class="project-action" data-url="add-artefact" data-index="1">
			<div class="project-action-icon add-artefact-icon">
				<svg><use xlink:href="#artifacts"></use></svg>
			</div>
			<div class="project-action-label">Add an Artefact</div>
		</div>
		<div class="project-action" data-url="add-people">
			<div class="project-action-icon add-user-icon">
				<svg><use xlink:href="#adduser"></use></svg>
			</div>
			<div class="project-action-label">Add User</div>
		</div>
		<% if(data['is_archive'] == "0"){ %>
		<div class="project-action" data-url="archive-project" data-index="0">
			<div class="project-action-icon archive-icon">
				<svg><use xlink:href="#archive"></use></svg>
			</div>
			<div class="project-action-label">Archive</div>
		</div>
		<% } else { %>
		<div class="project-action" data-url="unarchive-project" data-index="0">
			<div class="project-action-icon archive-icon">
				<svg><use xlink:href="#archive"></use></svg>
			</div>
			<div class="project-action-label">Unarchive</div>
		</div>
		<% } %>
	</div>
	<a href="#projectpage/<%= data.id %>" class="btn-project-open">Open Project</a>
</div>