<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title">Add an Artefact</div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Under</div>
				<div class="popup-meta-text">Conflux</div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">File</div>
				<div class="popup-meta-text">Conflux screen.png</div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<form>
				<div class="field-section">
					<div class="input-label">References</div>
					<div class="input-wrapper">
						<input type="text" class="input-text" placeholder="Type file or feature name and press enter"></input>
					</div>
					<div class="reference-files-holder">
						<div class="reference-item">
							Personas
							<div class="reference-item-close-icon"></div>
						</div>
						<div class="reference-item">
							Information Architecture
							<div class="reference-item-close-icon"></div>
						</div>
					</div>
				</div>
				<div class="field-section">
					<div class="input-label">Tags</div>
					<div class="input-wrapper">
						<input type="text" class="input-text" placeholder="Type a tag and press enter"></input>
					</div>	
					<div class="tags-holder">
						<div class="tag"><span>@IxD</span>
							<div class="tag-close"></div>
						</div>
						<div class="tag"><span>#Designer</span>
							<div class="tag-close"></div>
						</div>
						<div class="tag"><span>Workflows</span>
							<div class="tag-close"></div>
						</div>
					</div>
				</div>
				<div class="popup-buttons-section">
					<a href="#" class="main-btn">Proceed</a>
					<a href="#" class="lnk-btn">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>