<% var dataObj = Kenseo.popup.info[index] %>
<%
 var fields = {
	textBox: sb.toolbox.textBox({
		placeholder: "Name or mail ID. Use comma to add multiple people.",
		inputClass: "xm"
	})
}
%>
<div class="popup popup-add-people">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<div class="add-people-text-project">
				Add People under <%= Kenseo.popup.data.project_name %> Project
			</div>
			<%= fields.textBox %>
			<div class="people-permissions-section">
				<div class="permissions-header">This Person(s) can</div>
				<div class="permissions-wrapper">
					<div class="permission-item">
						<div class="permission-item-text">Add comments</div>
						<div class="checkbox-holder">
							<label class="toggle-checkbox">
								<input type="checkbox"></input><span></span>
							</label>
						</div>
					</div>
					<div class="permission-item">
						<div class="permission-item-text">Share with others</div>
						<div class="checkbox-holder">
							<label class="toggle-checkbox">
								<input type="checkbox"></input><span></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons-section">
			<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
		</div>
	</div>
</div>