<% var dataObj = Kenseo.popup.info[index] %>
<%
	var fields = {
		textBox : sb.toolbox.textBox({
			placeholder: "Project name",
			inputClass: "project-input",
			dataName : "projectName"
		})
	}
%>
<div class="popup popup-small">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<%= fields.textBox %>
		</div>
		<div class="buttons-section">
			<%= _.template(templates['buttons'])({"data": dataObj, "index": index}) %>
		</div>
	</div>
</div>