<% var dataObj = data[key] %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title">Add an Artefact</div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Under</div>
				<div class="popup-meta-text"><%= data.project_name %></div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">File</div>
				<div class="popup-meta-text"><%= data.fileName %></div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<form>
				<div class="field-section">
					<div class="input-label">References</div>
					<div class="input-wrapper">
						<input type="text" class="input-text reference-files-text" placeholder="Type file or feature name and press enter"></input>
					</div>
					<div class="reference-files-holder">
						
					</div>
				</div>
				<div class="field-section">
					<div class="input-label">Tags</div>
					<div class="input-wrapper">
						<input type="text" class="input-text" placeholder="Type a tag and press enter"></input>
					</div>	
					<div class="tags-holder">
						<div class="tag"><span>@IxD</span>
							<div class="tag-close"></div>
						</div>
						<div class="tag"><span>#Designer</span>
							<div class="tag-close"></div>
						</div>
						<div class="tag"><span>Workflows</span>
							<div class="tag-close"></div>
						</div>
					</div>
				</div>
				<div class="field-section">
					<div class="input-label">References</div>
					<div class="input-wrapper">
						<input type="text" class="input-text" placeholder="Type file or feature name and press enter"></input>
					</div>
					<div class="reference-files-holder">
					</div>
				</div>
				<div class="popup-buttons-section">
					<% var buttons = dataObj.buttons %>
					<% for(var i=buttons.length-1; i>= 0; i--){ %>
						<% var b = buttons[i]; %>
						<button class="<%= b.cls %>" 
							<% if(b.disabled){ %> 
								disabled="true" autocomplete="off" 
							<% } %> 
							<% if(b.cls === "main-btn"){ %> 
								data-url="<%= key+1 %>" 
							<% } %>
						><%= b.label %></button>
					<% }; %>
				</div>
			</form>
		</div>
	</div>
</div>