<% var dataObj = Kenseo.popup.info[key] %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Under</div>
				<div class="popup-meta-text"><%= Kenseo.popup.data.project_name %></div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<div class="files-section">
				<label class="upload-file-section">
					<input type="file" class="upload-files-input"></input>
					<div class="file-heading">
						Upload a new file
					</div>
					<div class="uploader-section">
						<div class="uploader-section-img"></div>
					</div>
				</label>
				<a href="" class="or-btn">Or</a>
				<div class="create-file-section">
					<div class="file-heading">
						Create file
					</div>
					<% if(dataObj.show_coming_soon){ %>
						<div class="coming-soon-text">Coming soon!</div>
					<% } %>
					<div class="create-file-item">
					</div>
				</div>
			</div>
			<div class="files-list">
				<div class="create-file-item">
					<div class="notification-item R-type">
						<div class="notification-title">
							Balfour: Image Share
						</div>
						<div class="notification-time">
							@ 11:20 AM by Rakesh
						</div>
					</div>
					<div class="create-file-close-icon"></div>
				</div>
			</div>
			<label class="checkbox">
				<input type="checkbox" class="existing-files-chk"></input>
				<span>This is a new version of an existing file</span>
			</label>
			<select disabled="true" class="dropdown existing-files-dropdown"></select>
		</div>
		<div class="popup-buttons-section">
			<% var buttons = dataObj.buttons %>
			<% for(var i=buttons.length-1; i>= 0; i--){ %>
				<% var b = buttons[i]; %>
				<button  
					<% if(b.disabled){ %> 
						disabled="true" autocomplete="off" 
					<% } %> 
					<% if(b.label === "Proceed"){ %> 
						class="<%= b.cls %> nav-btn"
						data-url="<%= key+1 %>" 
					<% } else if(b.label === "Back"){ %>
						class="<%= b.cls %> nav-btn"
						data-url="<%= key-1 %>" 
					<% } else{ %>
						class="<%= b.cls %>"
					<% } %>
				>
					<%= b.label %>
				</button>
			<% }; %>
		</div>
	</div>
</div>