<% var dataObj = Kenseo.popup.info[index] %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="meta-item">
				<div class="meta-heading">Under</div>
				<div class="meta-text"><%= Kenseo.popup.data.project_name %></div>
			</div>
			<div class="meta-item">
				<div class="meta-heading">File</div>
				<div class="meta-text"><%= Kenseo.popup.data.fileName %></div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<form>
				<%
				var fields = {
					comboBoxOne: sb.toolbox.comboBox({
						"label": "References",
						"class": "xm reference-combobox",
						"dataName": "references"
					}),
					comboBoxTwo: sb.toolbox.comboBox({
						"label": "Tags",
						"class": "xm tags-combobox",
						"dataName": "tags"
					}),
					comboBoxThree: sb.toolbox.comboBox({
						"label": "Links",
						"class": "xm links-combobox",
						"dataName": "docType"
					})
				}

				%>

				

				<%= fields.comboBoxOne %>
				<%= fields.comboBoxTwo %>
				<%= fields.comboBoxThree %>
				
				<div class="buttons-section">
					<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
				</div>
			</form>
		</div>
	</div>
</div>