<% var dataObj = Kenseo.popup.info[key] %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Under</div>
				<div class="popup-meta-text">Conflux</div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">File</div>
				<div class="popup-meta-text">Conflux screen.png</div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Type</div>
				<div class="popup-meta-text">IA</div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">References</div>
				<div class="popup-meta-text">Personas</div>
				<div class="popup-meta-text">Information Architecture</div>
			</div>
			<div class="popup-meta-item">
				<div class="popup-meta-heading">Tags</div>
				<div class="popup-meta-text">@IxD, #Designer, Workflows</div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<div class="your-team-section">
				<div class="your-team-heading">Your Team</div>
				<form class="your-team-body">
					<label class="checkbox">
						<input type="checkbox"></input>
						<span>Temporarily hide file from this group</span>
					</label>
					<div class="field-section your-team-field">
						<div class="input-label">Add People</div>
						<div class="input-wrapper">
							<input type="text" class="input-text" placeholder="Type mail ID or username and press enter"></input>
						</div>
					</div>
					<div class="share-artefact-people">
						<div class="share-artefact-people-item">
							<div class="share-artefacts-img-holder">
								<img class="share-artefacts-img" src="assets/imgs/people/small/Hemanth.png" />
							</div>
							<span class="share-artefacts-text">Hemanth</span>
							<div class="share-artefact-people-item-section">
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Can Add comments</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Share with others</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="sarp-checkbox-holder">
									<label class="checkbox">
										<input type="checkbox"></input><span>Apply to all users in this group</span>
									</label>
								</div>
							</div>
						</div>
						<div class="share-artefact-people-item">
							<div class="share-artefacts-img-holder">
								<img class="share-artefacts-img" src="assets/imgs/people/small/Anurag.png" />
							</div>
							<span class="share-artefacts-text">Anurag</span>
							<div class="share-artefact-people-item-section">
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Can Add comments</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Share with others</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="sarp-checkbox-holder">
									<label class="checkbox">
										<input type="checkbox"></input><span>Apply to all users in this group</span>
									</label>
								</div>
							</div>
						</div>
						<div class="share-artefact-people-item">
							<div class="share-artefacts-img-holder">
								<img class="share-artefacts-img" src="assets/imgs/people/small/Prakash.png" />
							</div>
							<span class="share-artefacts-text">Prakash</span>
							<div class="share-artefact-people-item-section">
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Can Add comments</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="share-artefact-right-panel">
									<div class="sarp-text">Share with others</div>
									<label class="toggle-checkbox">
										<input type="checkbox"></input><span></span>
									</label>
								</div>
								<div class="sarp-checkbox-holder">
									<label class="checkbox">
										<input type="checkbox"></input><span>Apply to all users in this group</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="popup-buttons-section">
						<% var buttons = dataObj.buttons %>
						<% for(var i=buttons.length-1; i>= 0; i--){ %>
							<% var b = buttons[i]; %>
							<button  
								<% if(b.disabled){ %> 
									disabled="true" autocomplete="off" 
								<% } %> 
								<% if(b.label === "Proceed"){ %> 
									class="<%= b.cls %> nav-btn"
									data-url="<%= key+1 %>" 
								<% } else if(b.label === "Back"){ %>
									class="<%= b.cls %> nav-btn"
									data-url="<%= key-1 %>" 
								<% } else{ %>
									class="<%= b.cls %>"
								<% } %>
							>
								<%= b.label %>
							</button>
						<% }; %>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>