<% var dataObj = Kenseo.popup.info[index] %>
<% var kData = Kenseo.popup.data %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="meta-item">
				<div class="meta-heading">Under</div>
				<div class="meta-text"><%= kData.project_name %></div>
			</div>
			<div class="meta-item">
				<div class="meta-heading">File</div>
				<div class="meta-text"><%= kData.fileName %></div>
			</div>
			<div class="meta-item">
				<div class="meta-heading">Type</div>
				<% if(kData.docType){ %>
					<% _.each(kData.docType, function(r){ %>
						<div class="meta-text"><%= r.name %></div>
					<% }); %>
				<% } %>
			</div>
			<div class="meta-item">
				<div class="meta-heading">References</div>
				<% if(kData.references){ %>
					<% _.each(kData.references, function(r){ %>
						<div class="meta-text"><%= r.name %></div>
					<% }); %>
				<% } %>
			</div>
			<div class="meta-item">
				<div class="meta-heading">Tags</div>
				<div class="meta-text">
					<% if(kData.tags){ %>
						<% 
							var arrVal = [];
							for(var i=0; i<kData.tags.length; i++){
								var t = kData.tags[i];
								arrVal.push(t.name);
							}
						%>
						<%= arrVal.join(", ") %>
					<% } %>
				</div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<div class="your-team-section">
				<div class="your-team-heading">Your Team</div>
				<form class="your-team-body">
					<label class="checkbox">
						<input type="checkbox"></input>
						<span>Temporarily hide file from this group</span>
					</label>
					<div class="field-section your-team-field" data-name="new-people">
						<form>
							<%
							var fields = {
								shareCombo: sb.toolbox.comboBox({
									"label": "Add People",
									"class": "xm people-combobox",
									"dataName": "otherMembers"
								})
							}
							%>
							<%= fields.shareCombo %>
						</form>
					</div>
					<div class="share-artefact-people">
						<div class="share-artefact-people-wrapper">
							
						</div>
					</div>
					<div class="buttons-section">
						<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>