<% var dataObj = Kenseo.popup.info[index] %>
<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="meta-item">
				<div class="meta-heading">Under</div>
				<div class="meta-text"><%= Kenseo.popup.data.name %></div>
			</div>
			<div class="meta-item">
				<div class="meta-heading">File</div>
				<div class="meta-text"><%= Kenseo.popup.data.fileName %></div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<form>
				<%
				var fields = {
					textBoxOne: sb.toolbox.textBox({
						"label": "References",
						"class": "reference-files-text",
						"enableSuggestions": true,
						"attr": {
							"data-elem": "references",
							"placeholder": "Type file or feature name and press enter",
						},
						"suggestions-holder": "reference-files-suggestions",
						"suggestions-viewer": "reference-files-holder"
					}),
					textBoxTwo: sb.toolbox.textBox({
						"label": "Tags",
						"class": "tags-text",
						"enableSuggestions": true,
						"attr": {
							"data-elem": "tag",
							"placeholder": "Type a tag and press enter",
						},
						"suggestions-holder": "reference-files-suggestions",
						"suggestions-viewer": "tags-holder"
					}),
					textBoxThree: sb.toolbox.textBox({
						"label": "Links",
						"class": "link-text",
						"enableSuggestions": true,
						"attr": {
							"data-elem": "links",
							"placeholder": "Type file or feature name and press enter",
						},
						"suggestions-holder": "reference-files-suggestions",
						"suggestions-viewer": "links-holder"
					})
				}

				%>

				

				<%= fields.textBoxOne %>
				<%= fields.textBoxTwo %>
				<%= fields.textBoxThree %>
				
				<div class="buttons-section">
					<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
				</div>
			</form>
		</div>
	</div>
</div>