<div class="popup popup-small">
	<div class="popup-header">
		<div class="popup-title"><%= data[key].title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<select class="projects-dropdown dropdown">
			</select>
		</div>
		<div class="popup-buttons-section">
			<button href="#" class="main-btn" data-url="<%= key+1 %>" disabled="true" autocomplete="off">Proceed</button>
			<button href="#" class="lnk-btn">Cancel</button>
		</div>
	</div>
</div>