<% var dataObj = Kenseo.popup.info[index] %>
<% var dump = sb.getPopupData() %>
<%

var fields = {
	chooseCombobox: sb.toolbox.comboBox({
		"class": "xm choose-file-combobox",
		"dataName": "choose-existing-file"
	}),
	existingCombobox: sb.toolbox.comboBox({
		"class": "xm existing-files-combobox",
		"dataName": "choose-file"
	})
}

%>


<div class="popup popup-large">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-left-section">
			<div class="meta-item">
				<div class="meta-heading">Under</div>
				<div class="meta-text"><% if(dump.project_name){ %> <%= dump.project_name %><% } else { %><%= dump.name %><% } %></div>
			</div>
		</div>
		<div class="popup-body-wrapper popup-right-section">
			<div class="files-section">
				<label class="upload-file-section">
					<input type="file" class="upload-files-input"></input>
					<div class="file-heading">
						Upload a new file
					</div>
					<div class="uploader-section">
						<div class="uploader-section-img"></div>
					</div>
				</label>
				<a href="" class="or-btn">Or</a>
				<div class="create-file-section">
					<% if(dataObj.chooseExistingFile){ %>
						<div class="file-heading">
							Choose an existing file
						</div>
						<%= fields.chooseCombobox %>
					<% } else{ %>
						<div class="file-heading">
							Create file
						</div>
					<% } %>
					<% if(dataObj.show_coming_soon){ %>
						<div class="coming-soon-text">Coming soon!</div>
					<% } %>
					<div class="choose-existing-file-holder">
					</div>
				</div>
			</div>
			<div class="files-list">
				<div class="create-file-item">
					<div class="notification-item S-type">
						<div class="notification-title">
							Balfour: Image Share
						</div>
						<div class="notification-time">
							@ 11:20 AM by Rakesh
						</div>
					</div>
					<div class="create-file-close-icon"></div>
				</div>
			</div>
			<% if(dataObj.allow_artefact_selection){ %>
				<label class="checkbox">
					<input type="checkbox" disabled="true" class="existing-files-chk"></input>
					<span>This is a new version of an existing file</span>
				</label>
				<%= fields.existingCombobox %>
			<% } %>
		</div>
		<div class="buttons-section">
			<%= _.template(templates['buttons'])({"data": data, "index": index}) %>
		</div>
	</div>
</div>