<% var dataObj = data.info[key] %>
<div class="popup popup-small">
	<div class="popup-header">
		<div class="popup-title"><%= dataObj.title %></div>
		<div class="popup-close-icon"></div>
	</div>
	<div class="popup-body">
		<div class="popup-body-wrapper">
			<select class="projects-dropdown dropdown">
			</select>
		</div>
		<div class="popup-buttons-section">
			<% var buttons = dataObj.buttons %>
			<% for(var i=buttons.length-1; i>= 0; i--){ %>
				<% var b = buttons[i]; %>
				<button  
					<% if(b.disabled){ %> 
						disabled="true" autocomplete="off" 
					<% } %> 
					<% if(b.label === "Proceed"){ %> 
						class="<%= b.cls %> nav-btn"
						data-url="<%= key+1 %>" 
					<% } else if(b.label === "Back"){ %>
						class="<%= b.cls %> nav-btn"
						data-url="<%= key-1 %>" 
					<% } else{ %>
						class="<%= b.cls %>"
					<% } %>
				>
					<%= b.label %>
				</button>
			<% }; %>
		</div>
	</div>
</div>