@font-face {
  font-family: 'OpenSansRegular';
  src: url("../../fonts/opensans-regular.eot");
  src: url("../../fonts/opensans-regular.eot") format('embedded-opentype'), url("../../fonts/opensans-regular.woff") format('woff'), url("../../fonts/opensans-regular.ttf") format('truetype'), url("../../fonts/opensans-regular.svg#OpenSansRegular") format('svg'); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../../fonts/opensans-bold.eot");
  src: url("../../fonts/opensans-bold.eot") format('embedded-opentype'), url("../../fonts/opensans-bold.woff") format('woff'), url("../../fonts/opensans-bold.ttf") format('truetype'), url("../../fonts/opensans-bold.svg#OpenSansBold") format('svg'); }

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../../fonts/opensans-bolditalic.eot");
  src: url("../../fonts/opensans-bolditalic.eot") format('embedded-opentype'), url("../../fonts/opensans-bolditalic.woff") format('woff'), url("../../fonts/opensans-bolditalic.ttf") format('truetype'), url("../../fonts/opensans-bolditalic.svg#OpenSansBoldItalic") format('svg'); }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../../fonts/opensans-italic.eot");
  src: url("../../fonts/opensans-italic.eot") format('embedded-opentype'), url("../../fonts/opensans-italic.woff") format('woff'), url("../../fonts/opensans-italic.ttf") format('truetype'), url("../../fonts/opensans-italic.svg#OpenSansItalic") format('svg'); }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../../fonts/opensans-semibold.eot");
  src: url("../../fonts/opensans-semibold.eot") format('embedded-opentype'), url("../../fonts/opensans-semibold.woff") format('woff'), url("../../fonts/opensans-semibold.ttf") format('truetype'), url("../../fonts/opensans-semibold.svg#OpenSansSemibold") format('svg'); }

.fullMiddle {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%; }

.squareFullMiddle {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%; }

.stretch, .project-black-out {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.ellipsis, .mn-left-title {
  text-overflow: ellipsis;
  overflow: hidden; }

.show {
  display: block; }

.hide {
  display: none; }

.disappear, .review-request-item input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  pointer-events: none; }

.a, .main-btn, .lnk-btn, .or-btn {
  text-decoration: none; }

.hand, .search-icon, .create-icon-holder, .notification-close-icon, .rr-state span, .popup-close-icon, .create-file-close-icon, .reference-item-close-icon, .tag .tag-close, .share-artefact-people-item {
  cursor: pointer; }

.wrap, .field-section, .input-wrapper {
  display: inline-block; }
  .wrap:after, .field-section:after, .input-wrapper:after {
    content: "";
    display: block; }

.unselectable, .checkbox, .toggle-checkbox {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; }

.checkbox {
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  color: #3e4354; }

.checkbox:after, .checkbox > span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%); }

.checkbox:after {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.checkbox > input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  pointer-events: none; }

:checked + span:after {
  width: 10px;
  height: 5px;
  left: 5px;
  transform: translate(0, -50%) rotate(-45deg);
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -moz-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  -o-transform: translate(0, -50%) rotate(-45deg);
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  margin-top: -2px; }

.toggle-checkbox {
  display: block;
  width: 52px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  position: relative;
  height: 26px;
  background-color: #dbdfeb;
  border: 1px solid #a4a7b2;
  cursor: pointer; }
  .toggle-checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    pointer-events: none; }
    .toggle-checkbox input[type="checkbox"] + span {
      display: block;
      width: 26px;
      height: 26px;
      left: 0;
      -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
      -ms-border-radius: 26px;
      -o-border-radius: 26px;
      border-radius: 26px;
      background-color: #a4a7b2;
      position: absolute;
      transition: all 0.1s ease-out;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out; }
    .toggle-checkbox input[type="checkbox"]:checked + span {
      left: 26px; }

.dropdown {
  width: 230px;
  height: 30px;
  padding: 5px;
  display: block;
  margin: 10px 0px; }
  .dropdown:focus {
    outline: none; }

input[type=text]:focus {
  outline: none; }

.header {
  position: relative; }
  .header::after {
    content: "";
    display: block;
    clear: both; }

.hamburger {
  position: absolute;
  width: 35px;
  top: 0;
  bottom: 0;
  cursor: pointer; }

.hamburger-notify {
  width: 16px;
  height: 16px;
  background-color: #ee603a;
  font-size: 10px;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transform: translate(-30%, 32%);
  -webkit-transform: translate(-30%, 32%);
  -moz-transform: translate(-30%, 32%);
  -ms-transform: translate(-30%, 32%);
  -o-transform: translate(-30%, 32%);
  border: 1px solid white;
  text-align: center;
  line-height: 15px;
  font-family: 'OpenSansBold'; }

.hamburger-icon {
  background-image: url("../../imgs/hamburger.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -7.5px;
  width: 20px;
  height: 15px; }

.logo {
  background-image: url("../../imgs/logo.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 138px;
  height: 32px;
  left: 37px; }

.logo {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  display: block; }

.create-plus-icon {
  background-image: url("../../imgs/add.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%; }

.search-icon {
  background-image: url("../../imgs/search.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  right: 86px; }

.profile-pic-holder {
  float: right;
  padding: 0 10px;
  padding-top: 10px;
  position: relative;
  cursor: pointer; }

.create-icon-holder {
  position: absolute;
  right: 122px;
  height: 70px;
  width: 40px; }
  .create-icon-holder:hover {
    background-color: #566277; }
    .create-icon-holder:hover .create-plus-icon {
      background-image: url("../../imgs/Add1.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .create-icon-holder:hover .create-plus-nav {
      display: block; }

.create-plus-nav {
  position: absolute;
  top: 100%;
  background-color: #566277;
  right: 0;
  z-index: 1;
  width: 180px;
  padding: 10px;
  display: none; }

.create-plus-nav-item {
  white-space: nowrap;
  padding: 10px;
  font-size: 14px;
  color: #efeff0; }

.search-icon {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  position: absolute;
  top: 50%; }

.profile-pic-nav {
  position: absolute;
  background-color: #566277;
  color: white;
  right: 0;
  width: 100px;
  padding: 5px 10px;
  width: 145px;
  display: none; }

.active .profile-pic-nav {
  display: block; }

.profile-pic-nav-item {
  padding: 10px;
  font-size: 14px;
  color: #efeff0; }

.profile-pic-nav-item:first-child + .profile-pic-nav-item {
  padding-top: 15px; }

.profile-pic-holder.active {
  background-color: #566277; }

.separator {
  border-bottom: 1px solid #9699a6;
  padding-top: 10px; }

.timer-overlay {
  position: absolute;
  width: 250px;
  padding: 20px;
  background-color: #F4F4F4;
  top: 100%;
  margin-top: 18px;
  left: -12px;
  border: 1px solid #979FAD;
  cursor: default; }
  .timer-overlay::after, .timer-overlay::before {
    content: "";
    border-style: solid;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%); }
  .timer-overlay::after {
    border-width: 10px;
    border-color: transparent transparent #979FAD transparent; }
  .timer-overlay::before {
    border-width: 9px;
    border-color: transparent transparent #F4F4F4 transparent;
    z-index: 1;
    margin-left: 1px; }
  .timer-overlay .notification-item {
    margin-top: 0; }

.notification-close-icon {
  background-image: url("../../imgs/close.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 10px; }

.search-section {
  width: 518px;
  position: absolute;
  top: 80px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  left: 50%; }

.input-field {
  position: relative; }

#input-text-field {
  width: 472px;
  height: 55px;
  font-size: 16px;
  color: #3e4354;
  position: relative;
  display: block;
  padding-left: 46px;
  background-image: url("../../imgs/search.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 25px 25px;
  background-position: 12px center;
  line-height: 55px;
  border: 1px solid #ffffff;
  background-color: #ececed; }

.input-field > label {
  position: absolute;
  font-size: 16px;
  color: #7d808f;
  font-style: italic;
  left: 46px;
  top: 50%;
  margin-top: -0.7em;
  padding-right: 5px;
  opacity: 0.5; }

.input-field > input[type=text]:focus + label {
  display: none; }

.search-results {
  width: 498px;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #fff;
  padding-left: 20px;
  padding-bottom: 20px; }

.search-row {
  height: 28px;
  margin-top: 20px;
  font-size: 16px;
  color: #3e4354; }

.search-row-img {
  width: 27px;
  height: 27px;
  float: left; }

.search-row-txt {
  line-height: 28px;
  margin-left: 37px; }

.search-img-type-file {
  background-image: url("../../imgs/search-file.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.search-img-type-folder {
  background-image: url("../../imgs/search-folder.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.search-img-type-pic {
  background-image: url("../../imgs/search-pic.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.menu {
  width: 812px;
  height: 675px;
  background-color: #566277;
  padding-left: 40px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  cursor: default;
  display: none; }

.active.hamburger .menu {
  display: block; }

.active.hamburger {
  background-color: #566277; }

.active.hamburger .hamburger-icon {
  background-image: url("../../imgs/hamburger1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.menu-header {
  width: inherit;
  height: 78px; }

.menu-profile {
  width: 675px;
  height: inherit;
  float: left; }

.menu-profile-img-dv {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  float: left; }

.menu-profile-img {
  width: 60px;
  height: 60px; }

.menu-profile-text {
  width: 565px;
  height: 42px;
  margin-top: 28px;
  margin-left: 10px;
  float: left; }

.menu-profile-txt-nm {
  font-size: 18px;
  color: #dedede; }

.menu-profile-txt-dsgn {
  margin-top: 6px;
  font-size: 14px;
  color: #dedede; }

.menu-settings {
  width: 137px;
  height: inherit;
  float: left; }

.menu-settings-dv {
  width: inherit;
  height: 20px;
  margin-top: 15px; }

.menu-settings-img {
  width: 24px;
  height: 24px;
  display: block;
  float: left; }

.menu-settings-txt {
  float: left;
  width: 80px;
  height: auto;
  display: block;
  font-size: 13px;
  color: #bec0cf;
  margin-left: 5px;
  line-height: 24px; }

.menu-settings-dshbd-dv {
  width: inherit;
  height: 20px;
  margin-top: 10px; }

.menu-projects-container {
  width: inherit;
  height: 156px;
  margin-top: 30px; }

.projects-hd {
  margin-bottom: 20px;
  font-size: 18px;
  color: #efeff0; }

.projects-img-dv {
  width: 190px;
  height: 135px;
  float: left;
  margin-right: 30px; }

.menu-project-img {
  width: 188px;
  height: 118px;
  border: 1px solid #344158; }

.projects-img-dv-txt {
  font-size: 13px;
  color: #bec0cf;
  display: block;
  text-align: center; }

.menu-recent {
  width: inherit;
  height: auto;
  width: inherit;
  height: auto;
  margin-top: 75px; }

.recent-hd {
  margin-bottom: 25px;
  font-size: 18px;
  color: #efeff0; }

.menu-recent-activity {
  width: 150px;
  height: auto;
  float: left; }

.menu-recent-cnt {
  width: inherit;
  height: 46px;
  margin-bottom: 20px; }

.menu-recent-img-dv {
  float: left;
  width: 38px;
  height: 46px; }

.menu-recent-img {
  width: 38px;
  height: 46px; }

.menu-recent-cnt-txt {
  height: 30px;
  font-size: 14px;
  color: #bec0cf;
  margin-left: 48px;
  padding-top: 8px; }

.menu-recent-requests {
  width: 185px;
  height: auto;
  margin-left: 55px;
  float: left; }

.requests-hd {
  margin-bottom: 25px;
  font-size: 18px;
  color: #efeff0; }

.menu-requests-cnt {
  width: inherit;
  height: 30px;
  margin-bottom: 20px; }

.menu-requests-img-dv {
  width: 20px;
  height: inherit;
  float: left; }

.menu-requests-img {
  width: 20px;
  height: 20px; }

.menu-requests-txt {
  height: 30px;
  margin-left: 25px; }

.menu-requests-txt-nm {
  font-size: 14px;
  color: #bec0cf; }

.menu-requests-txt-tm {
  font-size: 13px;
  color: #bec0cf; }

.menu-recent-notifications {
  width: 168px;
  height: auto;
  margin-left: 65px;
  float: left; }

.notifications-hd {
  margin-bottom: 25px;
  font-size: 18px;
  color: #efeff0; }

.menu-notifications-cnt {
  width: inherit;
  height: auto;
  margin-bottom: 20px; }
  .menu-notifications-cnt::after {
    content: "";
    display: block;
    clear: both; }

.menu-notifications-img-dv {
  width: 18px;
  height: auto;
  float: left; }

.menu-notifications-img {
  width: 18px;
  height: 18px; }

.menu-notifications-txt {
  width: 140px;
  height: auto;
  float: left;
  margin-left: 5px; }

.menu-notifications-txt-nm {
  font-size: 14px;
  color: #bec0cf; }

.menu-notifications-txt-tm {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #bec0cf; }

.menu-notifications-txt-dttme {
  margin-top: 4px;
  width: 110px;
  height: 22px;
  font-size: 12px;
  color: #ffffff;
  background-color: #00aeef;
  line-height: 22px;
  padding-left: 5px; }

.menu-notifications-txt-dttme-img {
  width: 16px;
  height: 16px;
  float: right;
  margin-right: -7px;
  margin-top: 3px; }

.menu-recent-people {
  width: 60px;
  height: auto;
  margin-left: 40px;
  float: left; }

.people-hd {
  margin-bottom: 25px;
  font-size: 18px;
  color: #efeff0; }

.menu-recent-people-cnt {
  text-align: center;
  margin-bottom: 20px; }

.menu-people-img {
  width: 40px;
  height: 40px; }

.content-wrapper {
  padding-left: 37px;
  padding-top: 55px;
  padding-right: 38px; }

.projects-heading, .review-requests-heading, .notifications-heading {
  position: relative; }

.review-requests-heading {
  margin-bottom: 30px; }

.heading-text {
  font-size: 18px;
  color: #464c5f;
  line-height: 24px;
  margin-left: 34px; }

.projects-heading-icon, .review-requests-icon, .notifications-heading-icon {
  float: left; }

.projects-heading-icon {
  background-image: url("../../imgs/projects.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.review-requests-icon {
  background-image: url("../../imgs/reviewrequest.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.notifications-heading-icon {
  background-image: url("../../imgs/notify.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.review-requests-section, .notifications-section {
  float: left; }

.projects-section {
  margin-right: 655px; }

.review-requests-section {
  width: 255px;
  margin-left: 80px; }

.notifications-section {
  width: 250px;
  margin-left: 68px; }

.projects-section-content {
  margin-top: 30px; }
  .projects-section-content::after {
    content: "";
    display: block;
    clear: both; }

.project-block {
  float: left;
  width: 45%;
  height: 200px;
  background-color: cornflowerblue;
  position: relative; }
  .project-block:hover .project-block-hover-content {
    display: block; }

.project-block:nth-child(2n) {
  float: right; }

.project-block:nth-child(n+3) {
  margin-top: 60px; }

.project-block-hover-content {
  text-align: center;
  display: none; }

.project-black-out {
  opacity: 0.7;
  background-color: #454b58; }

.project-actions-wrapper {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 11%; }

.project-action {
  display: inline-block;
  margin: 0 12px;
  margin-top: 8px; }

.project-action-icon {
  width: 28px;
  height: 28px;
  display: inline-block; }

.add-artefact-icon {
  background-image: url("../../imgs/artifacts.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.add-user-icon {
  background-image: url("../../imgs/adduser.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.archive-icon {
  background-image: url("../../imgs/archive.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.project-action-label {
  font-size: 13px;
  color: white; }

.project-block-overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #D7D9E0;
  text-align: center; }

.project-block-overlay-wrapper {
  display: inline-block; }

.btn-project-open {
  background-color: #e7e7e7;
  border: none;
  font-size: 13px;
  color: #3e4354;
  position: absolute;
  bottom: 0px;
  margin-bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  z-index: 1;
  width: 160px;
  height: 40px;
  text-decoration: none;
  line-height: 40px; }

.project-block-title {
  font-size: 17px;
  color: #3e4354; }

.project-block-details {
  font-size: 11px;
  color: #5e626e;
  margin-top: 5px;
  line-height: 16px;
  text-indent: 5px; }

.fixed-content {
  float: right;
  width: 655px; }

.project-block-details::before {
  content: "";
  background-image: url("../../imgs/one1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  float: left; }

.review-request-item {
  position: relative; }
  .review-request-item::after {
    content: "";
    display: block;
    clear: both; }

.review-request-item + .review-request-item {
  margin-top: 50px; }

.rr-left {
  width: 50px;
  height: 68px;
  float: left;
  position: relative;
  margin-right: 12px; }

.rr-right {
  margin-left: 50px; }

.rr-status {
  width: 37px;
  height: 57px;
  font-size: 14px;
  color: #ffffff;
  text-align: right;
  padding-right: 3px; }

.rr-title {
  font-size: 14px;
  color: #3e4354;
  line-height: 11px; }

.rr-details {
  font-size: 13px;
  color: #6f7588;
  margin-top: 6px;
  margin-bottom: 5px; }

.status-critical {
  background-color: #ed554b; }

.status-normal {
  background-color: #37bcd3; }

.status-approved {
  background-color: #46a133; }

.rr-state span {
  font-size: 12px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background-color: #52626e;
  line-height: 20px;
  text-align: center;
  font-family: 'OpenSansBold'; }
  .rr-state span:first-letter {
    font-family: 'OpenSansRegular'; }
  .rr-state span:nth-of-type(3n+1):after {
    content: "";
    display: block;
    color: red; }
.rr-state .rr-other-versions span {
  margin-top: 20px;
  margin-right: 28px;
  position: relative;
  background-color: #91a0ab; }
  .rr-state .rr-other-versions span:after {
    content: "";
    position: absolute;
    background-color: #cbd0d3; }
  .rr-state .rr-other-versions span:before {
    content: attr(data-date);
    font-size: 10px;
    color: #798791;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    margin-top: -2px;
    z-index: 1; }
  .rr-state .rr-other-versions span:first-child:after {
    width: 1px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    margin-left: -1px; }
.rr-state .rr-other-versions > div::after {
  content: "";
  display: block;
  clear: both; }
.rr-state .rr-other-versions > div:nth-child(2n+1) > span {
  float: left; }
  .rr-state .rr-other-versions > div:nth-child(2n+1) > span:not(:first-child):after {
    width: 28px;
    height: 1px;
    right: 100%;
    top: 50%;
    margin-top: -1px; }
.rr-state .rr-other-versions > div:nth-child(2n) > span {
  float: right; }
  .rr-state .rr-other-versions > div:nth-child(2n) > span:not(:first-child):after {
    width: 28px;
    height: 1px;
    left: 100%;
    top: 50%;
    margin-top: -1px; }

.rr-comment {
  background-image: url("../../imgs/baloon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 26px;
  line-height: 21px;
  text-align: center;
  font-size: 11px;
  color: #9397aa;
  font-family: 'OpenSansBold';
  position: absolute;
  left: 93px;
  top: 43px; }

.rr-comment {
  float: left; }

.rr-owner-image {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 0; }

.requests-dropdown {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 28px;
  cursor: pointer;
  z-index: 1; }

.review-request-item .requests-dropdown-icon {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%; }
.review-request-item:hover .requests-dropdown-icon {
  background-image: url("../../imgs/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  z-index: 2; }
.review-request-item .requests-dropdown {
  display: block; }
  .review-request-item .requests-dropdown:hover {
    background-color: #566277; }
    .review-request-item .requests-dropdown:hover .requests-dropdown-items {
      display: block; }
    .review-request-item .requests-dropdown:hover .requests-dropdown-icon {
      background-image: url("../../imgs/dropdown1.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 16px;
      height: 16px;
      z-index: 2; }

.requests-dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 10px;
  background-color: #566277; }

.requests-dropdown-items > div {
  white-space: nowrap;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
  font-size: 12px;
  color: #dbdce0; }

.requests-archive-item::before {
  content: "";
  background-image: url("../../imgs/archive1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 10px; }

.requests-replace-item::before {
  content: "";
  background-image: url("../../imgs/replace.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 10px; }

.requests-add-version-item::before {
  content: "";
  background-image: url("../../imgs/addversion.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 10px; }

.requests-share-item::before {
  content: "";
  background-image: url("../../imgs/share.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 10px; }

.notifications-content {
  margin-top: 30px; }

.day-notifications + .day-notifications {
  margin-top: 20px; }

.day-notifications-label {
  font-size: 13px;
  color: #6f7588;
  border-bottom: 1px solid #aaacb4; }

.notification-item::after {
  content: "";
  display: block;
  clear: both; }

.notification-title {
  font-size: 14px;
  color: #3e4354; }

.notification-time {
  font-size: 12px;
  color: #62656f; }

.mn-left {
  float: left;
  width: 150px;
  background-color: #cceffc;
  position: relative;
  font-size: 12px;
  color: #2aa2d3; }

.mn-right {
  margin-left: 160px;
  background-color: #00aeef;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  font-family: 'OpenSansSemibold';
  text-transform: uppercase; }

.mn-left, .mn-right {
  padding: 5px; }

.notification-item {
  padding-left: 25px;
  position: relative;
  margin-top: 20px; }

.notification-item.meeting-type::before {
  content: "";
  background-image: url("../../imgs/one.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px; }

.notification-item.comment-type::before {
  content: "";
  background-image: url("../../imgs/baloon1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px; }

.notification-item.review-request-type::before {
  content: "";
  background-image: url("../../imgs/file.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px; }

.notification-item.meeting-type .mn-left::after {
  content: "";
  background-image: url("../../imgs/clock.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%); }

.meeting-notify-section {
  margin-top: 5px; }

.project-section-content::after {
  content: "";
  display: block;
  clear: both; }

.sub-section {
  width: 255px;
  float: left; }

.sub-section + .sub-section {
  margin-left: 80px; }

.sub-heading-section {
  border-bottom: 1px solid #aaacb4; }

.sub-heading {
  margin-top: 30px;
  position: relative;
  display: inline-block; }
  .sub-heading::after {
    content: "";
    display: block;
    clear: both; }

.sub-heading-label, .sub-heading-add-icon {
  float: left; }

.sub-heading-label {
  font-size: 18px;
  color: #464c5f; }

.sub-heading-add-icon {
  background-image: url("../../imgs/add.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px; }

.sub-section-content {
  padding-top: 20px; }

.sub-section-content .review-request-item + .review-request-item {
  margin-top: 45px; }

.people-icon {
  width: 34px;
  height: 34px; }

.people-item-left {
  float: left; }

.people-item-right {
  margin-left: 44px; }

.people-name {
  font-size: 14px;
  color: #3e4354; }

.people-access-text {
  font-size: 12px;
  color: #828591; }

.people-item-holder + .people-item-holder {
  margin-top: 30px; }

.activity-left {
  float: left; }

.activity-holder.review-activity-type .activity-icon {
  background-image: url("../../imgs/file12.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 34px;
  height: 38px; }

.activity-holder.comment-activity-type .activity-icon {
  background-image: url("../../imgs/file14.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 34px;
  height: 38px; }

.activity-holder.create-activity-type .activity-icon {
  background-image: url("../../imgs/addfile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 34px;
  height: 38px; }

.activity-right {
  margin-left: 44px; }

.day-activity + .day-activity {
  margin-top: 20px; }

.day-activity-label {
  font-size: 12px;
  color: #797d86; }

.day-activity-section {
  padding-top: 20px; }

.activity-title {
  font-size: 14px;
  color: #3e4354; }

.activity-time {
  font-size: 12px;
  color: #62656f; }

.activity-sender {
  font-size: 12px;
  color: #828591;
  margin-left: 5px; }

.activity-time, .activity-sender {
  float: left; }

.activity-holder::after {
  content: "";
  display: block;
  clear: both; }

.activity-holder + .activity-holder {
  margin-top: 30px; }

.artifacts-content.sub-section-content .review-request-item .rr-status {
  position: relative; }
.artifacts-content.sub-section-content .review-request-item + .review-request-item .rr-status:after {
  content: "";
  position: absolute;
  right: 100%;
  width: 10px;
  height: 112px;
  border-top: 1px solid #cbd0d3;
  border-left: 1px solid #cbd0d3;
  bottom: 50%;
  margin-top: 1px; }
.artifacts-content.sub-section-content .review-request-item[data-pass="0"] .rr-status:after, .artifacts-content.sub-section-content .review-request-item[data-pass="0"] .rr-status:before {
  display: none !important; }
.artifacts-content.sub-section-content .review-request-item[data-pass="1"] .rr-status:after {
  border-bottom: 1px solid #cbd0d3; }
.artifacts-content.sub-section-content .review-request-item + .review-request-item .rr-status:before {
  content: "";
  background-image: url("../../imgs/link.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 8px;
  height: 21px;
  background-color: white;
  position: absolute;
  bottom: 100%;
  right: 100%;
  margin-right: 10px;
  transform: translate(50%, 50%);
  margin-bottom: 27.5px;
  z-index: 1; }
.artifacts-content.sub-section-content .review-request-item.xl .rr-status:after {
  height: 149px; }
.artifacts-content.sub-section-content .review-request-item.xl .rr-status:before {
  margin-bottom: 46px; }
.artifacts-content.sub-section-content .review-request-item.xxl .rr-status:after {
  height: 187px; }
.artifacts-content.sub-section-content .review-request-item.xxl .rr-status:before {
  margin-bottom: 65px; }

.popup-container {
  background-color: rgba(82, 85, 104, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

.popup {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #8d8f96; }

.popup-small {
  width: 425px;
  height: 260px; }

.popup-large {
  width: 725px;
  height: 555px; }

.popup-large-df {
  width: 730px;
  height: 590px; }

.popup-header {
  height: 55px;
  position: relative;
  background-color: #ececed; }

.popup-title {
  font-size: 18px;
  color: #464c5f;
  padding-left: 30px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  position: absolute;
  top: 50%; }

.files-section ~ .dropdown {
  margin-left: 30px; }

.popup-close-icon {
  background-image: url("../../imgs/close.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 30px;
  top: 20px; }

.dropdown {
  width: 250px;
  height: 38px; }

.popup-body {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; }

.popup-body-wrapper {
  padding: 30px;
  padding-left: 50px; }

.popup-buttons-section > a {
  float: right;
  margin-left: 30px; }

.popup-buttons-section {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.main-btn {
  font-size: 16px;
  color: white;
  background-color: #435383;
  padding: 5px 25px; }

.lnk-btn {
  font-size: 14px;
  color: #3e4354;
  padding: 8px; }

.projects-dropdown {
  width: 300px;
  height: 40px; }

/* second artefact popup*/
.popup-meta-heading {
  font-size: 13px;
  color: #858993; }

.popup-meta-text {
  font-size: 15px;
  color: #3e4354; }

.popup-meta-item {
  padding-left: 50px;
  margin-top: 20px; }

.popup-left-section {
  width: 175px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px dashed #c3c5ca;
  background-color: #f5f5f6; }

.popup-right-section {
  margin-left: 175px; }

.uploader-section-img {
  background-image: url("../../imgs/pdfnpng.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 125px;
  height: 200px;
  margin-top: 45px; }

.file-heading, .your-team-heading {
  font-size: 16px;
  color: #3e4354;
  font-family: 'OpenSansBold'; }

.files-section {
  margin-bottom: 45px; }
  .files-section::after {
    content: "";
    display: block;
    clear: both; }

.upload-file-section {
  border-right: 1px solid #c3c5ca;
  padding-right: 55px; }

.upload-file-section, .create-file-section {
  float: left; }

.create-file-section {
  padding-left: 60px;
  width: 210px; }

.create-file-item {
  position: relative; }

.create-file-close-icon {
  background-image: url("../../imgs/close.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  right: 2px; }

.coming-soon-text {
  font-size: 14px;
  color: #3e4354;
  font-family: 'OpenSansItalic';
  margin-top: 30px; }

.or-btn {
  font-size: 20px;
  color: white;
  width: 55px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: 'OpenSansSemibold';
  text-align: center;
  line-height: 35px;
  background-color: #959db4;
  display: block;
  position: absolute;
  left: 390px;
  top: 160px; }

.input-label {
  font-size: 16px;
  color: #3e4354;
  margin-bottom: 10px; }

.field-section + .field-section {
  margin-top: 20px; }

.input-text {
  width: 345px;
  height: 18px;
  border: 1px solid #aaacb4;
  padding: 10px; }
  .input-text::-webkit-input-placeholder {
    color: #3e4354;
    font-size: 14px;
    font-family: 'OpenSansItalic'; }
  .input-text:-moz-placeholder {
    /* Firefox 18- */
    color: #3e4354;
    font-size: 14px;
    font-family: 'OpenSansItalic'; }
  .input-text::-moz-placeholder {
    /* Firefox 19+ */
    color: #3e4354;
    font-size: 14px;
    font-family: 'OpenSansItalic'; }
  .input-text:-ms-input-placeholder {
    color: #3e4354;
    font-size: 14px;
    font-family: 'OpenSansItalic'; }
  .input-text:focus {
    outline: none; }

.reference-item {
  font-size: 14px;
  color: #3e4354;
  padding: 15px 10px; }

.reference-item-close-icon {
  background-image: url("../../imgs/close.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 6px; }

.tags-holder {
  margin-top: 10px; }

.tag {
  display: inline-block;
  padding: 3px;
  padding-right: 25px;
  background-color: #d1e5fe;
  position: relative;
  font-size: 14px;
  color: #3e4354; }
  .tag .tag-close {
    background-image: url("../../imgs/close.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: auto;
    right: 5px;
    bottom: auto; }

.tags + .tags {
  margin-left: 10px; }

.your-team-heading {
  border-bottom: 1px solid black;
  display: inline; }

.your-team-body {
  padding-top: 25px; }

.your-team-section .input-text {
  width: 460px; }

.your-team-field {
  margin-top: 30px; }

.share-artefact-people {
  position: relative; }

.share-artefact-people-item {
  margin-top: 25px;
  margin-left: 20px;
  width: 210px; }
  .share-artefact-people-item::after {
    content: "";
    display: block;
    clear: both; }
  .share-artefact-people-item .share-artefacts-text {
    line-height: 40px;
    margin-left: 10px;
    font-size: 14px;
    color: #3e4354; }
  .share-artefact-people-item .share-artefact-right-panel {
    margin-left: 20px; }
  .share-artefact-people-item .sarp-text {
    font-size: 14px;
    color: #3e4354;
    margin-bottom: 10px;
    margin-top: 15px; }
  .share-artefact-people-item .share-artefacts-img-holder {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    margin-left: -20px;
    border: 5px solid transparent;
    position: relative; }
    .share-artefact-people-item .share-artefacts-img-holder img {
      display: block;
      position: relative;
      z-index: 2; }
    .share-artefact-people-item .share-artefacts-img-holder:after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border: 2px solid #b9bbc4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      z-index: 1; }
  .share-artefact-people-item:hover {
    background-color: #d1e5fe; }
    .share-artefact-people-item:hover .share-artefacts-text {
      font-family: 'OpenSansBold'; }
    .share-artefact-people-item:hover .share-artefacts-img-holder:after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border: 2px solid #7eb7fd;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background-color: white;
      z-index: 1; }
    .share-artefact-people-item:hover .share-artefact-people-item-section {
      display: block; }
  .share-artefact-people-item .share-artefact-people-item-section {
    display: none;
    position: absolute;
    left: 229px;
    right: 8px;
    top: 0;
    bottom: 0;
    background-color: #d1e5fe; }

.sarp-checkbox-holder {
  margin-top: 10px;
  margin-left: 10px; }

body {
  font-family: 'OpenSansRegular'; }

.page {
  max-width: 1346px;
  min-width: 1180px;
  margin: 0 auto; }
