<div class="add-widget-section">
	<button class="add-widget-btn">
		<span class="add-widget-text">Add Widget</span>
		<span class="widget-add"><svg><use xlink:href="#add"></use></svg></span>
	</button>
	<div class="widget-items">
		<div class="widget-item-name" persona-widget-type="text">Text</div>
		<div class="widget-item-name" persona-widget-type="tags">Tags</div>
		<div class="widget-item-name" persona-widget-type="list-items">List Items</div>
		<div class="widget-item-name" persona-widget-type="progress-indicators">Progress Indicators</div>
	</div></div>