<div class="persona-traits persona-card template-section">
	<div class="persona-card--close template-section--close">
		<svg><use xlink:href="#close"></use></svg>
	</div>
	<div class="persona-card-heading editable">traits</div>
	<div class="persona-trait-item">
		<span class="persona-trait-item-text editable">Introvert</span>
		<span class="persona-trait-item-close widget-close">
			<svg class="tilt"><use xlink:href="#add"></use></svg>
		</span>
	</div>
	<div class="persona-trait-item">
		<span class="persona-trait-item-text editable">Conservative</span>
		<span class="persona-trait-item-close widget-close">
			<svg class="tilt"><use xlink:href="#add"></use></svg>
		</span>
	</div>
	<div class="persona-trait-item">
		<span class="persona-trait-item-text editable">Tag name</span>
		<span class="persona-trait-item-close persona-trait-item--add widget-close">
			<svg><use xlink:href="#add"></use></svg>
		</span>
	</div></div>