<div class="notifications-heading">
	<div class="notifications-heading-icon"></div>
	<div class="heading-text">Notifications</div>
</div>
<div class="notifications-content">
	<div class="day-notifications">
		<div class="day-notifications-label">Today</div>
		<div class="notifications-holder">
			<% _.each(data, function(n){ %>
			<div class="notification-item <%= n.type %>-type">
				<div class="notification-title">
					<%= n.title %>
				</div>
				<div class="notification-time">
					@ <%= sb.timeFormat(n.time) %> by <%= n.notifier %>
				</div>
				<% if(n.meetingDetails){ %>
				<div class="meeting-notify-section">
					<div class="mn-left">
						<div>Meeting @ <%= n.meetingDetails.room %></div>
						<div class="mn-left-title"><%= n.meetingDetails.title %></div>
						<div class="meeting-notify-icon"></div>
					</div>
					<div class="mn-right">
						<div>4 Mar</div>
						<div>4:00 PM</div>
					</div>
				</div>
				<% } %>
			</div>
			<% }); %>
		</div>
	</div>
</div>
