<div class="projects-heading">
	<div class="projects-heading-icon"></div>
	<div class="heading-text">Projects</div>
</div>
<div class="projects-section-content">
	<% _.each(data, function(p){ %>
	<div class="project-block">
		<div class="project-block-overlay">
			<div class="project-block-overlay-wrapper">
				<div class="project-block-title">
					<%= p.project_name %>
				</div>
				<div class="project-block-details">
					Last Updated on <%= sb.timeFormat(p.last_updated_date) %>
				</div>
			</div>
		</div>
		<div class="project-block-hover-content">
			<div class="project-black-out"></div>
			<div class="project-actions-wrapper">
				<div class="project-action">
					<div class="project-action-icon add-artefact-icon"></div>
					<div class="project-action-label">Add artefact</div>
				</div>
				<div class="project-action">
					<div class="project-action-icon add-user-icon"></div>
					<div class="project-action-label">Add User</div>
				</div>
				<div class="project-action">
					<div class="project-action-icon archive-icon"></div>
					<div class="project-action-label">Archive</div>
				</div>
			</div>
			<a href="#projectspage" class="btn-project-open">Open Project</a>
		</div>
	</div>
	<% }); %>
</div>
