<div class="document-wrapper">
	<div class="dv-section"></div>
	<div class="dv-toolbox"></div>
	<div class="dv-info"></div>
	<div class="dv-status-bar">
		<div class="dv-tab-panel-section">
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
			<div class="tab-item"></div>
		</div>
		<div class="dv-tb-people-section">
			<div class="dv-tb-people-wrapper">
				<div class="left-slider"></div>
				<div class="dv-tb-people">
					<img class="profile-image-black" src="assets/imgs/people/small/Anurag.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Prakash.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Hemanth.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Prakash.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Hemanth.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Anurag.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Prakash.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Hemanth.png"/>
					<img class="profile-image-black" src="assets/imgs/people/small/Prakash.png"/>
				</div>
				<div class="right-slider"></div>
			</div>
		</div>
	</div>
</div>