<% if(params.projects && params.sortBy){ %>
<div class="sub-heading-section">
	<div class="artifacts-heading sub-heading">
		<div class="sub-heading-label">Artefacts</div>
		<% if(data.length){ %>
		<div class="sub-heading-add-wrapper">
			<div class="sub-heading-add-icon"></div>
		</div>
		<div class="sub-heading-more-options toggle-click sub-menu-nav">
			<div class="sub-heading-more-icon"></div>
			<div class="sub-menu-holder left-nav bottom-nav">
				<div class="sub-menu-item sort-item" data-stype="name">Sort by Name</div>
				<div class="sub-menu-item sort-item" data-stype="date">Sort by Date</div>
				<div class="sub-menu-item sort-item" data-stype="owner">Group by Owner</div>
				<div class="sub-menu-item sort-item" data-stype="default">Default Sort</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
<div class="artifacts-content sub-section-content <% if(params.sortBy && params.sortBy === 'default'){ %> linked-artefacts <% } %>">
	<div class="sort-view">Sort By <% if(params && params.sortBy){ %> <%= _.capitalize(params.sortBy) %> <% } else { %>Default <% } %></div>
<% } %>
	
<% if(params.projects && params.sortBy){ %>
</div>
<% } %>