<div class="sub-heading-section">
	<div class="sub-heading">
		<div class="sub-heading-label">Activity</div>
	</div>
</div>
<div class="activity-section-content sub-section-content">
	<div class="day-activity">
		<div class="day-activity-label">
			Today
		</div>
		<div class="day-activity-section">
			<% _.each(data, function(a){ %>
			<div class="activity-holder create-activity-type">
				<div class="activity-left">
					<div class="activity-icon"></div>
				</div>
				<div class="activity-right">
					<div class="activity-title"><%= a.project_name %>: <%= a.activityName %></div>
					<div class="activity-details">
						<div class="activity-time">10:00 PM</div>
						<div class="activity-sender"> - from Rakesh</div>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</div>

