<div class="sub-heading-section">
	<div class="artifacts-heading sub-heading">
		<div class="sub-heading-label">Artifacts</div>
		<div class="sub-heading-add-icon"></div>
	</div>
</div>
<div class="artifacts-content sub-section-content">
	<div class="review-requests-content">
		<% _.each(data, function(d){ %>
		<div class="review-request-item">
			<div class="rr-left">
				<div class="rr-status status-critical"><%= d.type %></div>
				<img class="rr-owner-image" src="assets/imgs/people/small/<%= d.createdby %>.png" />
			</div>
			<div class="rr-right">
				<div class="rr-title"><%= d.title %></div>
				<div class="rr-details">Prakash posts @ 1:00 PM</div>
				<div class="rr-state-details">
					<div class="rr-state"><%= d.state %></div>
					<div class="rr-comment"><%= d.commentCount %></div>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>