<div class="sub-heading-section">
	<div class="sub-heading">
		<div class="sub-heading-label">People</div>
		<div class="sub-heading-add-icon"></div>
	</div>
</div>
<div class="people-section-content sub-section-content">
	<% _.each(data, function(p){ %>
	<div class="people-item-holder">
		<div class="people-item-left">
			<img class="people-icon" src="<%= p.picture %>" />
		</div>
		<div class="people-item-right">
			<div class="people-name"><%= p.name %></div>
			<div class="people-access-text">Can Edit</div>
		</div>
	</div>
	<% }); %>
</div>