<div class="project-section">
	<div class="project-heading">
		<div class="projects-heading-icon"></div>
		<div class="heading-text">Projects > <%= Kenseo.page.data.project_name %></div>
	</div>
	<div class="project-section-content">
		<div class="artifacts-section sub-section">
			<div class="sub-heading-section">
				<div class="artifacts-heading sub-heading">
					<div class="sub-heading-label">Artifacts</div>
					<div class="sub-heading-add-icon"></div>
				</div>
			</div>
			<div class="artifacts-content sub-section-content">
				
			</div>
		</div>

		<div class="activity-section sub-section">
			
		</div>
		<div class="people-section sub-section">
			
		</div>

	</div>
</div>