<div class="menu-profile">
    <div class="menu-profile-img-dv">
        <% if(data.picture !== "ui/assets/imgs/avatar.svg"){ %>
            <img class="menu-profile-img" src="<%= data.picture %>" />
        <% } else { %>
            <svg class="menu-profile-img"><use xlink:href="#avatar"></use></svg>
        <% } %>
    </div>
    <div class="menu-profile-text">
        <div class="menu-profile-txt-nm"><%= data.name %></div>
        <div class="menu-profile-txt-dsgn"><%= data.designation %></div>
    </div>
</div>
<div class="menu-settings">
    <a href="#" class="menu-settings-dshbd-dv page-click">
        <div class="menu-settings-img menu-dashboard-icon">
            <svg><use xlink:href="#dashboard"></use></svg>
        </div>
        <span class="menu-settings-txt">Dashboard</span>
    </a>
    <a href="#projects" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-archive-icon">
            <svg fill="#BEC0CF"><use xlink:href="#archive-icn"></use></svg>
        </div>
        <span class="menu-settings-txt">Projects</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-analytics-icon">
            <svg><use xlink:href="#analytics"></use></svg>
        </div>
        <span class="menu-settings-txt">Analytics</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-archive-icon">
            <svg fill="#BEC0CF"><use xlink:href="#archive-icn"></use></svg>
        </div>
        <span class="menu-settings-txt">Archives</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-settings-icon">
            <svg><use xlink:href="#settings"></use></svg>
        </div>
        <span class="menu-settings-txt">Settings</span>
    </a>
</div>