<% if(data && data.length){ %>
<% _.each(data, function(a){ %>
<div class="menu-recent-cnt">
    <div class="menu-recent-img-dv">
    	<svg><use xlink:href="#addfile"></use></svg>
    </div>
    <div class="menu-recent-cnt-txt">
    	<div class="menu-activity-name"><%= a.project_name %></div>
        <div class="menu-activity-title ellipsis" title="<%= a.artefact_title %>"><%= a.artefact_title %></div>
    </div>
</div>
<% }); %>
<% } else { %>
<div class="no-items">
	No Recent activities to show
</div>
<% } %>