<% if(data && data.length){ %>
<% _.each(data, function(d){ %>
<div class="menu-notifications-cnt">

    <div class="menu-notifications-img-dv">
    <svg class="menu-notifications-img"><use xlink:href="#calendar"></use></svg>
    </div>
    <div class="menu-notifications-txt">
        <span class="menu-notifications-txt-nm">Conflux:Designer</span>
        <span class="menu-notifications-txt-tm"><%= sb.timeFormat(d.time) %> by <%= d.notifier %></span>
        <% if(d.meetingDetails){ %>
        <div class="menu-notifications-txt-dttme">
            <svg class="menu-notifications-txt-dttme-img"><use xlink:href="#clock"></use></svg>
            <%= sb.timeFormat(d.meetingDetails.time, true) %>, <%= sb.getTime(d.meetingDetails.time) %>
        </div>
        <% } %>
    </div>
</div>
<% }); %>
<% } else{ %>
<div class="no-items">
    No notifications to show
</div>
<% } %>