<div class="menu-profile">
    <div class="menu-profile-img-dv">
        <img src="<%= data.picture %>" class="menu-profile-img" />
    </div>
    <div class="menu-profile-text">
        <div class="menu-profile-txt-nm"><%= data.name %></div>
        <div class="menu-profile-txt-dsgn"><%= data.designation %></div>
    </div>
</div>
<div class="menu-settings">
    <a href="#" class="menu-settings-dshbd-dv page-click">
        <div class="menu-settings-img menu-dashboard-icon"></div>
        <span class="menu-settings-txt">Dashboard</span>
    </a>
    <a href="#projects" class="menu-settings-dshbd-dv page-click">
        <div class="menu-settings-img menu-archive-icon"></div>
        <span class="menu-settings-txt">Projects</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-analytics-icon"></div>
        <span class="menu-settings-txt">Analytics</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-archive-icon"></div>
        <span class="menu-settings-txt">Archives</span>
    </a>
    <a href="#" class="menu-settings-dshbd-dv page-click hide">
        <div class="menu-settings-img menu-settings-icon"></div>
        <span class="menu-settings-txt">Settings</span>
    </a>
</div>