
<!-- Menu Header -->
<div class="menu-header">

</div>

<!-- Menu Projects Container -->
<div class="menu-projects-container">
   <p class="projects-hd"><a style="color: inherit;font-size: 0.8em;text-decoration: none;" href="#projects">Projects</a></p>
   <div class="menu-projects-section">

   </div>
</div>

<!-- Menu Recent -->
<div class="menu-recent">

    <div class="menu-recent-activity">
 		<p class="recent-hd">Recent Artefacts</p>
 		<div class="menu-recent-activity-section">

 		</div>
    </div>
    <div class="menu-recent-requests">
        <p class="recent-hd">Shared Artefacts</p>
        <div class="menu-recent-requests-section">

        </div>
    </div>
    <div class="menu-recent-notifications">
    	<p class="notifications-hd">Notifications</p>
    	<div class="menu-recent-notifications-section">

    	</div>
    </div>
    <div class="menu-recent-people">
   		<p class="people-hd">People</p>
   		<div class="menu-recent-people-section">

   		</div>
    </div>
</div>

<!-- Menu End -->
