<div class="cv-main-person">
	<div class="cv-person-left">
      <% if(data.profilePic && data.profilePic !== "assets/imgs/avatar.svg"){ %>
        <img class="profile-image-black" src="<%= data.profilePic %>"/>
        <% } else { %>
            <svg class="profile-image-black"><use xlink:href="#avatar"></use></svg>
        <% } %>

	</div>
	<div class="cv-person-right">
		<div class="cv-person-right-top">
			<div class="cv-person-name-holder">
				<span class="cv-person-name ellipsis"><%= data.user %></span>
				<span class="cv-person-time"><%= sb.timeFormat(data.time) %></span>
			</div>
			<% if(data.metaInfo){ %>
			<div class="cv-person-meta">
				<span class="cv-person-category">Typo</span>
				<span class="cv-person-status">Open</span>
			</div>
			<% } %>
			<% if(data['is_submitted'] === "0"){ %>
			<div class="cv-comment-actions">
				<div class="cv-comment-edit popup-click" data-url="edit-comment">
					<svg><use xlink:href="#edit"></use></svg>
				</div>
				<div class="cv-comment-delete popup-click" data-url="delete-comment">
					<svg><use xlink:href="#delete"></use></svg>
				</div>
			</div>
			<% } %>
		</div>
		<div class="cv-comment-detail"><%= data.description %></div>
		<% if(data.metaInfo){ %>
		<div class="cv-more-replys"><a href="#">+2 More</a></div>
		<% } %>
	</div>
</div>