<div class="comments-view-holder">
	<div class="comments-viewer-header">
		Comments Summary
		<div class="filter-icon"></div>
	</div>
	<div class="comments-view-section">
		<div class="comments-view-filter-section">
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Severities</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Severities"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Red"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Green"
						}) 
					%>
				</div>
			</div>
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Categories</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Categories"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Typo"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "IXD"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "UID"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "IA"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Persona"
						}) 
					%>
				</div>
			</div>
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Status</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Severities"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Addressed"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Open"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Reopened"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Closed"
						}) 
					%>
				</div>
			</div>
			<div class="buttons-section">
				<%= sb.toolbox.button({data: { cls: "main-btn", "label": "Apply Filters"}}) %>
			</div>
		</div>
		<div class="cv-comments-section">
			
			<div class="cv-comments-item">
				<div class="cv-main-person">
					<div class="cv-person-left">
						<img src="assets/imgs/avatar.svg" class="profile-image-red"/>
					</div>
					<div class="cv-person-right">
						<div class="cv-person-right-top">
							<span class="cv-person-name">Anurag</span>
							<span class="cv-person-time"> @ 1:00 PM</span>
							<span class="cv-person-meta">
								<span class="cv-person-category">Typo</span>
								<span class="cv-person-status">Open</span>
							</span>
						</div>
						<div class="cv-comment-detail">Please recheck the sentence formation, grammatical correction required</div>
						<div class="cv-more-replys"><a href="#">+2 More</a></div>
					</div>
				</div>
			</div>

			<div class="cv-comments-item">
				<div class="cv-main-person">
					<div class="cv-person-left">
						<img src="assets/imgs/avatar.svg" class="profile-image-blue"/>
					</div>
					<div class="cv-person-right">
						<div class="cv-person-right-top">
							<span class="cv-person-name">Anurag</span>
							<span class="cv-person-time"> @ 1:00 PM</span>
							<span class="cv-person-meta">
								<span class="cv-person-category">Typo</span>
								<span class="cv-person-status">Open</span>
							</span>
						</div>
						<div class="cv-comment-detail">Please recheck the sentence formation, grammatical correction required</div>
						<div class="cv-more-replys"><a href="#">+2 More</a></div>
					</div>
				</div>
			</div>
			
			<div class="cv-comments-item">
				<div class="cv-main-person">
					<div class="cv-person-left">
						<img src="assets/imgs/avatar.svg" class="profile-image-grey"/>
					</div>
					<div class="cv-person-right">
						<div class="cv-person-right-top">
							<span class="cv-person-name">Anurag</span>
							<span class="cv-person-time"> @ 1:00 PM</span>
							<span class="cv-person-meta">
								<span class="cv-person-category">Typo</span>
								<span class="cv-person-status">Open</span>
							</span>
						</div>
						<div class="cv-comment-detail">Please recheck the sentence formation, grammatical correction required</div>
						<div class="cv-more-replys"><a href="#">+2 More</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>