<%
	var severities = {
		"R": "red",
		"G": "green",
		"B": "blue"
	};

	var categories = {
		"I": "IxD",
		"T": "Typo",
		"U": "UID",
		"P": "Persona"
	};

	var states = {
		"O": "Open",
		"C": "Close",
		"R": "Resolved",
		"X": "Reopen",
		"D": "Deferred"
	};
%>
<div class="shape html-click" data-color='<%= severities[data.severity] || "red"%>' data-html-class="hide-comment-section" data-html-outside-click="false">
</div>
<div class="drpdwn drpdwn--severity html-click" data-html-target="this > .drpdwn-items" data-html-class="show">
	<div class="drpdwn-items">
		<div class="drpdwn-item" <% if(data.severity){ %> <% if(data.severity == "0"){ %>data-selected="true" <% } } else { %>data-selected="true" <% } %> data-value="red">
			<div class="drpdwn-item-icon drpdwn-item-icon__red"></div>
			<div class="drpdwn-item-text">Severity 1</div>
		</div>
		<div class="drpdwn-item" <% if(data.severity && data.severity == "1"){ %>data-selected="true" <% } %> data-value="blue">
			<div class="drpdwn-item-icon drpdwn-item-icon__blue"></div>
			<div class="drpdwn-item-text">Severity 2</div>
		</div>
		<div class="drpdwn-item" <% if(data.severity && data.severity == "2"){ %>data-selected="true" <% } %> data-value="green">
			<div class="drpdwn-item-icon drpdwn-item-icon__green"></div>
			<div class="drpdwn-item-text">Severity 3</div>
		</div>
	</div>
</div>
<div class="comment-section">
	<div class="comment-section-header">
		<div class="drpdwn drpdwn--category html-click" data-html-class="show" data-html-target="this > .drpdwn-items">
			<div class="drpdwn-selected-text"><%= categories[data.category] || "Typo" %></div>
			<div class="drpdwn-items">
				<div class="drpdwn-item">IxD</div>
				<div class="drpdwn-item">Typo</div>
				<div class="drpdwn-item">UID</div>
				<div class="drpdwn-item">Persona</div>
			</div>
		</div>
		<div class="drpdwn drpdwn--status html-click" data-html-class="show" data-html-target="this > .drpdwn-items">
			<div class="drpdwn-selected-text"><%= states[data.state] || "Open" %></div>
			<div class="drpdwn-items">
				<div class="drpdwn-item">Open</div>
				<div class="drpdwn-item">Close</div>
				<div class="drpdwn-item">Defer</div>
			</div>
		</div>
	</div>
	<div class="comment-section-body">
		<% for(var key in data.comments){ %>
		<%= sb.setTemplate('comment-item', data.comments[key]) %>
		<% } %>
		<div class="write-comment-section">
			<textarea class="write-comment" placeholder="Type your comment here"></textarea>
		</div>
		<div class="buttons-section">
			<div class="buttons-left-section">
				<%= sb.toolbox.checkbox({'text': "Private message"}) %>
			</div>
			<div class="buttons-right-section">
				<%= sb.toolbox.buttons({"data":{"buttons":[{"label":"Cancel","cls":"lnk-btn cancel-btn"},{"label":"Post","cls":"main-btn"}]}}) %>
			</div>
		</div>
	</div>
</div>