<div class="comments-view-holder">
	<div class="comments-viewer-header">
		Comments Summary
		<div class="filter-icon"></div>
	</div>
	<div class="comments-view-section">
		<div class="comments-view-filter-section">
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Severities</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Severities"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Red"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Green"
						}) 
					%>
				</div>
			</div>
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Categories</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Categories"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Typo"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "IXD"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "UID"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "IA"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Persona"
						}) 
					%>
				</div>
			</div>
			<div class="filter-checkboxes">
				<div class="filter-checkboxes-heading">Status</div>
				<div class="filter-checkboxes-content">
					<%= 
						sb.toolbox.checkbox({
							text: "All Severities"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Addressed"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Open"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Reopened"
						}) 
					%>
					<%= 
						sb.toolbox.checkbox({
							text: "Closed"
						}) 
					%>
				</div>
			</div>
			<div class="buttons-section">
				<%= sb.toolbox.button({data: { cls: "main-btn", "label": "Apply Filters"}}) %>
			</div>
		</div>
		<div class="cv-comments-section">
			
			<%= sb.setTemplate('comment-item') %>

			<%= sb.setTemplate('comment-item') %>

			<%= sb.setTemplate('comment-item') %>
		</div>
	</div>
</div>