<% var data = arguments[0] %>
<div class="cv-comments-item">
	<div class="cv-main-person">
		<div class="cv-person-left">
			<svg class="profile-image-comment"><use xlink:href="#avatar"></use></svg>
		</div>
		<div class="cv-person-right">
			<div class="cv-person-right-top">
				<div class="cv-person-name-holder">
					<span class="cv-person-name"><%= data.user %></span>
					<span class="cv-person-time"><%= sb.timeFormat(data.time) %></span>
				</div>
				<% if(data.metaInfo){ %>
				<div class="cv-person-meta">
					<span class="cv-person-category">Typo</span>
					<span class="cv-person-status">Open</span>
				</div>
				<% } %>
			</div>
			<div class="cv-comment-detail"><%= data.description %></div>
			<% if(data.metaInfo){ %>
			<div class="cv-more-replys"><a href="#">+2 More</a></div>
			<% } %>
		</div>
	</div>
</div>