<%
	var severities = {
		"R": "Severity 1",
		"G": "Severity 2",
		"B": "Severity 3"
	};

	var categories = {
		"I": "IxD",
		"T": "Typo",
		"U": "UID",
		"P": "Persona"
	};

	var states = {
		"O": "Open",
		"C": "Close",
		"R": "Resolved",
		"X": "Reopen",
		"D": "Deferred"
	};
%>
<div class="shape" data-type="severity" data-k-severity='<%= data.severity || "R" %>'>
</div>
<div class="drpdwn drpdwn--severity html-click" data-html-target="this > .drpdwn-items" data-html-class="show">
	<div class="drpdwn-items">
		<% var severityCounter = 1 %>
		<% for(var key in severities){ %>
		<div class="drpdwn-item" <% if(data.severity){ %> <% if(data.severity == "R"){ %>data-selected="true" <% } } else { if(severityCounter == 1) { %>data-selected="true" <% } } %> data-value="<%= key %>">
			<div class="drpdwn-item-icon drpdwn-item-icon__<%= key %>"></div>
			<div class="drpdwn-item-text"><%= severities[key] %></div>
			<% severityCounter++ %>
		</div>
		<% } %>
	</div>
</div>
<div class="comment-section">
	<div class="comment-section-header">
		<div class="drpdwn drpdwn--category html-click" data-type="category" data-k-category="<%= data.category %>" data-html-class="show" data-html-target="this > .drpdwn-items">
			<div class="drpdwn-selected-text"><%= categories[data.category] || categories["I"] %></div>
			<div class="drpdwn-items">
				<% for(var key in categories){ %>
				<div class="drpdwn-item" data-value="<%= key %>"><%= categories[key] %></div>
				<% } %>
			</div>
		</div>
		<div class="drpdwn drpdwn--status html-click" data-type="state" data-k-state="<%= data.state %>" data-html-class="show" data-html-target="this > .drpdwn-items">
			<div class="drpdwn-selected-text"><%= states[data.state] || states["O"] %></div>
			<div class="drpdwn-items">
				<% for(var key in states){ %>
				<div data-value="<%= key %>" class="drpdwn-item"><%= states[key] %></div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="comment-section-body">
		<% for(var key in data.comments){ %>
		<%= sb.setTemplate('comment-item', data.comments[key]) %>
		<% } %>
		<div class="write-comment-section">
			<textarea class="write-comment" placeholder="Type your comment here"></textarea>
		</div>
		<div class="buttons-section">
			<div class="buttons-left-section">
				<%  
					var privateObj = {
						'text': "Private message",
						"attr": {
							"data-k-is_private": data.is_private || 0,
							"class": "private-chk"
						}
					}
				%>
				<%
					if(data['is_private'] == "1"){
						privateObj.attr.checked = true;
					}
				%>
				<%= sb.toolbox.checkbox(privateObj) %>
			</div>
			<div class="buttons-right-section">
				<% var postObj = {
					"data": {
						"buttons": [{
							"label": "Cancel",
							"cls": "lnk-btn cancel-btn"
						},
						{
							"label": "Post",
							"cls": "main-btn"
						}]
					}
				}
				%>
				<%
					if(!data.newComment){
						postObj.data.buttons[1].disabled = "true";
					}
				%>
				<%= sb.toolbox.buttons(postObj) %>
			</div>
		</div>
	</div>
</div>