<div class="dv-tb-people-wrapper">
	<% if(data && data.sharedTo.length > 3){ %>
		<div class="left-slider">
			<svg><use xlink:href="#left-slider"></use></svg>
		</div>
	<% } %>
	<div class="dv-tb-people">
		<% _.each(data.sharedTo, function(p){ %>
		<% if(p.profilePic !== "ui/assets/imgs/avatar.svg"){ %>
			<img class="profile-image-black" src="<%= p.profilePic %>"/>
		<% } else { %>
			<svg class="profile-image-black"><use xlink:href="#avatar"></use></svg>
		<% } %>
		<% }); %>
	</div>
	<% if(data && data.sharedTo.length > 3){ %>
		<div class="right-slider">
			<svg><use xlink:href="#right-slider"></use></svg>
		</div>
	<% } %>
</div>
