<div class="each-tab">
<a href="#documentview/<%= maskedVersionId %>" class="tab-item selectedTab" targetRel="<%= data.artefact_version_id %>">
     <div class= "fileTab">
        <svg><use xlink:href="#file-tab"></use></svg>
    </div>
</a>
<div class="tab-artefact-info bar">
    <div>
      <div class="close-tab-icon">
        <svg class="close-tab">
          <use xlink:href="#tab-close"></use>
        </svg>
      </div>
      <a href="#projectpage/<%= data.project_id %>"><%= data.project_name  %> >  </a><%= data.artefact_name  %>
    </div>
</div>
</div>
