<div calss="each-tab">
<a href="#documentview/<%= maskedVersionId %>" class="tab-item selectedTab" targetRel="<%= data.versionId %>">
    <div class= "fileTab">
        <svg><use xlink:href="#file-tab"></use></svg>
    </div>
</a>
<div class="tab-artefact-info bar">
    <div>
      <div class="close-tab-icon">
        <svg class="close-tab">
          <use xlink:href="#tab-close"></use>
        </svg>
      </div>
      <a href="#projectpage/<%= data.projId %>"><%= data.projName  %> >  </a><%= data.artTitle  %>
    </div>
</div>
</div>
