<div class="content-wrapper">
    <div class="project-section">
		<div class="project-heading">
			<div class="projects-heading-icon"></div>
			<span class="heading-text-project">Projects > </span>
			<span class="heading-text-project-name"><%= Kenseo.page.data.project.name %></span>
			<div class="main-section-project-icon-holder toggle-click sub-menu-nav inlineBlockTop">
				<div class="sub-heading-more-icon"></div>
				<div class="sub-menu-holder right-nav bottom-nav">
					<div class="sub-menu-item popup-click" data-url="add-artefact" data-index="1">Add an Artefact</div>
					<div class="sub-menu-item popup-click" data-url="add-people">Add People</div>
					<div class="sub-menu-item popup-click" data-url="create-meeting">Create a Meeting</div>
					<div class="sub-menu-item">Share a Project</div>
					<div class="sub-menu-item">Archive a Project</div>
					<div class="sub-menu-item">Delete a Project</div>
				</div>
			</div>
		</div>
		<div class="project-section-content">
			<div class="artifacts-section review-requests-content sub-section">
				
			</div>

			<div class="activity-section sub-section">
				
			</div>
			<div class="people-section sub-section">
				
			</div>

		</div>
	</div>
</div>