<div class="menu-profile">
    <div class="menu-profile-img-dv">
        <img src="assets/imgs/profilepic.png" class="menu-profile-img" />
    </div>
    <div class="menu-profile-text">
        <div class="menu-profile-txt-nm">Prakash Gidgu</div>
        <div class="menu-profile-txt-dsgn">UX Designer</div>
    </div>
</div>
<div class="menu-settings">
    <div class="menu-settings-dv">
        <img src="assets/imgs/settings.svg" class="menu-settings-img" />
        <span class="menu-settings-txt">Settings</span>
    </div>
    <div class="menu-settings-dshbd-dv">
        <img src="assets/imgs/dashboard.svg" class="menu-settings-img" />
        <span class="menu-settings-txt">Dashboard</span>
    </div>
</div>