<p class="notifications-hd">Notifications</p>
<div class="menu-notifications-cnt">

    <div class="menu-notifications-img-dv">
        <img src="assets/imgs/one.svg" class="menu-notifications-img" />
    </div>
    <div class="menu-notifications-txt">
        <span class="menu-notifications-txt-nm">Conflux:Designer</span>
        <span class="menu-notifications-txt-tm">12:00AM from Prakash</span>
        <div class="menu-notifications-txt-dttme">
            <img src="assets/imgs/clock.svg" class="menu-notifications-txt-dttme-img" />4 Mar, 4:00PM
        </div>
    </div>
</div>

<div class="menu-notifications-cnt">

    <div class="menu-notifications-img-dv">
        <img src="assets/imgs/baloon1.svg" class="menu-notifications-img" />
    </div>
    <div class="menu-notifications-txt">
        <span class="menu-notifications-txt-nm">Vsoft:ACH Transfer</span>
        <span class="menu-notifications-txt-tm">10:00AM from Vani</span>

    </div>
</div>
<div class="menu-notifications-cnt">

    <div class="menu-notifications-img-dv">
        <img src="assets/imgs/one.svg" class="menu-notifications-img" />
    </div>
    <div class="menu-notifications-txt">
        <span class="menu-notifications-txt-nm">Conflux:Designer</span>
        <span class="menu-notifications-txt-tm">12:00AM from Prakash</span>
        <div class="menu-notifications-txt-dttme">
            <img src="assets/imgs/clock.svg" class="menu-notifications-txt-dttme-img" /> 4 Mar, 4:00PM
        </div>
    </div>
</div>