<div class="menu-profile">
    <div class="menu-profile-img-dv">
        <img src="<%= data.picture %>" class="menu-profile-img" />
    </div>
    <div class="menu-profile-text">
        <div class="menu-profile-txt-nm"><%= data.name %></div>
        <div class="menu-profile-txt-dsgn"><%= data.designation %></div>
    </div>
</div>
<div class="menu-settings">
    <div class="menu-settings-dshbd-dv">
        <div class="menu-settings-img menu-dashboard-icon"></div>
        <span class="menu-settings-txt">Dashboard</span>
    </div>
    <div class="menu-settings-dshbd-dv">
        <div class="menu-settings-img menu-analytics-icon"></div>
        <span class="menu-settings-txt">Analytics</span>
    </div>
    <div class="menu-settings-dshbd-dv">
        <div class="menu-settings-img menu-archive-icon"></div>
        <span class="menu-settings-txt">Archives</span>
    </div>
    <div class="menu-settings-dshbd-dv">
        <div class="menu-settings-img menu-settings-icon"></div>
        <span class="menu-settings-txt">Settings</span>
    </div>
</div>