
<div class="sub-heading-section">
	<div class="artifacts-heading sub-heading">
		<div class="sub-heading-label">Artifacts</div>
		<div class="sub-heading-add-icon"></div>
	</div>
</div>
<div class="artifacts-content sub-section-content">
	<div class="review-requests-content">
		<div class="review-request-item">
			<div class="rr-left">
				<div class="rr-status status-critical">IxD</div>
				<div class="rr-owner-image"></div>
			</div>
			<div class="rr-right">
				<div class="rr-title">Conflux Mapping Editor Doc</div>
				<div class="rr-details">Prakash posts @ 1:00 PM</div>
				<div class="rr-state-details">
					<div class="rr-state">On Hold</div>
					<div class="rr-comment">122</div>
				</div>
			</div>
		</div>
		<div class="review-request-item">
			<div class="rr-left">
				<div class="rr-status status-normal">IxD</div>
				<div class="rr-owner-image"></div>
			</div>
			<div class="rr-right">
				<div class="rr-title">Conflux Mapping Editor Doc</div>
				<div class="rr-details">Prakash posts @ 1:00 PM</div>
				<div class="rr-state-details">
					<div class="rr-state">On Hold</div>
					<div class="rr-comment">122</div>
				</div>
			</div>
		</div>

		<div class="review-request-item">
			<div class="rr-left">
				<div class="rr-status status-approved">IxD</div>
				<div class="rr-owner-image"></div>
			</div>
			<div class="rr-right">
				<div class="rr-title">Conflux Mapping Editor Doc</div>
				<div class="rr-details">Prakash posts @ 1:00 PM</div>
				<div class="rr-state-details">
					<div class="rr-state">On Hold</div>
					<div class="rr-comment">122</div>
				</div>
			</div>
		</div>
	</div>
</div>