
<!-- Menu Header -->
<div class="menu-header">
    <div class="menu-profile">
        <div class="menu-profile-img-dv">
            <img src="assets/imgs/profilepic.png" class="menu-profile-img" />
        </div>
        <div class="menu-profile-text">
            <div class="menu-profile-txt-nm">Prakash Gidgu</div>
            <div class="menu-profile-txt-dsgn">UX Designer</div>
        </div>
    </div>
    <div class="menu-settings">
        <div class="menu-settings-dv">
            <img src="assets/imgs/settings.svg" class="menu-settings-img" />
            <span class="menu-settings-txt">Settings</span>
        </div>
        <div class="menu-settings-dshbd-dv">
            <img src="assets/imgs/dashboard.svg" class="menu-settings-img" />
            <span class="menu-settings-txt">Dashboard</span>
        </div>
    </div>
</div>

<!-- Menu Projects Container -->
<div class="menu-projects-container">
    <p class="projects-hd">Projects</p>
    <div class="projects-img-dv">
        <img src="http://lorempixel.com/nature/188/118" class="menu-project-img" />
        <span class="projects-img-dv-txt">Edgefx landing page</span>
    </div>
    <div class="projects-img-dv">
        <img src="http://lorempixel.com/food/188/118" class="menu-project-img" />
        <span class="projects-img-dv-txt">Balfour Image Share</span>
    </div>
    <div class="projects-img-dv">
        <img src="http://lorempixel.com/cats/188/118" class="menu-project-img" />
        <span class="projects-img-dv-txt">Manage MY Spa</span>
    </div>
</div>

<!-- Menu Recent -->
<div class="menu-recent">

    <div class="menu-recent-activity">
        <p class="recent-hd">Recent Activity</p>
        <div class="menu-recent-cnt">
            <div class="menu-recent-img-dv"><img src="assets/imgs/addfile.svg" class="menu-recent-img" />
            </div>
            <div class="menu-recent-cnt-txt">Balfour
                <br>Image Share</div>
        </div>

        <div class="menu-recent-cnt">
            <div class="menu-recent-img-dv">
                <img src="assets/imgs/file11.svg" class="menu-recent-img" />
            </div>
            <div class="menu-recent-cnt-txt">
                Vsoft<br>AHC tansfer
            </div>
        </div>

        <div class="menu-recent-cnt">
            <div class="menu-recent-img-dv"><img src="assets/imgs/file12.svg" class="menu-recent-img" />
            </div>
            <div class="menu-recent-cnt-txt">Conflux
                <br>Mapping editor</div>
        </div>
    </div>
    <div class="menu-recent-requests">
        <p class="requests-hd">Requests (4)</p>
        <div class="menu-requests-cnt">
            <div class="menu-requests-img-dv">
                <img src="assets/imgs/file13.svg" class="menu-requests-img" />
            </div>
            <div class="menu-requests-txt">
                <span class="menu-requests-txt-nm">Conflux:Mapping editor</span>
                <span class="menu-requests-txt-tm">Prakash posts @ 10:00PM</span>
            </div>
        </div>
        <div class="menu-requests-cnt">
            <div class="menu-requests-img-dv">
                <img src="assets/imgs/file13.svg" class="menu-requests-img" />
            </div>
            <div class="menu-requests-txt">
                <span class="menu-requests-txt-nm">Conflux:Designer</span>
                <span class="menu-requests-txt-tm">Prakash posts @ 1:30PM</span>
            </div>
        </div>
        <div class="menu-requests-cnt">
            <div class="menu-requests-img-dv">
                <img src="assets/imgs/file13.svg" class="menu-requests-img" />
            </div>
            <div class="menu-requests-txt">
                <span class="menu-requests-txt-nm">Edgefx: Cart</span>
                <span class="menu-requests-txt-tm">Prakash posts @ 2:10PM</span>
            </div>
        </div>
    </div>
    <div class="menu-recent-notifications">
        <p class="notifications-hd">Notifications</p>
        <div class="menu-notifications-cnt">

            <div class="menu-notifications-img-dv">
                <img src="assets/imgs/one.svg" class="menu-notifications-img" />
            </div>
            <div class="menu-notifications-txt">
                <span class="menu-notifications-txt-nm">Conflux:Designer</span>
                <span class="menu-notifications-txt-tm">12:00AM from Prakash</span>
                <div class="menu-notifications-txt-dttme">
                    <img src="assets/imgs/clock.svg" class="menu-notifications-txt-dttme-img" />4 Mar, 4:00PM
                </div>
            </div>
        </div>

        <div class="menu-notifications-cnt">

            <div class="menu-notifications-img-dv">
                <img src="assets/imgs/baloon1.svg" class="menu-notifications-img" />
            </div>
            <div class="menu-notifications-txt">
                <span class="menu-notifications-txt-nm">Vsoft:ACH Transfer</span>
                <span class="menu-notifications-txt-tm">10:00AM from Vani</span>

            </div>
        </div>
        <div class="menu-notifications-cnt">

            <div class="menu-notifications-img-dv">
                <img src="assets/imgs/one.svg" class="menu-notifications-img" />
            </div>
            <div class="menu-notifications-txt">
                <span class="menu-notifications-txt-nm">Conflux:Designer</span>
                <span class="menu-notifications-txt-tm">12:00AM from Prakash</span>
                <div class="menu-notifications-txt-dttme">
                    <img src="assets/imgs/clock.svg" class="menu-notifications-txt-dttme-img" /> 4 Mar, 4:00PM
                </div>
            </div>
        </div>

    </div>
    <div class="menu-recent-people">
        <p class="people-hd">People</p>
        <div class="menu-recent-people-cnt">
            <img src="assets/imgs/profilepic1.png" class="menu-people-img" />
        </div>
        <div class="menu-recent-people-cnt">
            <img src="assets/imgs/profilepic2.png" class="menu-people-img" />
        </div>
        <div class="menu-recent-people-cnt">
            <img src="assets/imgs/profilepic3.png" class="menu-people-img" />
        </div>
    </div>
</div>

<!-- Menu End -->