
<div class="share-artefact-people-item" data-id="<%= data.user_id %>">
	<div class="share-artefacts-img-holder">
		<img class="share-artefacts-img " src=<%= data.picture%> />
	</div>
	<span class="share-artefacts-text"><%= data.name %></span>
	<div class="share-artefact-people-item-section">
		<div class="share-artefact-right-panel">
			<div class="sarp-text">Can Add comments</div>
			<label class="toggle-checkbox">
				<input type="checkbox"></input><span></span>
			</label>
		</div>
		<div class="share-artefact-right-panel">
			<div class="sarp-text">Share with others</div>
			<label class="toggle-checkbox">
				<input type="checkbox"></input><span></span>
			</label>
		</div>
		<div class="sarp-checkbox-holder">
			<label class="checkbox">
				<input type="checkbox"></input><span>Apply to all users in this group</span>
			</label>
		</div>
	</div>
</div>